{% extends 'employer-base.html' %}
{% load crispy_forms_tags %}
{% block accounts_section %}
{% include 'sections/title-banner.html' with page_name='Email Address Update' %}
{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-ab' section_id='email-update-section' %}
{% include 'components/crispy-form-error.html' %}
<div class="row">
    <div class="col mb-2 mb-md-3">
        <form method="post" enctype="multipart/form-data">
            <h5>Please Update your Email</h5>
            {% crispy form %}
        </form>
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}
{% endblock accounts_section %}