{% extends 'employer-base.html' %}
{% block accounts_section %}
{% include 'sections/title-banner.html' with page_name='Profile' %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-8 text-center">
                {{employer.name}}
            </div>
            <div class="col-16">
                <h5>Information</h5>
                <hr>
                <div class="row">
                    <div class="col-12">
                        {{employer.user.email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'potential_employer_update' %}" class="btn btn-xs-lg btn-primary">Edit
                            Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock accounts_section %}