{% extends 'employer-base.html' %}
{% load crispy_forms_tags %}
{% block accounts_section %}
{% if validlink %}
{% include 'components/crispy-form-error.html' %}
<div class="container">
    <h3>Change password</h3>
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
        <button class="btn btn-xs-lg btn-primary" type="submit">Change password</button>
    </form>
</div>
{% else %}
<div class="container">
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
</div>
{% endif %}
{% endblock accounts_section %}