{% extends 'employer-base.html' %}
{% block accounts_section %}
{% include 'sections/title-banner.html' with page_name='Password Reset' %}
{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-ab' section_id='password-reset-section' %}
<div class="row">
    <div class="col">
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}
{% endblock accounts_section %}