{% extends 'employer-base.html' %}
{% block accounts_section %}
{% include 'sections/title-banner.html' with page_name='Password Reset Complete' %}
{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-ab' section_id='password-reset-complete-section' %}
<div class="row">
    <div class="col">
        <p>Your password has been set.</p>
        <a href="{% url 'sign_in' %}" class="btn btn-xs-lg btn-primary">Potential Employers</a>
        <a href="{% url 'agency_sign_in' %}" class="btn btn-xs-lg btn-primary">Agency Staff</a>
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}
{% endblock accounts_section %}