{% extends 'employer-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block accounts_section %}
{% include 'sections/title-banner.html' with page_name='User Sign Up' %}
<div class="container-fluid">
    {% if form.errors %}
    <div class="row">
        <div class="col">
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-10 col-lg-8 col-xl-6-5 mb-md-3 mb-lg-4 mb-xl-5">
            <div class="row">
                <div class="col-md-6 col-lg-5 py-md-4">
                    <div class="row">
                        <div class="col mb-2">
                            <h5>Sign up with email</h5>
                        </div>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% crispy form %}
                    </form>
                </div>
                <div class="col-2">
                    <div class="vertical-divider mx-auto d-none d-md-block">
                    </div>
                    <hr class="d-md-none">
                </div>
                <div class="col pb-md-4 my-auto">
                    <div class="row">
                        <div class="col text-center">
                            <div class="row">
                                <div class="col">
                                    <p class="text-muted">Or login with</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary w-100">
                                        <span>Google</span>
                                        {% comment %}<i class="fab fa-google fa-2x"></i>{% endcomment %}
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary w-100">
                                        <span>Facebook</span>
                                        {% comment %}<i class="fab fa-facebook-square fa-2x"></i>{% endcomment %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col my-4">
                    <p class="small text-dark">
                        In accordance to EA Licence Condition #17, users must sign up to view information of domestic helpers.
                        Alternatively, users may send in their enquiries, which does not require a sign up.
                        Agencies on this platform will revert within 1-2 working days.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center my-2 my-md-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="small text-dark">The form above is for users. If you are an agency, please click via the link below to register with us.</p>
                        </div>
                        <div class="col-md-5 my-3 mx-auto">
                            <a href="{% url 'agency_sign_up' %}" class="btn btn-outline-primary w-100">Create an agency account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock accounts_section %}