{% extends 'employer-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block accounts_section %}
{% include 'sections/title-banner.html' with page_name='User Sign Up' %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col py-4">
                    <form method="post" enctype="multipart/form-data">
                        {% crispy form %}
                    </form>
                </div>
                <div class="col-2">
                    <div class="vertical-divider mx-auto">
                    </div>
                </div>
                <div class="col pb-4 my-auto">
                    <div class="row">
                        <div class="col text-center">
                            <div class="row">
                                <div class="col">
                                    <p class="text-muted">OR SIGN IN WITH</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary w-100">
                                        <span>Google</span>
                                        {% comment %}<i class="fab fa-google fa-2x"></i>{% endcomment %}
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary w-100">
                                        <span>Facebook</span>
                                        {% comment %}<i class="fab fa-facebook-square fa-2x"></i>{% endcomment %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center my-2 my-md-3">
                    <div class="row">
                        <div class="col my-2 mt-4">
                            <p class="text-muted">Agencies</p>
                            <a href="{% url 'sign_in' %}" class="btn btn-outline-primary">Log In Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock accounts_section %}