{% extends 'employer-base.html' %}
{% load crispy_forms_tags %}
{% block accounts_section %}
    <div class="container my-auto">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <h1>Agency Sign In</h1>
        <form method="post" enctype="multipart/form-data">
            {% crispy form %}
            <a href="{% url 'password_reset' %}">Forget your password?</a>
        </form>
    </div>
{% endblock accounts_section %}