{% extends 'employer-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block accounts_section %}
{% include 'sections/title-banner.html' with page_name='Agency Log In' %}
{% include 'components/45-ws-section/start.html' with bg_color='bg-custom-ab' section_id='account-section' %}
{% include 'components/crispy-form-error.html' %}
<form method="post" enctype="multipart/form-data">
    {% crispy form %}
</form>
{% include 'components/form-footer.html' with page_name='Agency Login' %}
{% include 'components/45-ws-section/end.html' %}
{% endblock accounts_section %}