{% extends 'agency-base.html' %}
{% load static %}
{% load agency_tags %}
{% block agency_section %}
{% include 'sections/title-banner.html' with page_name='Agency Details' %}
<section>
    <div class="container">
        <div class="row mb-5">
            <div class="col-5 border" style="background-image: url({{agency.logo.url}}); height: 20vh; background-size: contain; background-repeat: no-repeat; background-position: center;">
            </div>
            <div class="col-5 offset-2 pt-4" id="agencyInformationGroup">
                <h5 class="fs-16">{{agency.name}}</h5>
                <p class="fs-11">License Number: {{agency.license_number}}</p>
                <a href="{{agency.website_uri}}">{{agency.website_uri}}</a>
            </div>
        </div>
        <hr class="my-5" style="margin-left: -5.3rem; margin-right: -5.3rem;">
        <div class="row">
            <div class="col-md-6 mb-4" id="agencyOutletDetailsGroup">
                <div class="row">
                    <div class="col mb-lg-3 mb-xl-4">
                        <div class="row">
                            <div class="col">
                                <h5 class="fs-14">Main Branch</h5>
                                <p class="fs-11">
                                    {{agency.get_main_branch.address_1}} <br>
                                    {{agency.get_main_branch.address_2}} <br>
                                    Singapore {{agency.get_main_branch.postal_code}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-3">
                                        Office No:
                                    </div>
                                    <div class="col">
                                        {{agency.get_main_branch.office_number}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        Mobile No:
                                    </div>
                                    <div class="col">
                                        {{agency.get_main_branch.mobile_number}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        EA Personnel:
                                    </div>
                                    <div class="col">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for branch in agency.get_branches %}
                <div class="row">
                    <div class="col mb-lg-3 mb-xl-4">
                        <div class="row">
                            <div class="col">
                                <h5 class="fs-14">{{branch.name|title}}</h5>
                                <p class="fs-11">
                                    {{branch.address_1}} <br>
                                    {{branch.address_2}} <br>
                                    Singapore {{branch.postal_code}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-2">
                                        Office No:
                                    </div>
                                    <div class="col">
                                        {{branch.office_number}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        Mobile No:
                                    </div>
                                    <div class="col">
                                        {{branch.mobile_number}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        EA Personnel:
                                    </div>
                                    <div class="col">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-4" id="agencyOpeningHoursGroup">
                <h5 class="fs-14">Opening Hours</h5>
                {% if agency.opening_hours.type == 'AO' %}
                <p>Appointment Only</p>
                {% else %}
                <p>Monday: {% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.monday_start}} - {{agency.opening_hours.monday_end}}{% endif %}</p>
                <p>Tuesday: {% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.tuesday_start}} - {{agency.opening_hours.tuesday_end}}{% endif %}</p>
                <p>Wednesday: {% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.wednesday_start}} - {{agency.opening_hours.wednesday_end}}{% endif %}</p>
                <p>Thursday: {% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.thursday_start}} - {{agency.opening_hours.thursday_end}}{% endif %}</p>
                <p>Friday: {% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.friday_start}} - {{agency.opening_hours.friday_end}}{% endif %}</p>
                <p>Saturday: {% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.saturday_start}} - {{agency.opening_hours.saturday_end}}{% endif %}</p>
                <p>Sunday: {% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.sunday_start}} - {{agency.opening_hours.sunday_end}}{% endif %}</p>
                <p>Public Holidays: {% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.public_holiday_start}} - {{agency.opening_hours.public_holiday_end}}{% endif %}</p>
                {% endif %}
            </div>
            <div class="col-md-6" id="agencyProfileGroup">
                <h5 class="fs-14">Profile</h5>
                <p class="fs-11">{{agency.profile}}</p>
            </div>
            <div class="col-md-6" id="agencyServicesGroup">
                <h5 class="fs-14">Our Services</h5>
                <p class="fs-11">{{agency.services}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col mb-4">
                <h4>Avaliable Maids</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if request.user.is_authenticated %}
                <div class="maid-carousel">
                    {% for maid in agency.maid.all %}
                        {% include 'components/maid-card.html' with maid=maid %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="row">
                    <div class="col text-center">
                        <img src="{% static 'images/featured-maids.png' %}" alt="Featured Maid Image" class="img-fluid blurred-image">
                        <div class="featured-maids-overlay">
                            <div class="jumbotron jumbotron-fluid bg-transparent">
                                <div class="container text-center">
                                <h3 class="display-4">Log in to view biodata</h3>
                                <a href="{% url 'sign_in' %}" class="btn btn-primary"><h5 class="mb-0">Log in</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock agency_section %}