{% extends 'components/nav/mini-navs/base-mini-nav.html' %}
{% block mini_nav_section %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link" href="#agencyInformationGroup">
                <p class="m-1 pl-2">Agency Information</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link" href="#agencyOutletDetailsGroup">
                <p class="m-1 pl-2">Outlet Details</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link" href="#agencyOpeningHoursGroup">
                <p class="m-1 pl-2">Opening Hours</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link" href="#agencyProfileGroup">
                <p class="m-1 pl-2">Profile</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link" href="#agencyServicesGroup">
                <p class="m-1 pl-2">Our Services</p>
            </a>
        </div>
    </div>
{% endblock mini_nav_section %}