{% extends 'components/nav/mini-navs/base-mini-nav.html' %}
{% block mini_nav_section %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% if url_name != 'case_create_route' %}{% url 'case_update_route' level_1_pk=level_1_pk %}{% else %}#{% endif %}">
                <p class="m-1 pl-2">Case Information</p>
            </a>
        </div>
    </div>
    {% if url_name != 'case_create_route' %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% url 'servicefee_update_route' level_1_pk=level_1_pk %}">
                <p class="m-1 pl-2">Service Fee Schedule</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% url 'serviceagreement_update_route' level_1_pk=level_1_pk %}">
                <p class="m-1 pl-2">Service Agreement</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% url 'serviceagreement_update_route' level_1_pk=level_1_pk %}">
                <p class="m-1 pl-2">Employment Contract</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% url 'case_status_update_route' level_1_pk=level_1_pk %}">
                <p class="m-1 pl-2">Status</p>
            </a>
        </div>
    </div>
    {% if maid_type == 'NEW' %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% url 'safetyagreement_update_route' level_1_pk=level_1_pk %}">
                <p class="m-1 pl-2">Safety Agreement</p>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% url 'docupload_update_route' level_1_pk=level_1_pk %}">
                <p class="m-1 pl-2">View PDF documents</p>
            </a>
        </div>
    </div>
    {% endif %}
{% endblock mini_nav_section %}