{% extends 'components/nav/mini-navs/base-mini-nav.html' %}
{% block mini_nav_section %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% if url_name == 'employer_create_route' %}{% url 'employer_create_route' %}{% else %}{% url 'employer_update_route' level_0_pk %}{% endif %}">
                <p class="fs-11 m-1 pl-2">Employer Info</p>
            </a>
        </div>
    </div>
    {% if type_of_applicant == 'SPONSR' %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% url 'employer_sponsor_create_route' level_0_pk %}">
                <p class="fs-11 m-1 pl-2">Sponsor 1 Info</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% url 'employer_sponsor_create_route' level_0_pk %}">
                <p class="fs-11 m-1 pl-2">Sponsor 2 Info</p>
            </a>
        </div>
    </div>
    {% endif %}
    {% if type_of_applicant == 'JNT_AP' %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% if url_name == 'employer_create_route' %}#{% else %}{% url 'employer_jointapplicant_create_route' level_0_pk %}{% endif %}">
                <p class="fs-11 m-1 pl-2">Joint Info</p>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% if url_name == 'employer_create_route' %}#{% else %}{% url 'employer_incomedetails_create_route' level_0_pk %}{% endif %}">
                <p class="fs-11 m-1 pl-2">Income Details</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight" href="{% if url_name == 'employer_create_route' %}#{% else %}{% url 'employer_householddetails_route' level_0_pk %}{% endif %}">
                <p class="fs-11 m-1 pl-2">Household Details</p>
            </a>
        </div>
    </div>
{% endblock mini_nav_section %}