{% extends 'components/nav/mini-navs/base-mini-nav.html' %}
{% block mini_nav_section %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_information_create' or url_name == 'dashboard_maid_information_update' %}active{% endif %}" href="{% if not new_maid %}{% url 'dashboard_maid_information_update' maid_id %}{% else %}#{% endif %}">
                <p class="fs-11 m-1 pl-2">FDW Information</p>
            </a>
        </div>
    </div>
    {% if url_name != 'dashboard_maid_information_create' %}
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_language_spoken_update' %}active{% endif %}" href="{% if not new_maid %}{% url 'dashboard_maid_languages_and_fhpdr_update' maid_id %}{% else %}#{% endif %}">
                <p class="fs-11 m-1 pl-2">Spoken Language</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_languages_and_fhpdr_update' %}active{% endif %}" href="{% if not new_maid %}{% url 'dashboard_maid_languages_and_fhpdr_update' maid_id %}{% else %}#{% endif %}">
                <p class="fs-11 m-1 pl-2">Food Handling</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_experience_update' %}active{% endif %}" href="{% if not new_maid %}{% url 'dashboard_maid_experience_update' maid_id %}{% else %}#{% endif %}">
                <p class="fs-11 m-1 pl-2">Experience</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_employment_history_update' %}active{% endif %}" href="{% if not new_maid %}{% url 'dashboard_maid_employment_history_update' maid_id %}{% else %}#{% endif %}">
                <p class="fs-11 m-1 pl-2">Employment History</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_about_fdw_update' %}active{% endif %}" href="{% if not new_maid %}{% url 'dashboard_maid_about_fdw_update' maid_id %}{% else %}#{% endif %}">
                <p class="fs-11 m-1 pl-2">About FDW</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link mini-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_loan_update' %}active{% endif %}" href="{% if not new_maid %}{% url 'dashboard_maid_loan_update' maid_id %}{% else %}#{% endif %}">
                <p class="fs-11 m-1 pl-2">FDW Loan</p>
            </a>
        </div>
    </div>
    {% endif %}
{% endblock mini_nav_section %}