{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid" style="min-height: 75vh;">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <h5 class="fs-14">Outlet Details</h5>
                </div>
            </div>
            {% crispy form helper %}
            <div class="row form-row">
                <div class="col-24 my-2 text-center">
                    <button class="btn btn-xs-lg btn btn-xs-lg-outline-success w-50 mb-2" id="addButton">Add Outlet</button>
                </div>
                <div class="col-24 my-2 text-center">
                    <input type="hidden" name="submitFlag" class="form-control" id="submitFlag">
                    <a href="{% url 'dashboard_agency_information_update' %}" class="btn btn-xs-lg btn btn-xs-lg-outline-primary w-25 mb-2 mx-2">Back</a>
                    <button type="submit" id="submitButton" class="btn btn-xs-lg btn-primary w-25 mb-2 mx-2">Next</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock dashboard_section %}
{% block js %}
<script>
    $(function(){
        $("#addOutletButton").on('click', function(e){
            this.form.submit();
        })
        $("#submitButton").on('click', function(e){
            e.preventDefault();
            $("#submitFlag").val('True');
            this.form.submit();
        })
    })
</script>
{% endblock js %}