@media (min-width: 768px) and (max-width: 991.98px) {
    .w-md-25 {
        width: 25%!important;
    }
    .w-md-50 {
        width: 50%!important;
    }
    .w-md-75 {
        width: 75%!important;
    }
    .w-md-100 {
        width: 100%!important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .w-lg-25 {
        width: 25%!important;
    }
    .w-lg-50 {
        width: 50%!important;
    }
    .w-lg-75 {
        width: 75%!important;
    }
    .w-lg-100 {
        width: 100%!important;
    }
}

@media (min-width: 1200px) {
    .w-xl-25 {
        width: 25%!important;
    }
    .w-xl-50 {
        width: 50%!important;
    }
    .w-xl-75 {
        width: 75%!important;
    }
    .w-xl-100 {
        width: 100%!important;
    }
}
