.bg-primary1 {
  background-color: #3066be;
}

.bg-dark1 {
  background-color: #08090a;
}

.bg-secondary1 {
  background-color: #C20114;
}

.bg-third1 {
  background-color: #23CE6B;
}

.bg-hero {
  background-image: url("/static/images/home-page-bg.jpg");
  background-size: cover;
  background-position: center;
}

.bg-featured-maids {
  background-image: url("/static/images/featured-banner.png");
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .bg-featured-maids {
    background-position: center;
  }
}

.bg-faq {
  background-image: url("/static/svgs/faq.svg");
  background-size: cover;
  background-position: center;
}

.bg-enquiry-banner {
  background-image: url("/static/images/home-page-bg.jpg");
  background-size: cover;
  background-position: center;
}

.faq-item.active {
  color: #007bff;
  background-color: #fff;
  border-bottom-color: #007bff;
  border-width: 0 0 1px 0;
}

.faq-item + .faq-item.active {
  border-top-color: #dee2e6;
}

.list-group-flush > .faq-item:last-child {
  border-bottom-width: 1px;
}

ol.breadcrumb {
  background: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Rubik', sans-serif;
}

button.mini-faq-button:focus {
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.mini-faq-button:hover {
  text-decoration: none;
}

button.mini-faq-button.collapsed i {
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  -webkit-transition: transform 0.25s ease;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

button.mini-faq-button i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform 0.25s ease;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.side-nav-link {
  color: inherit !important;
  border-radius: .5rem;
}

.side-nav-link.active {
  background-color: #3066be;
}

.side-nav-link.active p {
  color: #fff;
}

.side-nav-link:hover:not(.active) {
  background-color: #85c7f2;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.custom-card {
  padding: 1.75rem;
  margin: 0 0 1.5rem 0;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 16px 40px rgba(59, 123, 196, 0.2);
          box-shadow: 0px 16px 40px rgba(59, 123, 196, 0.2);
}

.custom-card__header {
  margin: 0 0 1rem 0;
}

#maid-profile-card {
  width: 300px !important;
}

#maid-profile-card .custom-card {
  padding: 1rem;
  margin: 0 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 16px 40px rgba(59, 123, 196, 0.2);
          box-shadow: 0px 16px 40px rgba(59, 123, 196, 0.2);
}

#maid-profile-card .custom-card__header {
  margin: 0 0 1rem 0;
}
/*# sourceMappingURL=style.css.map */