.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    /* min-height: 100vh; */
    /* background: #c4d3f6; */

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 10px;
}

.wrap-table100 {
    width: 980px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .table {
        display: block;
    }
}

.table-row {
    display: table-row;
    background: #fff;
}

.table-row.header {
    color: #ffffff;
    background: #6c7ae0;
}

@media screen and (max-width: 768px) {
    .table-row {
        display: block;
    }

    .table-row.header {
        padding: 0;
        height: 0px;
    }

    .table-row.header .cell {
        display: none;
    }

    .table-row .cell:before {
        font-family: Poppins-Bold;
        font-size: 12px;
        color: #808080;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: unset !important;

        margin-bottom: 13px;
        content: attr(data-title);
        min-width: 98px;
        display: block;
    }
}

.cell {
    display: table-cell;
}

@media screen and (max-width: 768px) {
    .cell {
        display: block;
    }
}

.table-row .cell {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.table-row.header .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 19px;
    padding-bottom: 19px;
}

/* Table cell width management */

/* FDW Biodata table  */
.fdw-table-row .cell:nth-child(1) {
    width: 60px;
    padding-left: 10px;
}

.fdw-table-row .cell:nth-child(2) {
    width: 100px;
}

.fdw-table-row .cell:nth-child(3) {
    width: 110px;
}

.fdw-table-row .cell:nth-child(4) {
    width: 130px;
}

.fdw-table-row .cell:nth-child(5) {
    width: 90px;
}

.fdw-table-row .cell:nth-child(6) {
    width: 100px;
}

.fdw-table-row .cell:nth-child(7) {
    width: 95px;
}

.fdw-table-row .cell:nth-child(8) {
    width: 95px;
}

.fdw-table-row .cell:nth-child(9) {
    width: 110px;
}

.fdw-table-row .cell:nth-child(10) {
    width: 90px;
}

.account-table-row .cell:nth-child(1) {
    width: 100px;
    padding-left: 30px;
}

.account-table-row .cell:nth-child(2) {
    width: 140px;
}

.account-table-row .cell:nth-child(3) {
    width: 160px;
}

.account-table-row .cell:nth-child(4) {
    width: 160px;
}

.account-table-row .cell:nth-child(5) {
    width: 160px;
}

.account-table-row .cell:nth-child(6) {
    width: 120px;
}

.account-table-row .cell:nth-child(7) {
    width: 140px;
}

.table,
.table-row {
    width: 100% !important;
}

.table-row:hover {
    /* background-color: #ececff; */
    /* cursor: pointer; */
}

@media (max-width: 768px) {
    .table-row {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 18px;
        padding-top: 30px;
        padding-right: 15px;
        margin: 0;
    }

    .table-row .cell {
        border: none;
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .table-row .cell:nth-child(1) {
        padding-left: 30px;
    }

    .table-row .cell {
        font-family: Poppins-Regular;
        font-size: 18px;
        color: #555555;
        line-height: 1.2;
        font-weight: unset !important;
    }

    .table,
    .table-row,
    .cell {
        width: 100% !important;
    }
}