{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}
{% load dashboard_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid min-height-75">
        <div class="row">
            <div class="col mb-3 ml-1">
                <h5 class="fs-20">Cases</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-18 mb-4 ml-1">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-10">
                            {{filter.form.employer_fdw_search|as_crispy_field}}
                        </div>
                        <div class="col-10 offset-2">
                            {{filter.form.agency_employee|as_crispy_field}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <div class="row h-100">
                    <div class="col text-right mt-auto mb-4 pb-3">
                        <a href="{% url 'case_create_route' %}" class="btn btn-xs-lg btn-primary mr-1">Create Case</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-primary text-light mx-half py-3 border d-none d-xl-flex">
            <div class="col-2">
                <h6 class="dashboard-table-header">S/N</h6>
            </div>
            <div class="col-3">
                <h6 class="dashboard-table-header">Contract Date</h6>
            </div>
            <div class="col-3">
                <h6 class="dashboard-table-header">Case No</h6>
            </div>
            <div class="col-7">
                <h6 class="dashboard-table-header">Employer</h6>
            </div>
            <div class="col">
                <h6 class="dashboard-table-header">Case Type</h6>
            </div>
            <div class="col-4">
                <h6 class="dashboard-table-header">EA Personnel</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="dashboard-table-header">Actions</h6>
            </div>
        </div>
        {% for object in object_list %}
        <div class="row {% cycle '' 'bg-light ' %}text-dark mx-half py-3 border border-top-0 d-none d-xl-flex">
            <div class="col-2">
                <p class="mb-0">{{ forloop.counter }}</p>
            </div>
            <div class="col-3">
                <p class="mb-0">{{ object.agreement_date }}</p>
            </div>
            <div class="col-3">
                <p class="mb-0">{{ object.case_ref_no }}</p>
            </div>
            <div class="col-7">
                <p class="mb-0">{{ object.employer }}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{ object.employer.get_applicant_type_display }}</p>
            </div>
            <div class="col-4">
                <p class="mb-0">{{ object.employer.agency_employee }}</p>
            </div>
            <div class="col-2">
                <div class="row justify-content-center">
                    <a class="mx-1" href="{% url 'case_update_route' level_1_pk=object.pk %}"><i class="far fa-edit"></i></a>
                    <a class="mx-1" href="{% url 'case_detail_route' level_1_pk=object.pk %}"><i class="far fa-file-image"></i></a>
                    <a class="mx-1" href="{% url 'case_delete_route' level_1_pk=object.pk %}"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-half py-3 border border-top-0 d-none d-xl-flex">
            <div class="col text-center">
                <p class="mb-0">No Cases</p>
            </div>
        </div>
        {% endfor %}
        <div class="row d-xl-none">
            {% for object in object_list %}
            <div class="col col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col py-2">
                                <h5 class="card-title fs-16">#{{object.case_ref_no}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Contract Date:</p>
                            </div>
                            <div class="col">
                                <p>{{object.agreement_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Case No:</p>
                            </div>
                            <div class="col">
                                <p>{{object.case_ref_no}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Employer:</p>
                            </div>
                            <div class="col">
                                <p>{{object.employer}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Case Type:</p>
                            </div>
                            <div class="col">
                                <p>{{object.employer.get_applicant_type_display}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>EA Personnel:</p>
                            </div>
                            <div class="col">
                                <p>{{object.employer.agency_employee}}</p>
                            </div>
                        </div>
                        <h6>Actions:</h6>
                        <a class="mx-1" href="{% url 'case_update_route' level_1_pk=object.pk %}"><i class="far fa-edit"></i></a>
                        <a class="mx-1" href="{% url 'case_detail_route' level_1_pk=object.pk %}"><i class="far fa-file-image"></i></a>
                        <a class="mx-1" href="{% url 'case_delete_route' level_1_pk=object.pk %}"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock dashboard_section %}