{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}
{% load dashboard_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid" style="min-height: 75vh;">
        <div class="row">
            <div class="col mb-3 ml-2">
                <h4 class="fs-20">Status Summary</h4>
            </div>
        </div>
        <div class="row">
            <div class="col mb-4 ml-2">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-md-8">
                            {{filter.form.employer_fdw_search|as_crispy_field}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row bg-custom-loch text-light mx-half pt-3 border border-bottom-0">
            <div class="col-10">
            </div>
            <div class="col text-center">
                <h6 class="mb-0">Dates</h6>
            </div>
        </div>
        <div class="row bg-custom-loch text-light mx-half py-3 border border-top-0">
            <div class="col-1">
                <h6 class="dashboard-table-header">S/N</h6>
            </div>
            <div class="col-4">
                <h6 class="dashboard-table-header">Contract Date</h6>
            </div>
            <div class="col-4">
                <h6 class="dashboard-table-header">Employer & FDW</h6>
            </div>
            <div class="col">
                <h6 class="dashboard-table-header">IPA</h6>
            </div>
            <div class="col">
                <h6 class="dashboard-table-header">Arrival</h6>
            </div>
            <div class="col">
                <h6 class="dashboard-table-header">SHN End</h6>
            </div>
            <div class="col">
                <h6 class="dashboard-table-header">Thumbprint</h6>
            </div>
            <div class="col">
                <h6 class="dashboard-table-header">Deployment</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="dashboard-table-header">Actions</h6>
            </div>
        </div>
        {% for status in statuses %}
        <div class="row {% cycle '' 'bg-light ' %}text-dark mx-half py-3 border border-top-0">
            <div class="col-1">
                <p class="mb-0">{{status.pk}}</p>
            </div>
            <div class="col-4">
                <p class="mb-0">{{status.employer_doc.agreement_date}}</p>
            </div>
            <div class="col-4">
                <p class="mb-0">{{status.employer_doc.employer}}<br/>{{status.employer_doc.fdw}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{status.ipa_approval_date}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{status.arrival_date}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{status.shn_end_date}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{status.thumb_print_date}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{status.fdw_work_commencement_date}}</p>
            </div>
            <div class="col-1">
                <div class="row justify-content-center">
                    <a class="mx-1 showModalLink" data-case-pk="{{status.employer_doc.pk}}"><i class="far fa-edit"></i></a>
                    <a class="mx-1" href="#"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-half py-3 border border-top-0">
            <div class="col text-center">
                <p class="mb-0">No Statuses</p>
            </div>
        </div>
        {% endfor %}
         <!-- Modal -->
        <div class="modal fade" id="caseStatusFormModal" tabindex="-1" aria-labelledby="caseStatusFormModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="caseStatusFormModalLabel">Update Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form action="" method="post" id="caseStatusForm">
                                {% csrf_token %}
                                <div class="form-row"> 
                                    <div class="col-md-24"> 
                                        <div class="form-group mb-3"> 
                                            <label class="">
                                                FDW Name
                                            </label> 
                                            <div class="">
                                                <input type="text" id="fdwNameInput" value="" type="text" placeholder="FDW Name" readonly class="form-control-plaintext" > 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-24"> 
                                        <div id="div_id_ipa_approval_date" class="form-group mb-3"> 
                                            <label for="id_ipa_approval_date" class="">
                                                In Principle Approval (IPA) Date
                                            </label> 
                                            <div class="">
                                                <input type="text" id="ipaApprovalDateInput" name="ipa_approval_date" value="" type="text" onfocus="(this.type=&#x27;date&#x27;)" placeholder="IPA approval date" class="dateinput form-control" id="id_ipa_approval_date"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-24"> 
                                        <div id="div_id_arrival_date" class="form-group mb-3"> 
                                            <label for="id_arrival_date" class="">
                                                FDW Arrival Date
                                            </label> 
                                            <div class="">
                                                <input type="text" id="fdwArrivalDateInput" name="arrival_date" value="" type="text" onfocus="(this.type=&#x27;date&#x27;)" placeholder="FDW arrival date" class="dateinput form-control" id="id_arrival_date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-24">
                                        <div id="div_id_shn_end_date" class="form-group mb-3"> 
                                            <label for="id_shn_end_date" class="">SHN End Date</label>
                                            <div class="">
                                                <input type="text" id="fdwShnEndDateInput" name="shn_end_date" value="" type="text" onfocus="(this.type=&#x27;date&#x27;)" placeholder="Security bond approval date" class="dateinput form-control" id="id_shn_end_date"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-24"> 
                                        <div id="div_id_thumb_print_date" class="form-group mb-3"> 
                                            <label for="id_thumb_print_date" class="">
                                                FDW Thumb Print Date
                                            </label> 
                                            <div class=""> 
                                                <input type="text" id="fdwThumbprintDateInput" name="thumb_print_date" value="" type="text" onfocus="(this.type=&#x27;date&#x27;)" placeholder="Thumb print date" class="dateinput form-control" id="id_thumb_print_date"> 
                                            </div> 
                                        </div>
                                    </div> 
                                    <div class="col-md-24">
                                        <div id="div_id_fdw_work_commencement_date" class="form-group mb-3">
                                            <label for="id_fdw_work_commencement_date" class="">Deployment Date</label>
                                            <div class="">
                                                <input type="text" id="fdwWorkCommencementDateInput" name="fdw_work_commencement_date" value="" type="text" onfocus="(this.type=&#x27;date&#x27;)" placeholder="FDW work commencement date" class="dateinput form-control" id="id_fdw_work_commencement_date">
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-outline-secondary w-25" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary w-25" id="caseStatusFormModalSubmitButton">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_section %}
{% block js %}
<script>
    $(function(){
        let currentCasePK = null;
        $('.showModalLink').on('click', function(){
            currentCasePK = $(this).data('case-pk');
            axios({
                method: 'get',
                mode: 'same-origin',
                url: "{% url 'case_status_api_route' level_1_pk='172d14e4-7894-4857-9360-4b1fcd91f1f9' %}".replace(
                    '172d14e4-7894-4857-9360-4b1fcd91f1f9',
                    $(this).data('case-pk')
                ),
                params: {
                    casePK: $(this).data('case-pk')
                }
            }).then((res)=>{
                $('#fdwNameInput').val(res.data.fdwNameInput);
                $('#ipaApprovalDateInput').val(res.data.ipaApprovalDateInput);
                $('#fdwArrivalDateInput').val(res.data.fdwArrivalDateInput);
                $('#fdwShnEndDateInput').val(res.data.fdwShnEndDateInput);
                $('#fdwThumbprintDateInput').val(res.data.fdwThumbprintDateInput);
                $('#fdwWorkCommencementDateInput').val(res.data.fdwWorkCommencementDateInput);
                $('#caseStatusFormModal').modal({'show': true})
            });
        });
        $('#caseStatusFormModalSubmitButton').on('click', function(){
            console.log(currentCasePK);
            $('#caseStatusForm').attr(
                'action', 
                "{% url 'case_status_update_route' level_1_pk='172d14e4-7894-4857-9360-4b1fcd91f1f9' %}".replace(
                    '172d14e4-7894-4857-9360-4b1fcd91f1f9',
                    currentCasePK
                )
            );
            $('#caseStatusForm').submit();
        });
        $('#id_employer_fdw_search').on('change', function(){
            this.form.submit();
        });
    });
</script>
{% endblock js%}