{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<div class="container">
    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
                <div class="table">

                    <div class="table-row account-table-row header">
                        <div class="cell">
                            S/N
                        </div>
                        <div class="cell">
                            Name
                        </div>
                        <div class="cell">
                            Email
                        </div>
                        <div class="cell">
                            EA Personnel No
                        </div>
                        <div class="cell">
                            Type
                        </div>
                        <div class="cell">
                            Last Login
                        </div>
                        <div class="cell">
                            Actions
                        </div>
                    </div>

                    <div class="table-row account-table-row">
                        <div class="cell" data-title="S/N">
                            1
                        </div>
                        <div class="cell" data-title="Name">
                            Alvin
                        </div>
                        <div class="cell" data-title="Email">
                            alvin@agency.com
                        </div>
                        <div class="cell" data-title="EA Personnel No">
                            123
                        </div>
                        <div class="cell" data-title="Type">
                            Sales Staff
                        </div>
                        <div class="cell" data-title="Last Login">
                            21/11/2020
                        </div>
                        <div class="cell" data-title="Actions">
                            <a href="#" class="btn btn-primary">Modify</a>
                        </div>
                    </div>
                    
                    <div class="table-row account-table-row">
                        <div class="cell" data-title="S/N">
                            2
                        </div>
                        <div class="cell" data-title="Name">
                            Alvin
                        </div>
                        <div class="cell" data-title="Email">
                            alvin@agency.com
                        </div>
                        <div class="cell" data-title="EA Personnel No">
                            123
                        </div>
                        <div class="cell" data-title="Type">
                            Sales Staff
                        </div>
                        <div class="cell" data-title="Last Login">
                            21/11/2020
                        </div>
                        <div class="cell" data-title="Actions">
                            <a href="#" class="btn btn-primary">Modify</a>
                        </div>
                    </div>

                    <div class="table-row account-table-row">
                        <div class="cell" data-title="S/N">
                            3
                        </div>
                        <div class="cell" data-title="Name">
                            Alvin
                        </div>
                        <div class="cell" data-title="Email">
                            alvin@agency.com
                        </div>
                        <div class="cell" data-title="EA Personnel No">
                            123
                        </div>
                        <div class="cell" data-title="Type">
                            Sales Staff
                        </div>
                        <div class="cell" data-title="Last Login">
                            21/11/2020
                        </div>
                        <div class="cell" data-title="Actions">
                            <a href="#" class="btn btn-primary">Modify</a>
                        </div>
                    </div>

                    <div class="table-row account-table-row">
                        <div class="cell" data-title="S/N">
                            4
                        </div>
                        <div class="cell" data-title="Name">
                            Alvin
                        </div>
                        <div class="cell" data-title="Email">
                            alvin@agency.com
                        </div>
                        <div class="cell" data-title="EA Personnel No">
                            123
                        </div>
                        <div class="cell" data-title="Type">
                            Sales Staff
                        </div>
                        <div class="cell" data-title="Last Login">
                            21/11/2020
                        </div>
                        <div class="cell" data-title="Actions">
                            <a href="#" class="btn btn-primary">Modify</a>
                        </div>
                    </div>

                    <div class="table-row account-table-row">
                        <div class="cell" data-title="S/N">
                            5
                        </div>
                        <div class="cell" data-title="Name">
                            Alvin
                        </div>
                        <div class="cell" data-title="Email">
                            alvin@agency.com
                        </div>
                        <div class="cell" data-title="EA Personnel No">
                            123
                        </div>
                        <div class="cell" data-title="Type">
                            Sales Staff
                        </div>
                        <div class="cell" data-title="Last Login">
                            21/11/2020
                        </div>
                        <div class="cell" data-title="Actions">
                            <a href="#" class="btn btn-primary">Modify</a>
                        </div>
                    </div>

                </div>
			</div>
		</div>
	</div>
    <p>{{ authority }}</p>
    <div class="row">
        <div class="col">
            <h1>administrators</h1>
            {% for administrator in administrators %}
                <div>
                    {{administrator.first_name}} {{administrator.last_name}}
                    <a href="{% url 'agency_administrator_update' pk=administrator.pk %}">Update</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>employees</h1>
            {% for employee in employees %}
                <div>
                    {{employee.first_name}} {{employee.last_name}}
                    <a href="{% url 'agency_employee_update' pk=employee.pk %}">Update</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock dashboard_section %}