{% extends 'dashboard-base.html' %}
{% load dashboard_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid" style="min-height: 75vh;">
        <div class="row">
            <div class="col mb-3 ml-2">
                <h5 class="fs-2">Cases</h5>
            </div>
        </div>
        <div class="row">
            <div class="col text-right mb-3">
                <a href="#" class="btn btn-dashboard-primary mr-1">Create Case</a>
            </div>
        </div>
        <div class="row bg-dashboard-primary text-light mx-half py-3 border">
            <div class="col-1">
                <h6 class="mb-0">S/N</h6>
            </div>
            <div class="col-2">
                <h6 class="mb-0">Contract Date</h6>
            </div>
            <div class="col-1">
                <h6 class="mb-0">Case No</h6>
            </div>
            <div class="col">
                <h6 class="mb-0">Employer</h6>
            </div>
            <div class="col-1">
                <h6 class="mb-0">Case Type</h6>
            </div>
            <div class="col-2">
                <h6 class="mb-0">EA Personnel</h6>
            </div>
            <div class="col-1">
                <h6 class="mb-0">Actions</h6>
            </div>
        </div>
        {% for x in x %}
        <div class="row {% cycle '' 'bg-light ' %}text-dark mx-half py-3 border border-top-0 text-center">
            <div class="col-1">
                <p class="mb-0"></p>
            </div>
            <div class="col-2">
                <p class="mb-0"></p>
            </div>
            <div class="col-1">
                <p class="mb-0"></p>
            </div>
            <div class="col">
                <p class="mb-0"></p>
            </div>
            <div class="col-1">
                <p class="mb-0"></p>
            </div>
            <div class="col-2">
                <p class="mb-0"></p>
            </div>
            <div class="col-1">
                <div class="row justify-content-evenly">
                    <a href="{% url 'dashboard_agency_employee_update' account.pk %}"><i class="far fa-edit"></i></a>
                    <a href="#"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock dashboard_section %}