{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}
{% load dashboard_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid" style="min-height: 75vh;">
        <div class="row">
            <div class="col text-dark mb-3">
                <h4>Employers</h4>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-9">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-5">
                            {{filter.form.employer_name|as_crispy_field}}
                        </div>
                        <div class="col-5 offset-1">
                            {{filter.form.employer_birthday_month|as_crispy_field}}
                        </div>
                        {% comment %}
                        <div class="col-5 offset-1">
                            {{filter.form.agency_employee|as_crispy_field}}
                        </div>
                        {% endcomment %}
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="row h-100">
                    <div class="col text-right mt-auto mb-3">
                        <a href="{% url 'employer_create_route' %}" class="btn btn-primary mr-1">Add Employer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-dashboard-table-background-dark text-dark mx-half py-3 border">
            <div class="col-1">
                <h6 class="mb-0">S/N <i class="fas {% if order_by == 'serialNo' %}fa-sort-amount-down{% elif order_by == '-serialNo' %}fa-sort-amount-up{% else %}fa-sort{% endif%} ml-1 sortToggle" id="serialNoSortToggle"></i></h6>
            </div>
            <div class="col">
                <h6 class="mb-0">Employer <i class="fas {% if order_by == 'employerName' %}fa-sort-alpha-down{% elif order_by == '-employerName' %}fa-sort-alpha-up{% else %}fa-sort{% endif%} ml-1 sortToggle" id="employerNameSortToggle"></i></h6>
            </div>
            <div class="col">
                <h6 class="mb-0">Mobile</h6>
            </div>
            <div class="col">
                <h6 class="mb-0">Home No</h6>
            </div>
            <div class="col">
                <h6 class="mb-0">Date of Birth <i class="fas {% if order_by == 'dateOfBirth' %}fa-sort-amount-down{% elif order_by == '-dateOfBirth' %}fa-sort-amount-up{% else %}fa-sort{% endif%} ml-1 sortToggle" id="dateOfBirthSortToggle"></i></h6>
            </div>
            <div class="col">
                <h6 class="mb-0">EA Personnel <i class="fas {% if order_by == 'eaPersonnel' %}fa-sort-alpha-down{% elif order_by == '-eaPersonnel' %}fa-sort-alpha-up{% else %}fa-sort{% endif%} ml-1 sortToggle" id="eaPersonnelSortToggle"></i></h6>
            </div>
            <div class="col-1 text-center">
                <h6 class="mb-0">Actions</h6>
            </div>
        </div>
        {% for object in object_list %}
        <div class="row {% cycle '' 'bg-light' %} text-dark mx-half py-3 border border-top-0">
            <div class="col-1">
                <p class="mb-0">{{forloop.counter}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{object.employer_name}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{object.employer_mobile_number}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{object.employer_home_number}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{object.employer_date_of_birth}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{object.agency_employee}}</p>
            </div>
            <div class="col-1">
                <div class="row justify-content-center">
                    <a class="mx-1" href="{% url 'employer_update_route' level_0_pk=object.pk %}"><i class="far fa-edit"></i></a>
                    <a class="mx-1" href="{% url 'employer_detail_route' level_0_pk=object.pk %}"><i class="far fa-file-image"></i></a>
                    <a class="mx-1" href="{% url 'employer_delete_route' level_0_pk=object.pk %}"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row bg-light text-dark mx-half py-3 border border-top-0">
            <div class="col text-center">
                <p class="mb-0">No Employers</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock dashboard_section %}
{% block js %}
<script>
    $(function(){
        $('.sortToggle').on('click', function(){
            $('.sortToggle').not(this).each(function(){
                $(this).removeClass('fa-sort-alpha-up');
                $(this).removeClass('fa-sort-alpha-down');
                $(this).removeClass('fa-sort-amount-up');
                $(this).removeClass('fa-sort-amount-down');
                $(this).addClass('fa-sort');
            });
            switch (this.id) {
                case 'serialNoSortToggle':
                    if ($(this).hasClass('fa-sort')) {
                        $(this).removeClass('fa-sort');
                        $(this).addClass('fa-sort-amount-down');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=serialNo"
                    } else if ($(this).hasClass('fa-sort-amount-down')) {
                        $(this).removeClass('fa-sort-amount-down');
                        $(this).addClass('fa-sort-amount-up');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=-serialNo"
                    } else {
                        $(this).removeClass('fa-sort-amount-up');
                        $(this).addClass('fa-sort-amount-down');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=serialNo"
                    }
                    break;

                case 'employerNameSortToggle':
                    if ($(this).hasClass('fa-sort')) {
                        $(this).removeClass('fa-sort');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=employerName"
                    } else if ($(this).hasClass('fa-sort-alpha-down')) {
                        $(this).removeClass('fa-sort-alpha-down');
                        $(this).addClass('fa-sort-alpha-up');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=-employerName"
                    } else {
                        $(this).removeClass('fa-sort-alpha-up');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=employerName"
                    }
                    break;

                case 'dateOfBirthSortToggle':
                    if ($(this).hasClass('fa-sort')) {
                        $(this).removeClass('fa-sort');
                        $(this).addClass('fa-sort-amount-down');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=dateOfBirth"
                    } else if ($(this).hasClass('fa-sort-amount-down')) {
                        $(this).removeClass('fa-sort-amount-down');
                        $(this).addClass('fa-sort-amount-up');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=-dateOfBirth"
                    } else {
                        $(this).removeClass('fa-sort-amount-up');
                        $(this).addClass('fa-sort-amount-down');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=dateOfBirth"
                    }
                    break;
                    
                    case 'eaPersonnelSortToggle':
                    if ($(this).hasClass('fa-sort')) {
                        $(this).removeClass('fa-sort');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=eaPersonnel"
                    } else if ($(this).hasClass('fa-sort-alpha-down')) {
                        $(this).removeClass('fa-sort-alpha-down');
                        $(this).addClass('fa-sort-alpha-up');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=-eaPersonnel"
                    } else {
                        $(this).removeClass('fa-sort-alpha-up');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_employers_list' %}?order-by=eaPersonnel"
                    }
                    break;
                    
                default:
                    break;
            }
        })
        $('#id_employer_name,#id_agency_employee,#id_employer_birthday_month').on(
            'change', function(){
                this.form.submit();
            }
        )
    })
</script>
{% endblock js%}