{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<section>
    <div class="container">
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="row table-header">
                        <div class="col">
                            <h5 class="pt-3 pl-4 mt-2 ml-1 d-inline-block">Agency Branches</h5>
                            {% if authority == 'Agency Owners' or authority == 'Agency Administrators' %}
                            <a href="{% url 'agency_branch_create' %}" class="btn btn-warning mr-4 my-3 float-right">Add New Branch</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table">
                        <div class="table-row agency-branch-table-row header">
                            <div class="cell">
                                S/N
                            </div>
                            <div class="cell">
                                Name
                            </div>
                            <div class="cell">
                                Address
                            </div>
                            <div class="cell">
                                Postal Code
                            </div>
                            <div class="cell">
                                Area
                            </div>
                            <div class="cell">
                                Office Number
                            </div>
                            <div class="cell">
                                Mobile Number
                            </div>
                            <div class="cell">
                                Branch Type
                            </div>
                            <div class="cell">
                                Actions
                            </div>
                        </div>
                        {% for branch in branches %}
                            <div class="table-row agency-branch-table-row">
                                <div class="cell" data-title="S/N">
                                    {{branch.pk}}
                                </div>
                                <div class="cell">
                                    {{branch.name}}
                                </div>
                                <div class="cell" data-title="Address">
                                    {{branch.address_1}} {{branch.address_2}}
                                </div>
                                <div class="cell" data-title="Postal Code">
                                    {{branch.postal_code}}
                                </div>
                                <div class="cell" data-title="Area">
                                    {{branch.get_area_display}}
                                </div>
                                <div class="cell" data-title="Office Number">
                                    {{branch.office_number}}
                                </div>
                                <div class="cell" data-title="Mobile Number">
                                    {{branch.mobile_number}}
                                </div>
                                <div class="cell" data-title="Branch Type">
                                    {% if branch.main_branch == True %}
                                    Main Branch
                                    {% else %}
                                    Side Branch
                                    {% endif %}
                                </div>
                                <div class="cell" data-title="Actions">
                                    <a href="{% url 'agency_branch_update' branch.pk %}" class="btn btn-primary">Edit</a>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#branch_{{branch.pk}}_Modal">Delete</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row table-empty-footer">
                        <div class="col text-center">
                            {% if not branches %}
                            <p class="mt-3">No Agency Branches found!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for branch in branches %}
        <div class="modal fade" id="branch_{{branch.pk}}_Modal" tabindex="-1" aria-labelledby="branch_{{branch.pk}}_ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="branch_{{branch.pk}}_ModalLabel">Warning</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{branch.name}}</strong> branch</p>
                    <p>This action is cannot be undone</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <form action="{% url 'agency_branch_delete' branch.pk %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">Confirm</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</section>
{% endblock dashboard_section %}