{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<div class="limiter">
    <div class="container-table100">
        <div class="container">
            <div class="row mb-2">
                <div class="col">
                    <h1>FDW Biodata</h1>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-8">
                    <form action="#" method="get">
                        <div class="row">
                            <div class="col">
                                <input type="text" name="search-terms" id="" class="form-control">
                            </div>
                            <div class="col">
                                <select name="" id="" class="form-control"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <a href="{% url 'maid_create'   %}" class="btn btn-success">Add Biodata</a>
                </div>
            </div>
        </div>
        <div class="wrap-table100">
            <div class="table">
                <div class="table-row fdw-table-row header">
                    <div class="cell">
                        S/N
                    </div>
                    <div class="cell">
                        Name
                    </div>
                    <div class="cell">
                        Nationality
                    </div>
                    <div class="cell">
                        Type
                    </div>
                    <div class="cell">
                        Age
                    </div>
                    <div class="cell">
                        Job Preference
                    </div>
                    <div class="cell">
                        Published
                    </div>
                    <div class="cell">
                        Featured
                    </div>
                    <div class="cell">
                        Date Created
                    </div>
                    <div class="cell">
                        Actions
                    </div>
                </div>

                {% for maid in maids %}
                    <div class="table-row fdw-table-row">
                        <div class="cell" data-title="S/N">
                            {{maid.id}}
                        </div>
                        <div class="cell" data-title="Name">
                            {{maid.biodata.name}}
                        </div>
                        <div class="cell" data-title="Nationality">
                            {{maid.biodata.get_country_of_origin_display}}
                        </div>
                        <div class="cell" data-title="Type">
                            {{maid.get_maid_type_display}}
                        </div>
                        <div class="cell" data-title="Age">
                            {{maid.biodata.age}}
                        </div>
                        <div class="cell" data-title="Job Preference">
                            None
                        </div>
                        <div class="cell" data-title="Published">
                            {% if maid.published is True %}
                            <i class="far fa-check-circle text-success"></i>
                            {% else %}
                            <i class="far fa-times-circle text-danger"></i>
                            {% endif %}
                        </div>
                        <div class="cell" data-title="Featured">
                            {% if maid.featured is True %}
                            <i class="far fa-check-circle text-success"></i>
                            {% else %}
                            <i class="far fa-times-circle text-danger"></i>
                            {% endif %}
                        </div>
                        <div class="cell" data-title="Date Created">
                            {{maid.created_on}}
                        </div>
                        <div class="cell" data-title="Actions">
                            <a href="{% url 'dashboard_maid_detail' pk=maid.pk %}" class="btn btn-primary">Modify</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_section %}