{% extends 'dashboard-base.html' %}
{% load dashboard_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid min-height-75">
        <div class="row">
            <div class="col mb-4 ml-1">
                <h5 class="fs-20">Employee Accounts</h5>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col text-right pb-2">
                        <a href="{% url 'dashboard_agency_employee_create' %}"
                            class="btn btn-xs-lg btn-primary mr-1 fs-14">Add Employee</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right pb-2">
                        <p class="mb-0 mr-1">Account Limit: {{employee_accounts.current}}/{{employee_accounts.max}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-primary text-light mx-half py-3 border d-none d-xl-flex">
            <div class="col-1">
                <h6 class="dashboard-table-header">S/N <i
                        class="fas {% if order_by == 'serialNo' %}fa-sort-amount-down{% elif order_by == '-serialNo' %}fa-sort-amount-up{% else %}fa-sort{% endif%} ml-1 sortToggle"
                        id="serialNoSortToggle"></i></h6>
            </div>
            <div class="col-6">
                <h6 class="dashboard-table-header">Name <i
                        class="fas {% if order_by == 'employeeName' %}fa-sort-alpha-down{% elif order_by == '-employeeName' %}fa-sort-alpha-up{% else %}fa-sort{% endif%} ml-1 sortToggle"
                        id="employeeNameSortToggle"></i></h6>
            </div>
            <div class="col-6">
                <h6 class="dashboard-table-header">Email</h6>
            </div>
            <div class="col-3">
                <h6 class="dashboard-table-header">Type <i
                        class="fas {% if order_by == 'employeeType' %}fa-sort-alpha-down{% elif order_by == '-employeeType' %}fa-sort-alpha-up{% else %}fa-sort{% endif%} ml-1 sortToggle"
                        id="employeeTypeSortToggle"></i></h6>
            </div>
            <div class="col-3">
                <h6 class="dashboard-table-header">Branch <i
                        class="fas {% if order_by == 'employeeBranch' %}fa-sort-alpha-down{% elif order_by == '-employeeBranch' %}fa-sort-alpha-up{% else %}fa-sort{% endif%} ml-1 sortToggle"
                        id="employeeBranchSortToggle"></i></h6>
            </div>
            <div class="col-3">
                <h6 class="dashboard-table-header">Last Login</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="dashboard-table-header">Actions</h6>
            </div>
        </div>
        {% for account in accounts %}
        <div class="row {% cycle '' 'bg-light ' %}text-dark mx-half py-3 border border-top-0 d-none d-xl-flex">
            <div class="col-1">
                <p class="mb-0">{{forloop.counter}}</p>
            </div>
            <div class="col-6">
                <p class="mb-0">{{account.name}}</p>
            </div>
            <div class="col-6">
                <p class="mb-0">{{account.user.email}}</p>
            </div>
            <div class="col-3">
                <p class="mb-0">{{account.get_role_display}}</p>
            </div>
            <div class="col-3">
                <p class="mb-0">{{account.branch.name}}</p>
            </div>
            <div class="col-3">
                <p class="mb-0">{{account.user.last_login|date:"j M g:i A"}}</p>
            </div>
            <div class="col-2">
                <div class="row justify-content-center">
                    <a class="mx-1" href="{% url 'dashboard_agency_employee_update' account.pk %}"><i
                            class="far fa-edit" data-toggle="tooltip" data-placement="top"
                            title="Edit Employee Acount"></i></a>
                    <a class="mx-1" href="{% url 'dashboard_agency_employee_delete' account.pk %}" data-toggle="tooltip" data-placement="top"
                        title="Delete Employee Acount"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-half py-3 border border-top-0 d-none d-xl-flex">
            <div class="col text-center">
                <p class="mb-0">No Employee Accounts</p>
            </div>
        </div>
        {% endfor %}
        {% include 'pagination.html' %}
        <div class="row d-xl-none">
            {% for account in accounts %}
            <div class="col col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col py-2">
                                <h5 class="card-title fs-16">#{{account.pk}} - {{account.name}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Email Address:</p>
                            </div>
                            <div class="col">
                                <p>{{account.user.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>EA Personnel Number:</p>
                            </div>
                            <div class="col">
                                <p>{{account.ea_personnel_number}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Role:</p>
                            </div>
                            <div class="col">
                                <p>{{account.get_role_display}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Branch:</p>
                            </div>
                            <div class="col">
                                <p>{{account.branch.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Last Login:</p>
                            </div>
                            <div class="col">
                                <p>{{account.user.last_login|date:"j M g:i A"}}</p>
                            </div>
                        </div>
                        <h6>Actions:</h6>
                        <a class="mx-1" href="{% url 'dashboard_agency_employee_update' account.pk %}"><i
                                class="far fa-edit"></i></a>
                        <a class="mx-1" href="{% url 'dashboard_agency_employee_delete' account.pk %}"><i
                                class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock dashboard_section %}
{% block js %}
<script>
    $(function () {
        $('.sortToggle').on('click', function () {
            $('.sortToggle').not(this).each(function () {
                $(this).removeClass('fa-sort-alpha-up');
                $(this).removeClass('fa-sort-alpha-down');
                $(this).removeClass('fa-sort-amount-up');
                $(this).removeClass('fa-sort-amount-down');
                $(this).addClass('fa-sort');
            });
            switch (this.id) {
                case 'serialNoSortToggle':
                    if ($(this).hasClass('fa-sort')) {
                        $(this).removeClass('fa-sort');
                        $(this).addClass('fa-sort-amount-down');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=serialNo"
                    } else if ($(this).hasClass('fa-sort-amount-down')) {
                        $(this).removeClass('fa-sort-amount-down');
                        $(this).addClass('fa-sort-amount-up');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=-serialNo"
                    } else {
                        $(this).removeClass('fa-sort-amount-up');
                        $(this).addClass('fa-sort-amount-down');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=serialNo"
                    }
                    break;

                case 'employeeNameSortToggle':
                    if ($(this).hasClass('fa-sort')) {
                        $(this).removeClass('fa-sort');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=employeeName"
                    } else if ($(this).hasClass('fa-sort-alpha-down')) {
                        $(this).removeClass('fa-sort-alpha-down');
                        $(this).addClass('fa-sort-alpha-up');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=-employeeName"
                    } else {
                        $(this).removeClass('fa-sort-alpha-up');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=employeeName"
                    }
                    break;

                case 'employeeTypeSortToggle':
                    if ($(this).hasClass('fa-sort')) {
                        $(this).removeClass('fa-sort');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=employeeType"
                    } else if ($(this).hasClass('fa-sort-alpha-down')) {
                        $(this).removeClass('fa-sort-alpha-down');
                        $(this).addClass('fa-sort-alpha-up');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=-employeeType"
                    } else {
                        $(this).removeClass('fa-sort-alpha-up');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=employeeType"
                    }
                    break;

                case 'employeeBranchSortToggle':
                    if ($(this).hasClass('fa-sort')) {
                        $(this).removeClass('fa-sort');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=employeeBranch"
                    } else if ($(this).hasClass('fa-sort-alpha-down')) {
                        $(this).removeClass('fa-sort-alpha-down');
                        $(this).addClass('fa-sort-alpha-up');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=-employeeBranch"
                    } else {
                        $(this).removeClass('fa-sort-alpha-up');
                        $(this).addClass('fa-sort-alpha-down');
                        location.href = "{% url 'dashboard_account_list' %}?order-by=employeeBranch"
                    }
                    break;

                default:
                    break;
            }
        })
    })
</script>
{% endblock js%}