{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<section>
    <div class="container">
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="row table-header">
                        <div class="col">
                            <h5 class="pt-3 pl-4 mt-2 ml-1 d-inline-block">Agency Branches</h5>
                            {% if authority == 'Agency Owners' or authority == 'Agency Administrators' %}
                            <a href="{% url 'agency_branch_create' %}" class="btn btn-warning mr-4 my-3 float-right">Add New Branch</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table">
                        <div class="table-row agency-branch-table-row header">
                            <div class="cell">
                                S/N
                            </div>
                            <div class="cell">
                                Name
                            </div>
                            <div class="cell">
                                Address
                            </div>
                            <div class="cell">
                                Postal Code
                            </div>
                            <div class="cell">
                                Area
                            </div>
                            <div class="cell">
                                Office Number
                            </div>
                            <div class="cell">
                                Mobile Number
                            </div>
                            <div class="cell">
                                Branch Type
                            </div>
                            <div class="cell">
                                Actions
                            </div>
                        </div>
                        {% for branch in branches %}
                            <div class="table-row agency-branch-table-row">
                                <div class="cell" data-title="S/N">
                                    {{branch.pk}}
                                </div>
                                <div class="cell">
                                    {{branch.name}}
                                </div>
                                <div class="cell" data-title="Address">
                                    {{branch.address_1}} {{branch.address_2}}
                                </div>
                                <div class="cell" data-title="Postal Code">
                                    {{branch.postal_code}}
                                </div>
                                <div class="cell" data-title="Area">
                                    {{branch.get_area_display}}
                                </div>
                                <div class="cell" data-title="Office Number">
                                    {{branch.office_number}}
                                </div>
                                <div class="cell" data-title="Mobile Number">
                                    {{branch.mobile_number}}
                                </div>
                                <div class="cell" data-title="Branch Type">
                                    {% if branch.main_branch == True %}
                                    Main Branch
                                    {% else %}
                                    Side Branch
                                    {% endif %}
                                </div>
                                <div class="cell" data-title="Actions">
                                    <a href="{% url 'agency_branch_update' branch.pk %}" class="btn btn-primary">Modify</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row table-empty-footer">
                        <div class="col text-center">
                            {% if not branches %}
                            <p class="mt-3">No Agency Branches found!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_section %}