{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}
{% load dashboard_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid min-height-75">
        <div class="row">
            <div class="col mb-3 ml-1">
                <h4 class="fs-20">Sales Summary</h4>
            </div>
        </div>
        <div class="row">
            <div class="col mb-4 ml-1">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-md-8">
                            {{filter.form.employer_fdw_search|as_crispy_field}}
                        </div>
                        <div class="col-3 mb-3 mt-auto">
                            <a href="{% url 'dashboard_sales_list' %}"
                                class="btn btn-outline-secondary form-control">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row bg-primary text-light mx-half py-3 border d-none d-xl-flex">
            <div class="col col-1">
                <h6 class="dashboard-table-header">S/N</h6>
            </div>
            <div class="col col-2">
                <h6 class="dashboard-table-header">Contract Date</h6>
            </div>
            <div class="col col-3">
                <h6 class="dashboard-table-header">Deployment</h6>
            </div>
            <div class="col">
                <h6 class="dashboard-table-header">Employer &#38; FDW</h6>
            </div>
            <div class="col col-2">
                <h6 class="dashboard-table-header">Type</h6>
            </div>
            <div class="col-4">
                <h6 class="dashboard-table-header">Amount</h6>
            </div>
            <div class="col col-2">
                <h6 class="dashboard-table-header">Received On</h6>
            </div>
            <div class="col-2 text-center">
                <h6 class="dashboard-table-header">Actions</h6>
            </div>
        </div>
        {% for sale in sales %}
        <div class="row {% cycle '' 'bg-light ' %}text-dark mx-half py-3 border border-top-0 d-none d-xl-flex">
            {% if sale.is_archived_doc is False %}
            <div class="col col-1">
                <p class="mb-0"></p>
            </div>
            <div class="col col-2">
                <p class="mb-0">{{sale.agreement_date}}</p>
            </div>
            <div class="col col-3">
                <p class="mb-0">{{sale.rn_casestatus_ed.fdw_work_commencement_date}}</p>
            </div>
            <div class="col">
                <p class="mb-0">Employer: {{sale.employer.employer_name}}<br />FDW: {{sale.fdw.name}}<br />Personnel:
                    {{sale.employer.agency_employee.name}}</p>
            </div>
            <div class="col col-2">
                <p class="mb-0">{% if sale.rn_servicefeeschedule_ed.is_new_case is True %}New
                    Case{% else %}Replacement{% endif %}</p>
            </div>
            <div class="col-4">
                <p class="mb-0">Deposit:$ {{sale.rn_servicefeeschedule_ed.ca_deposit_amount}}<br />Balance:$
                    {{sale.rn_servicefeeschedule_ed.calc_bal}}</p>
            </div>
            <div class="col col-2">
                <p class="mb-0">{{sale.rn_servicefeeschedule_ed.ca_deposit_date}}</p>
            </div>
            <div class="col-2">
                <div class="row justify-content-center">
                    <a class="mx-1" href="{% url 'case_update_route' level_1_pk=sale.pk %}"><i class="far fa-edit"
                            data-toggle="tooltip" data-placement="top" title="Edit Sales Information"></i></a>
                    <a class="mx-1" href="#"><i class="fas fa-file-invoice" data-toggle="tooltip" data-placement="top"
                            title="Invoice Sales"></i></a>
                    <a class="mx-1" href="#"><i class="far fa-trash-alt" data-toggle="tooltip" data-placement="top"
                            title="Delete Sales Information"></i></a>
                </div>
            </div>
            {% else %}
            <div class="col col-2">
                <p class="mb-0"></p>
            </div>
            <div class="col col-3">
                <p class="mb-0">{{sale.agreement_date}}</p>
            </div>
            <div class="col col-3">
                <p class="mb-0">{{sale.fdw_work_commencement_date}}</p>
            </div>
            <div class="col">
                <p class="mb-0">Employer: {{sale.employer_name}}<br />FDW: {{sale.fdw.name}}<br />Personnel:
                    {{sale.agency.agency_employee_name}} {{sale.agency.agency_employee_ea_personnel_number}}</p>
            </div>
            <div class="col col-3">
                <p class="mb-0">{% if sale.is_new_case is True %}New Case{% else %}Replacement{% endif %}</p>
            </div>
            <div class="col-4">
                <p class="mb-0">Deposit:$ {{sale.ca_deposit_amount}}<br />Balance:$ {{sale.calc_bal}}</p>
            </div>
            <div class="col col-3">
                <p class="mb-0">{{sale.ca_deposit_date}}</p>
            </div>
            <div class="col-2">
                <div class="row justify-content-center">
                    <a class="mx-1" href="#"><i class="far fa-unlink" data-toggle="tooltip" data-placement="top"
                            title="Unlink Sales Information"></i></a>
                    <a class="mx-1" href="{% url 'archived_case_detail_route' level_1_pk=sale.pk %}"><i
                            class="far fa-file-image" data-toggle="tooltip" data-placement="top"
                            title="View Archived Sales Information"></i></a>
                    <a class="mx-1" href="#"><i class="far fa-trash-alt" data-toggle="tooltip" data-placement="top"
                            title="Delete Archived Sales Information"></i></a>
                </div>
            </div>
            {% endif %}
        </div>
        {% empty %}
        <div class="row mx-half py-3 border border-top-0 d-none d-xl-flex">
            <div class="col text-center">
                <p class="mb-0">No Sales Data</p>
            </div>
        </div>
        {% endfor %}
        <div class="row d-xl-none">
            {% for sale in sales %}
            <div class="col col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {% if sale.is_archived_doc is False %}
                        <div class="row">
                            <div class="col py-2">
                                <h5 class="card-title fs-16">#{{sale.pk}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Contract Date:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.agreement_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Deployment:</p>
                            </div>
                            <div class="col">
                                <p>{% if sale.rn_casestatus_ed.fdw_work_commencement_date %}{{sale.rn_casestatus_ed.fdw_work_commencement_date}}{% else %}Not
                                    Set Yet{% endif %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Employer &#38; FDW:</p>
                            </div>
                            <div class="col">
                                <p>Employer: {{sale.employer.employer_name}}<br />FDW: {{sale.fdw.name}}<br />Personnel:
                                    {{sale.employer.agency_employee.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Type:</p>
                            </div>
                            <div class="col">
                                <p>{% if sale.rn_servicefeeschedule_ed.is_new_case is True %}New
                                    Case{% else %}Replacement{% endif %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Amount:</p>
                            </div>
                            <div class="col">
                                <p>Deposit:$ {{sale.rn_servicefeeschedule_ed.ca_deposit_amount}}<br />Balance:$
                                    {{sale.rn_servicefeeschedule_ed.calc_bal}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Received On:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.rn_servicefeeschedule_ed.ca_deposit_date}}</p>
                            </div>
                        </div>
                        <h6>Actions:</h6>
                        <a class="mx-1" href="{% url 'case_update_route' level_1_pk=sale.pk %}"><i
                                class="far fa-edit"></i></a>
                        <a class="mx-1" href="#"><i class="fas fa-file-invoice-dollar"></i></a>
                        <a class="mx-1" href="#"><i class="far fa-trash-alt"></i></a>
                        {% else %}
                        <div class="row">
                            <div class="col py-2">
                                <h5 class="card-title fs-16">#{{sale.pk}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Contract Date:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.agreement_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Deployment:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.fdw_work_commencement_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Employer &#38; FDW:</p>
                            </div>
                            <div class="col">
                                <p>Employer: {{sale.employer_name}}<br />FDW: {{sale.fdw.name}}<br />Personnel:
                                    {{sale.agency.agency_employee_name}}
                                    {{sale.agency.agency_employee_ea_personnel_number}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Type:</p>
                            </div>
                            <div class="col">
                                <p>{% if sale.is_new_case is True %}New Case{% else %}Replacement{% endif %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Amount:</p>
                            </div>
                            <div class="col">
                                <p>Deposit:$ {{sale.ca_deposit_amount}}<br />Balance:$ {{sale.calc_bal}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-lg-10">
                                <p>Received On:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.ca_deposit_date}}</p>
                            </div>
                        </div>
                        <h6>Actions:</h6>
                        <a class="mx-1" href="#"><i class="far fa-unlink"></i></a>
                        <a class="mx-1" href="{% url 'archived_case_detail_route' level_1_pk=sale.pk %}"><i
                                class="far fa-file-image"></i></a>
                        <a class="mx-1" href="#"><i class="far fa-trash-alt"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock dashboard_section %}
{% block js %}
<script>
    $(function () {
        $('#id_employer_fdw_search').on('change', function () {
            this.form.submit();
        });
    })
</script>
{% endblock js%}