{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}
{% load dashboard_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid" style="min-height: 75vh;">
        <div class="row">
            <div class="col mb-3 ml-2">
                <h4>Sales Summary</h4>
            </div>
        </div>
        <div class="row">
            <div class="col mb-4 ml-2">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-md-4">
                            {{filter.form.employer_fdw_search|as_crispy_field}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row bg-custom-bb text-light mx-half py-3 border d-none d-xl-flex">
            <div class="col col-0-5 text-center">
                <h6 class="dashboard-table-header">S/N</h6>
            </div>
            <div class="col col-1-5">
                <h6 class="dashboard-table-header">Contract Date</h6>
            </div>
            <div class="col col-1-5">
                <h6 class="dashboard-table-header">Deployment</h6>
            </div>
            <div class="col">
                <h6 class="dashboard-table-header">Employer & FDW</h6>
            </div>
            <div class="col col-1-5">
                <h6 class="dashboard-table-header">Type</h6>
            </div>
            <div class="col-2">
                <h6 class="dashboard-table-header">Amount</h6>
            </div>
            <div class="col col-1-5">
                <h6 class="dashboard-table-header">Received On</h6>
            </div>
            <div class="col-1 text-center">
                <h6 class="dashboard-table-header">Actions</h6>
            </div>
        </div>
        {% for sale in sales %}
        <div class="row {% cycle '' 'bg-light ' %}text-dark mx-half py-3 border border-top-0 d-none d-xl-flex">
            {% if sale.is_archived_doc is False %}
            <div class="col col-0-5">
                <p class="mb-0"></p>
            </div>
            <div class="col col-1-5">
                <p class="mb-0">{{sale.agreement_date}}</p>
            </div>
            <div class="col col-1-5">
                <p class="mb-0">{{sale.rn_casestatus_ed.fdw_work_commencement_date}}</p>
            </div>
            <div class="col">
                <p class="mb-0">Employer: {{sale.employer.employer_name}}<br/>FDW: {{sale.fdw.name}}<br/>Personnel: {{sale.employer.agency_employee.name}}</p>
            </div>
            <div class="col col-1-5">
                <p class="mb-0">{% if sale.rn_servicefeeschedule_ed.is_new_case is True %}New Case{% else %}Replacement{% endif %}</p>
            </div>
            <div class="col-2">
                <p class="mb-0">Deposit:$ {{sale.rn_servicefeeschedule_ed.ca_deposit_amount}}<br/>Balance:$ {{sale.rn_servicefeeschedule_ed.calc_bal}}</p>
            </div>
            <div class="col col-1-5">
                <p class="mb-0">{{sale.rn_servicefeeschedule_ed.ca_deposit_date}}</p>
            </div>
            <div class="col-1">
                <div class="row justify-content-center">
                    <a class="mx-1" href="{% url 'case_update_route' level_1_pk=sale.pk %}"><i class="far fa-edit"></i></a>
                    <a class="mx-1" href="#"><i class="fas fa-file-invoice"></i></a>
                    <a class="mx-1" href="#"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
            {% else %}
            <div class="col col-0-5">
                <p class="mb-0"></p>
            </div>
            <div class="col col-1-5">
                <p class="mb-0">{{sale.agreement_date}}</p>
            </div>
            <div class="col col-1-5">
                <p class="mb-0">{{sale.fdw_work_commencement_date}}</p>
            </div>
            <div class="col">
                <p class="mb-0">Employer: {{sale.employer_name}}<br/>FDW: {{sale.fdw.name}}<br/>Personnel: {{sale.agency.agency_employee_name}} {{sale.agency.agency_employee_ea_personnel_number}}</p>
            </div>
            <div class="col col-1-5">
                <p class="mb-0">{% if sale.is_new_case is True %}New Case{% else %}Replacement{% endif %}</p>
            </div>
            <div class="col-2">
                <p class="mb-0">Deposit:$ {{sale.ca_deposit_amount}}<br/>Balance:$ {{sale.calc_bal}}</p>
            </div>
            <div class="col col-1-5">
                <p class="mb-0">{{sale.ca_deposit_date}}</p>
            </div>
            <div class="col-1">
                <div class="row justify-content-center">
                    <a class="mx-1" href="#"><i class="far fa-unlink"></i></a>
                    <a class="mx-1" href="{% url 'archived_case_detail_route' level_1_pk=sale.pk %}"><i class="far fa-file-image"></i></a>
                    <a class="mx-1" href="#"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
            {% endif %}
        </div>
        {% empty %}
        <div class="row mx-half py-3 border border-top-0 d-none d-xl-flex">
            <div class="col text-center">
                <p class="mb-0">No Sales Data</p>
            </div>
        </div>
        {% endfor %}
        <div class="row d-xl-none">
            {% for sale in sales %}
            <div class="col col-lg-6">
                <div class="card">
                    <div class="card-body">
                        {% if sale.is_archived_doc is False %}
                        <div class="row">
                            <div class="col py-2">
                                <h5 class="card-title fs-16">#{{sale.pk}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Contract Date:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.agreement_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Deployment:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.rn_casestatus_ed.fdw_work_commencement_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Employer & FDW:</p>
                            </div>
                            <div class="col">
                                <p>Employer: {{sale.employer.employer_name}}<br/>FDW: {{sale.fdw.name}}<br/>Personnel: {{sale.employer.agency_employee.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Type:</p>
                            </div>
                            <div class="col">
                                <p>{% if sale.rn_servicefeeschedule_ed.is_new_case is True %}New Case{% else %}Replacement{% endif %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Amount:</p>
                            </div>
                            <div class="col">
                                <p>Deposit:$ {{sale.rn_servicefeeschedule_ed.ca_deposit_amount}}<br/>Balance:$ {{sale.rn_servicefeeschedule_ed.calc_bal}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Received On:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.rn_servicefeeschedule_ed.ca_deposit_date}}</p>
                            </div>
                        </div>
                        <h5 class="fs-12">Actions:</h5>
                        <a class="mx-1" href="{% url 'case_update_route' level_1_pk=sale.pk %}"><i class="far fa-edit"></i></a>
                        <a class="mx-1" href="#"><i class="fas fa-file-invoice-dollar"></i></a>
                        <a class="mx-1" href="#"><i class="far fa-trash-alt"></i></a>
                        {% else %}
                        <div class="row">
                            <div class="col py-2">
                                <h5 class="card-title fs-16">#{{sale.pk}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Contract Date:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.agreement_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Deployment:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.fdw_work_commencement_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Employer & FDW:</p>
                            </div>
                            <div class="col">
                                <p>Employer: {{sale.employer_name}}<br/>FDW: {{sale.fdw.name}}<br/>Personnel: {{sale.agency.agency_employee_name}} {{sale.agency.agency_employee_ea_personnel_number}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Type:</p>
                            </div>
                            <div class="col">
                                <p>{% if sale.is_new_case is True %}New Case{% else %}Replacement{% endif %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Amount:</p>
                            </div>
                            <div class="col">
                                <p>Deposit:$ {{sale.ca_deposit_amount}}<br/>Balance:$ {{sale.calc_bal}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-5">
                                <p>Received On:</p>
                            </div>
                            <div class="col">
                                <p>{{sale.ca_deposit_date}}</p>
                            </div>
                        </div>
                        <h5 class="fs-12">Actions:</h5>
                        <a class="mx-1" href="#"><i class="far fa-unlink"></i></a>
                        <a class="mx-1" href="{% url 'archived_case_detail_route' level_1_pk=sale.pk %}"><i class="far fa-file-image"></i></a>
                        <a class="mx-1" href="#"><i class="far fa-trash-alt"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock dashboard_section %}
{% block js %}
<script>
    $(function(){
        $('#id_employer_fdw_search').on('change', function(){
            this.form.submit();
        });
    })
</script>
{% endblock js%}