{% extends 'dashboard-base.html' %}
{% load dashboard_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid" style="min-height: 75vh;">
        <div class="row">
            <div class="col text-dark mb-3">
                <h4 class="fs-20">Shortlisted Enquiries</h4>
            </div>
        </div>
        <div class="row bg-dashboard-primary text-light mx-half py-3 border">
            <div class="col col-0-5 text-center">
                <h6 class="mb-0">S/N</h6>
            </div>
            <div class="col-2">
                <h6 class="mb-0">Employer</h6>
            </div>
            <div class="col">
                <h6 class="mb-0">Maid</h6>
            </div>
            <div class="col">
                <h6 class="mb-0">Remarks</h6>
            </div>
            <div class="col-1">
                <h6 class="mb-0">Date</h6>
            </div>
            <div class="col-1 text-center">
                <h6 class="mb-0">Actions</h6>
            </div>
        </div>
        {% for enquiry in enquiries %}
        <div class="row {% cycle '' 'bg-light ' %} mx-half py-3 border border-top-0">
            <div class="col col-0-5 text-center">
                <p class="mb-0">{{enquiry.pk}}</p>
            </div>
            <div class="col-2">
                <p class="mb-1">Name: {{enquiry.name}}</p>
                <p class="mb-1">Mobile: {{enquiry.mobile_number}}</p>
                <p class="mb-0">Email: {{enquiry.email}}</p>
            </div>
            <div class="col">
                <p class="mb-0">Name: {{enquiry}}</p>
                <p class="mb-0">Nationality: {{enquiry}}</p>
                <p class="mb-0">Type: {{enquiry}}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{enquiry.remarks}}</p>
            </div>
            <div class="col-1">
                <p class="mb-0"></p>
            </div>
            <div class="col-1">
                <div class="row justify-content-center">
                    <a class="mx-1" href="#"><i class="far fa-edit"></i></a>
                    <a class="mx-1" href="#"><i class="far fa-trash-alt-alt"></i></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-half py-3 border border-top-0">
            <div class="col text-center">
                <p class="mb-0">No Enquiries</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock dashboard_section %}