{% extends 'dashboard-base.html' %}
{% load dashboard_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid" style="min-height: 75vh;">
        <div class="row">
            <div class="col text-dark mb-3">
                <h4>Account Management</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                    </div>
                  </div>
            </div>
            <div class="col-3 offset-2">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-right mb-3">
                <a href="{% url 'agency_employee_create' %}" class="btn btn-lg btn-success mr-5 py-3">Add Sub Account</a>
            </div>
        </div>
        <div class="row bg-custom-light-blue text-dark mx-half py-3 border">
            <div class="col-1">
                <h6 class="mb-0">S/N</h6>
            </div>
            <div class="col-2">
                <h6 class="mb-0">Name</h6>
            </div>
            <div class="col-2">
                <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-2">
                <h6 class="mb-0">EA Personnel No</h6>
            </div>
            <div class="col-2">
                <h6 class="mb-0">Account Type</h6>
            </div>
            <div class="col-2">
                <h6 class="mb-0">Last Login</h6>
            </div>
            <div class="col-1">
                <h6 class="mb-0">Actions</h6>
            </div>
        </div>
        {% for account in accounts %}
        <div class="row {% cycle '' 'bg-light' %} text-dark mx-half py-3 border border-top-0">
            <div class="col-1">
                <p class="mb-0">{{account.pk}}</p>
            </div>
            <div class="col-2">
                <p class="mb-0">{{account.name}}</p>
            </div>
            <div class="col-2">
                <p class="mb-0">{{account.user.email}}</p>
            </div>
            <div class="col-2">
                <p class="mb-0">{{account.ea_personnel_number}}</p>
            </div>
            <div class="col-2">
                <p class="mb-0">{{account.get_role_display}}</p>
            </div>
            <div class="col-2">
                <p class="mb-0">{{account.branch.name}}</p>
            </div>
            <div class="col-1">
                <p class="mb-0">asd</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock dashboard_section %}