{% extends 'agency-base.html' %}
{% load crispy_forms_tags %}
{% block agency_section %}
<section>
    <div class="jumbotron jumbotron-fluid bg-hero">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-lg-6 py-2 py-md-3 offset-md-1">
                    <h1 class="display-4 pl-3 pl-md-2">Agencies</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Agencies</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-3 mb-3 offset-lg-1 offset-xl-0">
                <form action="" method="get">
                    <div class="row">
                        <div class="col">
                            {{filter.form|crispy}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'agency_list' %}" class="btn btn-secondary w-100">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-9">
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3">
                    {% for agency in agencies %}
                        <div class="col mb-4">
                            <div class="card">
                                <img src="{{agency.logo.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{agency.name}}</h5>
                                    <p class="card-text text-muted">{{agency.license_number}}</p>
                                    <hr>
                                    <address>
                                        123 Fake Street
                                    </address>
                                    <p class="card-text">Tel: {{agency.get_main_office_number}}</p>
                                    <p class="card-text">Email: {{agency.company_email}}</p>
                                    <a href="{% url 'agency_detail' pk=agency.pk %}" class="card-link">Learn More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'sections/cta-banner.html' %}
{% endblock agency_section %}