{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="" alt="" class="img-fluid">
            <h3>Times Recruitment Pte Ltd</h3>
            <h5 class="text-muted">16C7960</h5>
        </div>
        <div class="col-6">
            <a href="#" class="btn btn-primary">Modify Agency Details</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style='background:grey'>
                    <h4 class="mb-0">Licensee Information</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Name</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">Eileen</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Mobile Number</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">+65 8123 4567</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Email</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">eileen@fake-email.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style='background:grey'>
                    <h4 class="mb-0">Bank Details</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">UEN Number</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">0987654321ABC</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Account Number</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">Do we want to store this?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Account Type</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">Do we want to store this?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style='background:grey'>
                    <h4 class="mb-0">Main Office</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Address</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">123 Fake Street #01-01</p>
                            <p class="card-text">Nice Center</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Website</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">www.fakeagency.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Sales Email</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">sales@fake-agency.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Office Number</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">+65 61234567</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Mobile Number</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">+65 81234567</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Contact Person</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">Jon Doe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style='background:grey'>
                    <h4 class="mb-0">Operating Hours</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Monday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">8am - 5pm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Tuesday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">8am - 5pm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Wednesday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">8am - 5pm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Thursday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">8am - 5pm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Friday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">8am - 5pm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Saturday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">8am - 5pm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Sunday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">8am - 5pm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Public Holidays</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">8am - 5pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header" style='background:grey'>
                    <h4 class="mb-0">Agency Profile</h4>
                </div>
                <div class="card-body">
                    <h5 class="cart-title">Mission</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tempore aliquam possimus. Soluta, tempore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_section %}