{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<div class="container-fluid">
    <div class="row">
        <div class="col-22 text-right mb-4">
            <a href="{% url 'dashboard_agency_information_update' %}" class="btn btn-xs-lg btn-primary w-25 fs-14">Edit</a>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-9 agency-thumbnail" style="{% if agency.logo %}background-image: url({{agency.logo.url}});{% endif %}">
        </div>
        <div class="col-10 offset-3 pt-4" id="agencyInformationGroup">
            <h5 class="fs-20">{{agency.name}}</h5>
            <p>License Number: {{agency.license_number}}</p>
            {% if agency.website_uri %}<p>Website Url: <a href="{{agency.website_uri}}">{{agency.website_uri}}</a></p>{% endif %}
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="col-md-12 mb-5" id="agencyOutletDetailsGroup">
            <div class="row">
                <div class="col mb-lg-3 mb-xl-4">
                    <div class="row">
                        <div class="col">
                            <h5 class="fs-14">Main Branch</h5>
                            <p class="mb-1">{{agency.get_main_branch.address_1}}</p>
                            <p class="mb-1">{{agency.get_main_branch.address_2}}</p>
                            <p>Singapore {{agency.get_main_branch.postal_code}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-7">
                                    <p class="mb-1">Office No:</p>
                                </div>
                                <div class="col">
                                    <p class="mb-1">{{agency.get_main_branch.office_number}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <p class="mb-1">Mobile No:</p>
                                </div>
                                <div class="col">
                                    <p class="mb-1">{{agency.get_main_branch.mobile_number}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <p class="mb-1">EA Personnel:</p>
                                </div>
                                <div class="col">
                                    {% for employee in agency.get_main_branch.get_employees %}
                                    <p class="mb-1">{{employee.name}}</p>
                                    <p class="mb-1">Reg No: {{employee.ea_personnel_number}}</p>
                                    <p>Mobile: {{employee.contact_number}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for branch in agency.get_branches %}
            <div class="row">
                <div class="col mb-lg-3 mb-xl-4">
                    <div class="row">
                        <div class="col">
                            <h5 class="fs-14">{{branch.name|title}}</h5>
                            <p>
                                {{branch.address_1}} <br>
                                {{branch.address_2}} <br>
                                Singapore {{branch.postal_code}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-4">
                                    Office No:
                                </div>
                                <div class="col">
                                    {{branch.office_number}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Mobile No:
                                </div>
                                <div class="col">
                                    {{branch.mobile_number}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    EA Personnel:
                                </div>
                                <div class="col">
                                    {% for employee in branch.get_employees %}
                                    <p class="mb-0">{{employee.name}} ({{employee.ea_personnel_number}})</p>
                                    <p>Mobile: {{employee.contact_number}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-12 mb-5" id="agencyOpeningHoursGroup">
            <div class="row">
                <div class="col">
                    <h5 class="fs-14">Opening Hours</h5>
                </div>
            </div>
            {% if agency.opening_hours.type == 'AO' %}
            <div class="row">
                <div class="col">
                    <p>Appointment Only</p>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-10">
                    Monday:
                </div>
                <div class="col">
                    <p>{% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.monday_start}} - {{agency.opening_hours.monday_end}}{% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    Tuesday:
                </div>
                <div class="col">
                    <p>{% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.tuesday_start}} - {{agency.opening_hours.tuesday_end}}{% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    Wednesday:
                </div>
                <div class="col">
                    <p>{% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.wednesday_start}} - {{agency.opening_hours.wednesday_end}}{% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    Thursday:
                </div>
                <div class="col">
                    <p>{% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.thursday_start}} - {{agency.opening_hours.thursday_end}}{% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    Friday:
                </div>
                <div class="col">
                    <p>{% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.friday_start}} - {{agency.opening_hours.friday_end}}{% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    Saturday:
                </div>
                <div class="col">
                    <p>{% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.saturday_start}} - {{agency.opening_hours.saturday_end}}{% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    Sunday:
                </div>
                <div class="col">
                    <p>{% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.sunday_start}} - {{agency.opening_hours.sunday_end}}{% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    Public Holidays:
                </div>
                <div class="col">
                    <p>{% if agency.opening_hours.monday_closed == True %}Closed{% else %}{{agency.opening_hours.public_holiday_start}} - {{agency.opening_hours.public_holiday_end}}{% endif %}</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-12" id="agencyProfileGroup">
            <h5 class="fs-14">Profile</h5>
            <p>{{agency.profile}}</p>
        </div>
        <div class="col-md-12" id="agencyServicesGroup">
            <h5 class="fs-14">Our Services</h5>
            <p>{{agency.services}}</p>
        </div>
    </div>
</div>
{% endblock dashboard_section %}