{% extends 'dashboard-base.html' %}
{% load static %}
{% block dashboard_section %}
<section>
    <div class="container">
        <div class="row">
            <div class="col my-xxl-5">
                <div class="row">
                    <div class="col-md-4 pb-2" style="display: flex;flex-direction: column;">
                        <div style="background-image:url({{maid.photo.url}});background-position-x: center;background-size: cover; flex: 1;"></div>
                    </div>
                    <div class="col-md-6 offset-md-2">
                        <div class="row">
                            <div class="col">
                                <div class="row border py-1">
                                    <div class="col-6">
                                        <p class="mb-0">Name</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1 bg-white">
                                    <div class="col-6">
                                        <p class="mb-0">
                                            Reference Number
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1">
                                    <div class="col-6">
                                        <p class="mb-0">Nationality</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1 bg-white">
                                    <div class="col-6">
                                        <p class="mb-0">Type</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1">
                                    <div class="col-6">
                                        <p class="mb-0">Date of Birth</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1 bg-white">
                                    <div class="col-6">
                                        <p class="mb-0">Age</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1">
                                    <div class="col-6">
                                        <p class="mb-0">Height</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1 bg-white">
                                    <div class="col-6">
                                        <p class="mb-0">Weight</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1">
                                    <div class="col-6">
                                        <p class="mb-0">Marital Status</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1 bg-white">
                                    <div class="col-6">
                                        <p class="mb-0">Religion</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1">
                                    <div class="col-6">
                                        <p class="mb-0">Number of Children</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1 bg-white">
                                    <div class="col-6">
                                        <p class="mb-0">Age of Children</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1">
                                    <div class="col-6">
                                        <p class="mb-0">Number of Siblings</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1 bg-white">
                                    <div class="col-6">
                                        <p class="mb-0">Education</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1">
                                    <div class="col-6">
                                        <p class="mb-0">Expected Salary</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1 bg-white">
                                    <div class="col-6">
                                        <p class="mb-0">Number of off days</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                                <div class="row border py-1">
                                    <div class="col-6">
                                        <p class="mb-0">Spoken Languages</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">asd</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col my-2 my-md-3 my-lg-4">
                <div class="row">
                    <div class="col">
                        <h5>Food Handling Preference and Dietary Restriction</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="row">
                            <div class="col-5 py-3 border">
                                <p class="mb-0">Can you handle pork?</p>
                            </div>
                            <div class="col py-3 border text-center">
                                <p class="mb-0">Yes</p>
                            </div>
                            <div class="col-5 py-3 border">
                                <p class="mb-0">Can you eat pork?</p>
                            </div>
                            <div class="col py-3 border text-center">
                                <p class="mb-0">Yes</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 py-3 border">
                                <p class="mb-0">Can you handle beef?</p>
                            </div>
                            <div class="col py-3 border text-center">
                                <p class="mb-0">Yes</p>
                            </div>
                            <div class="col-5 py-3 border">
                                <p class="mb-0">Can you eat beef?</p>
                            </div>
                            <div class="col py-3 border text-center">
                                <p class="mb-0">Yes</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 py-3 border">
                                <p class="mb-0">Are you vegetarian?</p>
                            </div>
                            <div class="col py-3 border text-center">
                                <p class="mb-0">Yes</p>
                            </div>
                            <div class="col-5 py-3 border">
                                <p class="mb-0">Are you willing to work in a vegetarian family?</p>
                            </div>
                            <div class="col py-3 border text-center">
                                <p class="mb-0">Yes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col my-2 my-md-3 my-lg-4">
                <div class="row">
                    <div class="col">
                        <h5>Emplyoment History</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="row">
                            <div class="col py-3 border">
                                <p class="mb-0">From</p>
                            </div>
                            <div class="col py-3 border">
                                <p class="mb-0">To</p>
                            </div>
                            <div class="col py-3 border">
                                <p class="mb-0">Country</p>
                            </div>
                            <div class="col py-3 border">
                                <p class="mb-0">Employer</p>
                            </div>
                            <div class="col-5 py-3 border">
                                <p class="mb-0">Work Duties</p>
                            </div>
                            <div class="col py-3 border">
                                <p class="mb-0">Remarks</p>
                            </div>
                        </div>
                        {% for employment_history in maid.employment_history.all %}
                        <div class="row {% cycle 'bg-white' '' %}">
                            <div class="col py-3 border">
                                <p class="mb-0">{{employment_history.start_date|date:'d M Y'}}</p>
                            </div>
                            <div class="col py-3 border">
                                <p class="mb-0">{{employment_history.end_date|date:'d M Y'}}</p>
                            </div>
                            <div class="col py-3 border">
                                <p class="mb-0">{{employment_history.get_country_display}}</p>
                            </div>
                            <div class="col py-3 border">
                                <p class="mb-0"></p>
                            </div>
                            <div class="col-5 py-3 border">
                                <p class="mb-0">{% for work_duty in employment_history.work_duties.all %} {{work_duty}},{% endfor %}</p>
                            </div>
                            <div class="col py-3 border">
                                <p class="mb-0"></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col my-2 my-md-3 my-lg-4">
                <div class="row">
                    <div class="col">
                        <h5>Experience</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="row">
                            <div class="col py-3 border">
                                <p class="mb-0">Type</p>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">Willingness</p>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">Assessment</p>
                            </div>
                            <div class="col-3 py-3 border">
                                <p class="mb-0">Remarks</p>
                            </div>
                        </div>
                        <div class="row bg-white">
                            <div class="col py-3 border">
                                <p class="mb-0">Infant Child Care</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.infant_child_care.get_willingness_display}}</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.infant_child_care.assessment}}</h5>
                            </div>
                            <div class="col-3 py-3 border">
                                <p class="mb-0">{{maid.infant_child_care.get_remarks_display}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col py-3 border">
                                <p class="mb-0">Elderly Care</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.elderly_care.get_willingness_display}}</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.elderly_care.assessment}}</h5>
                            </div>
                            <div class="col-3 py-3 border">
                                <p class="mb-0">{{maid.elderly_care.get_remarks_display}}</h5>
                            </div>
                        </div>
                        <div class="row bg-white">
                            <div class="col py-3 border">
                                <p class="mb-0">Disabled Care</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.disabled_care.get_willingness_display}}</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.disabled_care.assessment}}</h5>
                            </div>
                            <div class="col-3 py-3 border">
                                <p class="mb-0">{{maid.disabled_care.get_remarks_display}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col py-3 border">
                                <p class="mb-0">General Housework</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.general_housework.get_willingness_display}}</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.general_housework.assessment}}</h5>
                            </div>
                            <div class="col-3 py-3 border">
                                <p class="mb-0">{{maid.general_housework.get_remarks_display}}</h5>
                            </div>
                        </div>
                        <div class="row bg-white">
                            <div class="col py-3 border">
                                <p class="mb-0">Cooking</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.cooking.get_willingness_display}}</h5>
                            </div>
                            <div class="col-2 py-3 border">
                                <p class="mb-0">{{maid.cooking.assessment}}</h5>
                            </div>
                            <div class="col-3 py-3 border">
                                <p class="mb-0">{{maid.cooking.get_remarks_display}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_section %}