{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary1 text-light">
                    <h4 class="my-1 d-inline-block">Agency Details</h4>
                    <a href="{% url 'agency_update' %}" class="btn btn-secondary float-right">Modify Agency Details</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="{{agency.logo.url}}" alt="" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title">Name</h5>
                                </div>
                                <div class="col-8">
                                    <p class="card-text">{{agency.name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title">License Number</h5>
                                </div>
                                <div class="col-8">
                                    <p class="card-text">{{agency.license_number}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title">Company Email</h5>
                                </div>
                                <div class="col-8">
                                    <p class="card-text">{{agency.company_email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title">Sales Email</h5>
                                </div>
                                <div class="col-8">
                                    <p class="card-text">{{agency.sales_email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title">Website</h5>
                                </div>
                                <div class="col-8">
                                    <p class="card-text">{{agency.website_uri}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title">Mission</h5>
                                </div>
                                <div class="col-8">
                                    <p class="card-text">{{agency.mission}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h4>Bank Account Details</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title">UEN</h5>
                                </div>
                                <div class="col-8">
                                    <p class="card-text">{{agency.uen}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title">QR Code</h5>
                                </div>
                                <div class="col-8">
                                    <img src="{{agency.qr_code.url}}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary1 text-light">
                    <h4 class="my-1 d-inline-block">Main Office</h4>
                    <a href="{% url 'dashboard_branches_list' %}" class="btn btn-secondary float-right">View all branches</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Address</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text mb-0">{{agency.get_main_office.address_1}}</p>
                            <p class="card-text">{{agency.get_main_office.address_2}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Website</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">{{agency.website_uri}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Sales Email</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">{{agency.sales_email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Office Number</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">+65 {{agency.get_main_office.office_number}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Mobile Number</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">+65 {{agency.get_main_office.mobile_number}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary1 text-light">
                    <h4 class="my-1 d-inline-block">Operating Hours</h4>
                    <a href="{% url 'agency_operating_hours_update' %}" class="btn btn-secondary float-right">Modify Operating Hours</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Monday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">
                                {% firstof agency.operating_hours.monday "Not Completed" %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Tuesday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">
                                {% firstof agency.operating_hours.tuesday "Not Completed" %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Wednesday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">
                                {% firstof agency.operating_hours.wednesday "Not Completed" %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Thursday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">
                                {% firstof agency.operating_hours.thursday "Not Completed" %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Friday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">
                                {% firstof agency.operating_hours.friday "Not Completed" %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Saturday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">
                                {% firstof agency.operating_hours.saturday "Not Completed" %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Sunday</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">
                                {% firstof agency.operating_hours.sunday "Not Completed" %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title">Public Holidays</h5>
                        </div>
                        <div class="col-8">
                            <p class="card-text">
                                {% firstof agency.operating_hours.public_holiday "Not Completed" %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_section %}