{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<div class="container-fluid">
    <div class="row">
        <div class="col-11 text-right mb-5">
            <a href="#" class="btn btn-primary btn-dashboard-primary w-25">Edit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="row">
                <div class="col">
                    <h5>FDW Information</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-1">Name of FDW</p>
                    <h6 class="text-dark mb-3">Raymond</h6>
                </div>
                <div class="col">
                    <p class="mb-1">Nationality</p>
                    <h6 class="text-dark mb-3">Male</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-1">Passport No</p>
                    <h6 class="text-dark mb-3">81234567</h6>
                </div>
                <div class="col">
                    <p class="mb-1">Work Permit No</p>
                    <h6 class="text-dark mb-3">61234567</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="row">
                <div class="col">
                    <h5>Employer Information</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-1">Name of Employer</p>
                    <h6 class="text-dark mb-3">12 Jan 1946</h6>
                </div>
                <div class="col">
                    <p class="mb-1">NRIC / FIN No</p>
                    <h6 class="text-dark mb-3">Singaporean</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-1">Address Line 1</p>
                    <h6 class="text-dark mb-3">S Pass Holder</h6>
                </div>
                <div class="col">
                    <p class="mb-1">Address Line 2</p>
                    <h6 class="text-dark mb-3">S1234567A</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-1">Postal Code</p>
                    <h6 class="text-dark mb-3">F1234 5678</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="row">
                <div class="col">
                    <h5>Case Information</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-1">Case Reference Number</p>
                    <h6 class="text-dark mb-3">Raymond</h6>
                </div>
                <div class="col">
                    <p class="mb-1">Contract Date</p>
                    <h6 class="text-dark mb-3">Male</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-1">Type of Application</p>
                    <h6 class="text-dark mb-3"></h6>
                </div>
                <div class="col">
                    <p class="mb-1">Assigned EA Personnel</p>
                    <h6 class="text-dark mb-3">61234567</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-1">FDW Basic Salary</p>
                    <h6 class="text-dark mb-3">Raymond@example.com</h6>
                </div>
                <div class="col">
                    <p class="mb-1">FDW Loan Amount</p>
                    <h6 class="text-dark mb-3">Blk 123 fake street</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-1">FDW No of Off Days Per Month</p>
                    <h6 class="text-dark mb-3">#12-34</h6>
                </div>
                <div class="col">
                    <p class="mb-1">FDW Per Off Day Compensation</p>
                    <h6 class="text-dark mb-3">123456</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_section %}