<div class="accordion pt-1 pb-5 mb-5" id="faqCovidAccordion">
    <div class="row">
        <div class="col pl-4 ml-1 mb-2">
            <h5>E. COVID-19 Related (6)</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <p class="faq-question">Who is responsible for maid SHN accommodation and COVID-19 test cost ? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqCovidAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers must bear the full costs and are not allowed to pass on any cost to maid.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="faq-question">Can employer request maid to share a room at the dedicated SHN facility? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqCovidAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The room sharing request is subject to the availability of twin rooms and whether there is another worker with the same travel history.</p>
                        <p>Employer and maid should take note of the risks, including contracting infectious disease such as COVID-19 from the person she is sharing room with. If any of them tests positive for COVID-19, their Stay-Home Notice may be extended, which resulted in higher costs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <p class="faq-question">Who pays for the cost of treatment if a maid get COVID-19? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqCovidAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers are responsible for the full treatment cost if maid develops COVID-19 symptoms or tested positive when they are serving the Stay-Home Notice.</p>
                        <p>Employers are required to purchase insurance before maid arrive in Singapore that has a coverage of at least S$10,000 medical cost.</p>
                        <p>The Singapore Government will pay for COVID-19 treatment cost for maid for locally transmitted cases.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <p class="faq-question">Who should pay for maid COVID-19 vaccination? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqCovidAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>COVID-19 vaccination is free of charge for maids and employers should encourage maids to get vaccination and protect themselves against COVID-19.</p>
                        <p>On the day of vaccination, remind maid to bring along her mobile phone with the SMS containing the appointment details to facilitate registration.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <p class="faq-question">Who is responsible if maid suffers from serious adverse reactions after vaccination? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqCovidAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Ministry of Health has Vaccine Financial Assistant Programme to support people who suffer serious adverse events that are assessed to be likely related to COVID-19 vaccines administered in Singapore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <p class="faq-question">What can employer do if maid insists of going for her rest day? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqCovidAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employer should encourage maid to spend their rest day at home during this period and reach for a mutual agreement on rest day arrangements.</p>
                        <ul>
                            <li>If maid agrees to spend rest days at home, employer should not assign work to maid on the rest days.</li>
                            <li>If maid agrees to forgo rest days, employers must provide compensation in lieu of the rest days.</li>
                            <li>If maid has errands that needs to attend on rest day, she should be encouraged to take rest day on a weekday, when public spaces are less crowded.</li>
                            <li>Employer should also encourage maid not to gather in public areas when goes out on their rest days.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>