<div class="accordion pt-1 pb-5 mb-5" id="faqDuringEmploymentAccordion">
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <p class="font-weight-bold">Can employers help to safekeep FDW’s money? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqDuringEmploymentAccordion" active>
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>From 1 January 2019, employers are not allowed to keep FDW’s salary, money, bank card and bank book belonging to them, even if they requests it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="font-weight-bold">Must employers pay for FDW's salary during training? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers must pay for FDW’s salary as long as she is employed by the employer, even when she is sent back to the agency for training.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <p class="font-weight-bold">What is the number of rest days for FDW? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The FDW is entitled to a weekly rest day as per MOM guideline.</p>
                        <p>If FDW agrees to work on her rest day, the employer must compensate her with 1 day’s salary per off day.*</p>
                        <p class="text-muted small">*To avoid dispute, this agreement should be in writing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <p class="font-weight-bold">What if the FDW goes missing?<i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The following steps should be taken:</p>
                        <ul>
                            <li>The employer should try to look for the FDW and inform the employment agency.</li>
                            <li>The employer must file a police report if he/she fails to locate the FDW within 24 hours.</li>
                            <li class="mb-2">The employer will have one month to find and repatriate the FDW*.</li>
                            <p class="text-muted small">*Failing to do so will result in the S$5,000 security bond being forfeited.</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <p class="font-weight-bold">Who is responsible for FDW's medical expenses? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The employer is liable to pay the full cost of medical expenses, including hospitalization.</p>
                        <p>The employer is required by MOM to buy medical insurance for the FDW, with a minimum cover of S$15,000 for inpatient care and day surgery.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <p class="font-weight-bold">What if the FDW is pregnant? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Under MOM’s regulations, FDWs cannot be pregnant or give birth in Singapore.</p>
                        <p>Employers should repatriate the FDW back to her country of origin as soon as possible*</p>
                        <p class="text-muted small">* Falling to do so will result in the S$5,000 security bond being forfeited.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <p class="font-weight-bold">What if the FDW falls sick or injured herself on her rest day? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers must pay for the costs of providing the necessary medical treatment even if the FDW’s illness or injury occurs on her rest day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <p class="font-weight-bold">Will the FDW be paid when on overseas leave? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>No, the employer need not do so unless this is provided for in the employment contract.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                <p class="font-weight-bold">What if the FDW’s medical expenses exceed the insurance benefit limit? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers are not allowed to make the FDW pay for her medical expenses. This includes medical expenses that are above what the insurance pays.</p>
                        <p>Employers are encouraged to buy insurance with a higher coverage to protect themselves from any excessive medical bills.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                <p class="font-weight-bold">Can employers reinstate the FDW’s Work Permit after cancellation? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers can submit requests to MOM and have to ensure that the Work Permit has not expired and the FDW is still in Singapore.</p>
                        <p>If approved, employers need to pay a $35 transaction fee. The FDW levy will be charged from the date of cancellation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                <p class="font-weight-bold">Do I have to pay for the FDW’s passport renewal? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers and FDW should mutually agree on who should pay for the passport renewal.</p>
                        <p>This should be decided preferably at the start of her employment and stated in the employment contract.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                <p class="font-weight-bold">Can I extend the current FDW’s work permit until the new FDW arrives?< <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#faqDuringEmploymentAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Yes. Employers have to submit an application 30 days before the work permit expires*.</p>
                        <p class="text-muted small">*The extension will be up to one month.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

