<div class="accordion" id="faqDuringEmploymentAccordion">
    <div class="row">
        <div class="col pl-4 ml-1 mb-2">
            <h5>C. During Employment (14)</h5>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button" type="button" data-toggle="collapse" data-target="#collapseDEOne" aria-expanded="false" aria-controls="collapseDEOne">
                <p class="faq-question mb-1">Who is responsible for Maid's medical expenses? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDEOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employers are liable to pay the full cost of medical expenses, including hospitalization.</p>
                        <p class="fs-11">Employers are required by MOM to buy medical insurance for the Maid, with a minimum cover of S$15,000 for inpatient care and day surgery.</p>
                        <p class="fs-11">Employers are encouraged to buy higher coverage insurance to protect themselves from <em>any excessive medical bills</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDETwo" aria-expanded="false" aria-controls="collapseDETwo">
                <p class="faq-question mb-1">Do I have to pay for the Maid’s passport renewal? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDETwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employers and Maid should mutually agree on who should pay for the passport renewal. It should be in writing to avoid future disputes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDEThree" aria-expanded="false" aria-controls="collapseDEThree">
                <p class="faq-question mb-1">What is the number of rest days for Maid? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDEThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Maids are entitled to a weekly rest day as per MOM guideline.</p>
                        <p class="fs-11">If a Maid agrees to work on her rest day, the employer must compensate her with 1 day’s salary per off day.</p>
                        <p class="fs-11">The number of rest day per month agreed between a maid and his/her employer should be in written to avoid future dispute</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDEFour" aria-expanded="false" aria-controls="collapseDEFour">
                <p class="faq-question mb-1">What if the Maid falls sick or injured herself on her rest day? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDEFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employers must pay for the costs of providing the necessary medical treatment even if the Maid’s illness or injury occurs on her rest day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDEFive" aria-expanded="false" aria-controls="collapseDEFive">
                <p class="faq-question mb-1">What if the Maid goes missing?<i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDEFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <ul>
                            <li class="fs-11">Employers should try to look for the Maid and inform the employment agency.</li>
                            <li class="fs-11">Employers must file a police report if he/she fails to locate the Maid within 24 hours.</li>
                            <li class="fs-11 mb-2">Employers will have one month to find and repatriate the Maid. Failing to do so will result in the S$5,000 security bond being forfeited.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDESix" aria-expanded="false" aria-controls="collapseDESix">
                <p class="faq-question mb-1">What if the Maid is pregnant? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDESix" class="collapse" aria-labelledby="headingSix" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Under Ministry of Manpower regulations, maids cannot be pregnant or give birth in Singapore.</p>
                        <p class="fs-11">Employers should repatriate such maids back to their country of origin as soon as possible. Falling to do so will result in S$5,000 security bond being forfeited.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDESeven" aria-expanded="false" aria-controls="collapseDESeven">
                <p class="faq-question mb-1">Will the Maid be paid when on overseas leave and can employers apply for the levy to be waived? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDESeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employers do not need to pay maid salary when she is on overseas leave.</p>
                        <p class="fs-11">Employers can apply for a levy waiver for the duration the maid is away and defer her 6 monthly medical check.</p>
                        <p class="fs-11">To qualify for the levy waiver, the overseas leave must be at least 7 days and not more than 60 days.</p>
                        <p class="fs-11">The maid must show their work permit card when they re-enter Singapore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDEEight" aria-expanded="false" aria-controls="collapseDEEight">
                <p class="faq-question mb-1">Can employers help to safekeep Maid’s money? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDEEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">From 1 January 2019, employers are not allowed to keep Maid’s salary, money, bank card and bank book belonging to them, even if they requests it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDENine" aria-expanded="false" aria-controls="collapseDENine">
                <p class="faq-question mb-1">Can maid look after employer’s child or parent at relative’s house? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDENine" class="collapse" aria-labelledby="headingNine" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Maids are only allowed to perform domestic chores at the residential address declare to Ministry of Manpower. However, if maids are required to look after elder or child at a relative’s house employer must:</p>
                        <ul>
                            <li class="fs-11">Notify Ministry of Manpower before proceed with the arrangement.</li>
                            <li class="fs-11">Obtain maid’s written agreement to take care of child or elder at employer’s relative house.</li>
                            <li class="fs-11">Ensure maid does not perform the full load of housework in both households.</li>
                            <li class="fs-11">Ensure accommodation meets the requirements of Ministry of Manpower if maid needs to stay overnight to take care of child or elder.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDETen" aria-expanded="false" aria-controls="collapseDETen">
                <p class="faq-question mb-1">Can employers leave their maid with a friend, relative or employment agency while overseas? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDETen" class="collapse" aria-labelledby="headingTen" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employers must pay maid salary even while overseas, example on holiday or business trip.</p>
                        <p class="fs-11">Employers need to seek Ministry of Manpower approval to leave maid with a friend, relative or employment agency while overseas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDEEleven" aria-expanded="false" aria-controls="collapseDEEleven">
                <p class="faq-question mb-1">Can employer reinstate maid’s Work Permit after cancellation? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDEEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employers can submit request to Ministry of Manpower and has to ensure that Work Permit has not expired and maid is still in Singapore.</p>
                        <p class="fs-11">If approved, employers must pay $35 transaction fee. Levy will be charged from the date of cancellation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDETwelve" aria-expanded="false" aria-controls="collapseDETwelve">
                <p class="faq-question mb-1">Can current maid’s work permit be extended? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDETwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Yes. Employers have to submit an application 30 days before the work permit expires*.</p>
                        <p class="text-muted small">*The extension will be up to one month.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDEThirteen" aria-expanded="false" aria-controls="collapseDEThirteen">
                <p class="faq-question mb-1">Can current maid overlaps with new maid for short period of time? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDEThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employer can prepare a letter to explain the case and undertake to pay levies and salaries for both maids for the period where both of them are under his/her employment.</p>
                        <p class="fs-11">The letter can be submitted online thru iSubmit in Ministry of Manpower website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseDEd" type="button" data-toggle="collapse" data-target="#collapseDEFourteen" aria-expanded="false" aria-controls="collapseDEFourteen">
                <p class="faq-question mb-1">Must employers pay for Maid's salary during training? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseDEFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#faqDuringEmploymentAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employers must pay for Maid’s salary as long as she is employed by the employer, even when she is sent back to the agency for training.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

