<div class="accordion" id="faqEmployerEligibilityAccordion">
    <div class="row">
        <div class="col pl-4 ml-1 mb-2">
            <h5>A. Employer Eligibility Criteria (6)</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button" type="button" data-toggle="collapse" data-target="#collapseEEOne" aria-expanded="false" aria-controls="collapseEEOne">
                <p class="fs-12 faq-question">What is the minimum income needed to employ a Maid? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseEEOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">There is no specified amount. It is assessed based on the type of application:</p>
                        <ul>
                            <li class="fs-11">For married couples, you can combine your income with your spouse's</li>
                            <li class="fs-11">For the Joint Income Scheme, you can combine the income of family members who are living together</li>
                            <li class="fs-11">For people aged 60 years or older, you can apply under the Sponsorship Scheme</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseEEd" type="button" data-toggle="collapse" data-target="#collapseEETwo" aria-expanded="false" aria-controls="collapseEETwo">
                <p class="faq-question">Can a person without income employ a maid? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseEETwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Yes, with the following conditions:</p>
                        <ul>
                            <li class="fs-11">Singapore citizen or permanent resident who are age 60 and above are able to apply for a maid based on the income of up to 2 sponsors.</li>
                            <li class="fs-11">Sponsors must be family member who are not staying with employer.</li>
                            <li class="fs-11">The employer must not be earn any income or stay with any working adults.</li>
                            <li class="fs-11">The employer must have the mental capacity to understand his/her responsibility as an employer.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseEEd" type="button" data-toggle="collapse" data-target="#collapseEEThree" aria-expanded="false" aria-controls="collapseEEThree">
                <p class="faq-question">Can an Employment Pass or S Pass holder employ a Maid? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseEEThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Yes. The applicant needs to provide the following:</p>
                        <ul>
                            <li class="fs-11">Passport</li>
                            <li class="fs-11">Work pass or spouse's Long-Term Pass</li>
                            <li class="fs-11">Child's birth certificate or student pass(for Long Term Visit Pass holders)</li>
                            <li class="fs-11">Income Tax Notice of Assessment for the current or previous assessment year</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseEEd" type="button" data-toggle="collapse" data-target="#collapseEEFour" aria-expanded="false" aria-controls="collapseEEFour">
                <p class="faq-question">Can a single person employ a Maid?<i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseEEFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">The applicant will be assessed based on eligibility such as:</p>
                        <ul>
                            <li class="fs-11">He/She must be 21 years old and above.</li>
                            <li class="fs-11">He/She cannot be an undischarged bankrupt.</li>
                            <li class="fs-11">He/She must be earning a steady source of income.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseEEd" type="button" data-toggle="collapse" data-target="#collapseEEFive" aria-expanded="false" aria-controls="collapseEEFive">
                <p class="faq-question">What are the requirements to hire a second Maid? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseEEFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">The applicant needs to have any of these family members living with him/her:</p>
                        <ul>
                            <li class="fs-11">At least 2 children below 18 years old</li>
                            <li class="fs-11">A parent or parent-in-law over 60 years old</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseEEd" type="button" data-toggle="collapse" data-target="#collapseEESix" aria-expanded="false" aria-controls="collapseEESix">
                <p class="faq-question">What is the Employers’ Orientation Programme? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseEESix" class="collapse" aria-labelledby="headingSix" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">It is a 3-hour programme for employers to understand their role and responsibilities.</p>
                        <p class="fs-11">First time employers and existing employers who have employed more than 3 different Maid within a 12-month period must complete the EOP before they can apply for a Maid.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>