<div class="accordion pt-1 pb-5 mb-5" id="faqEmployerEligibilityAccordion">
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <p class="font-weight-bold">Can an Employment Pass or S Pass holder employ a FDW? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Yes. The applicant needs to provide the following:</p>
                        <ul>
                            <li>Passport</li>
                            <li>Work pass or spouse's Long-Term Pass</li>
                            <li>Child's birth certificate or student pass(for Long Term Visit Pass holders)</li>
                            <li>Income Tax Notice of Assessment for the current or previous assessment year</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="font-weight-bold">What is the minimum income needed to employ a FDW? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>There is no specified amount. It is assessed based on the type of application:</p>
                        <ul>
                            <li>For married couples, you can combine your income with your spouse's</li>
                            <li>For the Joint Income Scheme, you can combine the income of family members who are living together</li>
                            <li>For people aged 60 years or older, you can apply under the Sponsorship Scheme</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <p class="font-weight-bold">Can I employ a FDW if I do not have any income? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>If you are 60 years old or older, not earning an income and not staying with any working adults, you can apply under the Sponsorship Scheme.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <p class="font-weight-bold">Can a single person employ a FDW?<i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The applicant will be assessed based on eligibility such as:</p>
                        <ul>
                            <li>You must be 21 years old and above.</li>
                            <li>You cannot be an undischarged bankrupt.</li>
                            <li>You must be earning a steady source of income.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <p class="font-weight-bold">What are the requirements to hire a second FDW? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The applicant needs to have any of these family members living with him/her:</p>
                        <ul>
                            <li>At least 2 children below 18 years old</li>
                            <li>A parent or parent-in-law over 60 years old</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <p class="font-weight-bold">What is the Employers’ Orientation Programme? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>It is a 3-hour programme for employers to understand their role and responsibilities.</p>
                        <p>First time employers and existing employers who have employed more than 3 different FDW within a 12-month period must complete the EOP before they can apply for a FDW.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>