<div class="accordion pt-1 pb-5 mb-5" id="faqEmployerEligibilityAccordion">
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <p class="faq-question">Who pays for the air ticket if the FDW is sent home before her contract ends? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers are responsible for the cost of sending their FDW home even if the contract has not ended.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="faq-question">What if the FDW missed her flight home and her Work Permit has been cancelled? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers should book the FDW on another flight home and log in to WPOL to extend her special pass and change her departure date.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <p class="faq-question">What is the process for sending a FDW home? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqEmployerEligibilityAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>When the FDW’s contract ends, employers need to buy a direct air ticket including check-in luggage to the international airport of the FDW’s hometown or nearest to her hometown.</p>
                        <p>If transit is required, the employer should give sufficient allowance for FDW to sustain herself during her transit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>