<div class="accordion" id="faqRepatriationAccordion">
    <div class="row">
        <div class="col pl-4 ml-1 mb-2">
            <h5>D. Repatriate (3)</h5>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button" type="button" data-toggle="collapse" data-target="#collapseROne" aria-expanded="false" aria-controls="collapseROne">
                <p class="faq-question mb-1">What is the process for sending a Maid home? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseROne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqRepatriationAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">When maid’s contract end, employer needs to buy a direct air ticket including check-in luggage to the international airport of the maid’s hometown or nearest to her hometown. If transit is required, employer should give sufficient allowance for maid to sustain herself during her transit.</p>
                        <p class="fs-11">The maid's departure date must be within 2 weeks after cancelling their work permit</p>
                        <p class="fs-11">All outstanding employment issues must be resolved before the departure date.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseRd" type="button" data-toggle="collapse" data-target="#collapseRTwo" aria-expanded="false" aria-controls="collapseRTwo">
                <p class="faq-question mb-1">Who pays for the air ticket if the Maid is sent home before her contract ends? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseRTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqRepatriationAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employers are responsible for the cost of sending their Maid home even if the contract has not ended. This is to prevent a situation where the maid is left stranded in Singapore with no other means to return home.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapseRd" type="button" data-toggle="collapse" data-target="#collapseRThree" aria-expanded="false" aria-controls="collapseRThree">
                <p class="faq-question mb-1">What if the Maid missed her flight home and her Work Permit has been cancelled? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseRThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqRepatriationAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p class="fs-11">Employers should book the Maid on another flight home and login to WPOL to extend her special pass and change her departure date.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>