<div class="accordion pt-1 pb-5 mb-5" id="faqWaitingTimeAndCostAccordion">
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <p class="faq-question">What is the waiting time for a FDW to arrive from overseas? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqWaitingTimeAndCostAccordion" active>
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>It is between 2 weeks to 8 weeks, depending on factors such as the nationality of the FDW, passport status, etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="faq-question">What is a Transfer Maid? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>A Transfer maid is a FDW who is already in Singapore under the employment of another employer and is seeking for a new employer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <p class="faq-question">What are the costs involved in employing a FDW? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The costs are as shown:</p>
                        <ul>
                            <li>One-time placement fee charged by the agency for sourcing and bringing in the FDW.</li>
                            <li>FDW’s IPA, security bond, medical, SIP, insurance, work permit application and covid-19 related cost.</li>
                            <li>FDW’s monthly salary, levy and half yearly medical checkup.</li>
                            <li>FDW's repatriation cost.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <p class="faq-question">What is a security bond?<i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers are required to place a S$5,000 security bond in the form of a banker's guarantee for the FDW he/she wants to employ.</p>
                        <p>The bond is required by the Government of Singapore.</p>
                        <p>It is used to ensure that both the employer and FDW comply with the conditions of the Work Permit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <p class="faq-question">What is FDW levy and how much is it? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The FDW levy is a pricing mechanism by the Ministry of Manpower (MOM) to regulate the number of foreign workers in Singapore.</p>
                        <p>Employers of FDW must pay a monthly levy of S$265 or concessionary rate of S$60.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <p class="faq-question">Who qualifies for a levy concession? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Levy concession are available to:</p>
                        <ul>
                            <li>Employers living with a citizen child, age 16 years old or below.</li>
                            <li>Employers is a citizen or permanent resident, age 65 years and above. </li>
                            <li>Employers living with a person who requires permanent assistance with ADL.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <p class="faq-question">Are there any grant given to Singapore Citizen or PRs? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers with a family member who requires permanent assistance with 3 or more ADLs, may qualify for a monthly grant of S$120.</p>
                        <p>More information is available on the AIC’s Singapore Silver Pages website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <p class="faq-question">What is SIP? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The Settling-In-Programme (SIP) is a 1-day orientation programme for first-time FDWs to educate them on safety precautions and living in Singapore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>