<div class="accordion" id="faqWaitingTimeAndCostAccordion">
    <div class="row">
        <div class="col pl-4 ml-1 mb-2">
            <h5>B. Waiting Time & Cost</h5>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-xs-lg btn btn-xs-lg-link btn btn-xs-lg-block text-left text-reset mini-faq-button" type="button" data-toggle="collapse" data-target="#collapseWTOne" aria-expanded="false" aria-controls="collapseWTOne">
                <p class="faq-question mb-1">What is the waiting time for a Maid to arrive from overseas? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseWTOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqWaitingTimeAndCostAccordion" active>
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>It is between 2 weeks to 8 weeks, depending on factors such as the nationality of the maid, passport readiness and other factors.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-xs-lg btn btn-xs-lg-link btn btn-xs-lg-block text-left text-reset mini-faq-button collapseWTd" type="button" data-toggle="collapse" data-target="#collapseWTTwo" aria-expanded="false" aria-controls="collapseWTTwo">
                <p class="faq-question mb-1">What are the costs involved in employing a Maid? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseWTTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The costs are as shown:</p>
                        <ul>
                            <li>One-time placement fee charged by the agency for sourcing and bringing in the Maid.</li>
                            <li>Maid’s IPA, security bond, medical, SIP, insurance, work permit application and covid-19 related cost.</li>
                            <li>Maid’s monthly salary, levy and half yearly medical checkup.</li>
                            <li>Maid's repatriation cost.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-xs-lg btn btn-xs-lg-link btn btn-xs-lg-block text-left text-reset mini-faq-button collapseWTd" type="button" data-toggle="collapse" data-target="#collapseWTThree" aria-expanded="false" aria-controls="collapseWTThree">
                <p class="faq-question mb-1">What is Maid levy and how much is it? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseWTThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>The Maid levy is a pricing mechanism by the Ministry of Manpower (MOM) to regulate the number of foreign workers in Singapore.</p>
                        <p>Employers of Maid must pay a monthly levy of S$265 or concessionary rate of S$60.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-xs-lg btn btn-xs-lg-link btn btn-xs-lg-block text-left text-reset mini-faq-button collapseWTd" type="button" data-toggle="collapse" data-target="#collapseWTFour" aria-expanded="false" aria-controls="collapseWTFour">
                <p class="faq-question mb-1">Who qualifies for a levy concession? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseWTFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Levy concession are available to:</p>
                        <ul>
                            <li>Employers living with a citizen child, age 16 years old or below.</li>
                            <li>Employers is a citizen or permanent resident, age 65 years and above. </li>
                            <li>Employers living with a person who requires permanent assistance with ADL.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-xs-lg btn btn-xs-lg-link btn btn-xs-lg-block text-left text-reset mini-faq-button collapseWTd" type="button" data-toggle="collapse" data-target="#collapseWTFive" aria-expanded="false" aria-controls="collapseWTFive">
                <p class="faq-question mb-1">Are there any grant given to Singapore Citizen or PRs? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseWTFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers with a family member who requires permanent assistance with 3 or more ADLs, may qualify for a monthly grant of S$120.</p>
                        <p>More information is available on the AIC’s Singapore Silver Pages website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-xs-lg btn btn-xs-lg-link btn btn-xs-lg-block text-left text-reset mini-faq-button collapseWTd" type="button" data-toggle="collapse" data-target="#collapseWTSix" aria-expanded="false" aria-controls="collapseWTSix">
                <p class="faq-question mb-1">What is a security bond?<i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseWTSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>Employers are required to place a S$5,000 security bond in the form of a banker's guarantee for the Maid he/she wants to employ.</p>
                        <p>The bond is required by the Government of Singapore to ensure that both the employer and Maid comply with the conditions of the Work Permit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-xs-lg btn btn-xs-lg-link btn btn-xs-lg-block text-left text-reset mini-faq-button collapseWTd" type="button" data-toggle="collapse" data-target="#collapseWTSeven" aria-expanded="false" aria-controls="collapseWTSeven">
                <p class="faq-question mb-1">What is SIP? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseWTSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>It is a 1-day orientation programme to educate first-time maids on safety precautions and living in Singapore.</p>
                        <p>The employer shall bear the cost of the SIP($75 inclusive of GST).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button class="btn btn-xs-lg btn btn-xs-lg-link btn btn-xs-lg-block text-left text-reset mini-faq-button collapseWTd" type="button" data-toggle="collapse" data-target="#collapseWTEight" aria-expanded="false" aria-controls="collapseWTEight">
                <p class="faq-question mb-1">What is a Transfer Maid? <i class="fas fa-caret-right ml-1"></i></p>
            </button>
            <div id="collapseWTEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqWaitingTimeAndCostAccordion">
                <div class="row text-dark">
                    <div class="col py-2 pl-4 ml-1">
                        <p>A Transfer maid is a Maid who is already in Singapore under the employment of another employer and is seeking for a new employer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>