@import 'variables';

// @use 'variables' as *;

/*------------------------------------*\
  #PDF
\*------------------------------------*/
@page {
    size: Letter;
    /* Change from the default size of A4 */
    margin: 1.5cm;
    /* Set margin on each page */
}

@page {
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        font-size: 10px;
    }
}

body {
    font-family: Times;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    margin:0;
}

.page-break {
    page-break-before: always;
}


/*------------------------------------*\
  #TABLE
\*------------------------------------*/
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: $space-small;
    font-size: $text-standard;
}

.border--all th, .border--all td {
    border: $border-standard-black;
}

.border--bottom {
    border-bottom: $border-standard-black;
}

.border--top {
    border-top: $border-thick-black;
}

.border--right {
    border-right: $border-standard-black;
}

/*------------------------------------*\
  #TEXT SIZE
\*------------------------------------*/
h1 {
    font-size: $header-large;
}

h2 {
    font-size: $header-standard;
}

h3 {
    font-size: $header-small;
}

p {
    font-size: $text-standard;
    text-align: justify;
}

th, td {
    text-align: justify;
    font-size: $text-standard;
    vertical-align: text-top;
    line-height: 1.5;
}

.text--large {
    font-size: $text-large;
}

.text--xsmall {
    font-size: $text-small;
}

.text-bold--600 {
    font-weight: $font-weight-bold;
}

.text-align-center {
    text-align: $text-align-ctr;
}

.text-align-right {
    text-align: $text-align-right;
}

.float--right {
    clear: both;
    float: right;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.header__mom-logo1 {
    height: $space-x-large;
    float: $float-left;
}

.header__mom-logo2 {
    height: $space-x-large;
    float: $float-right;
}

.header-workpass--bd-bluegrey {
    border-top: $border-bluegrey;
    border-bottom: $border-bluegrey;
}

.header-work-pass--bd-orange {
    border: $border-thick-orange;
}

.header-safety-ag--bg-bluegrey {
    background-color: $bg-color-bluegrey;
}


/*------------------------------------*\
  #MAIN
\*------------------------------------*/
.main-serv-ag--bd-red {
    border: $border-thick-red;
}

.main-work-pass--bg-bluegrey {
    font-size: $text-large;
    background-color: $bg-color-bluegrey;
}

.main-safety-ag--text-white {
    color: $text-white;
}

.main-safety-ag--bg-grey {
    background-color: $bg-color-grey;
}

.main-safety-ag--bg-black {
    background-color: $bg-color-black;
}

.main-safety-ag--text-l {
    font-size: $text-large;
    font-weight: $font-weight-bold;
    border: $border-standard-black;
}

.main-receipt--bg-lightblue {
    background-color: $bg-color-lightblue;
}

.main-biodata-bd-groove {
    border-bottom: $border-groove;
}

.main-safety-ag__img {
    height: $space-x-large;
    float: $float-right;
}

/*------------------------------------*\
  #SIGNATURE
\*------------------------------------*/
.signature__img {
    width: $signature-field;
}

input[type="checkbox"] {
        height: 10px;
        width: 10px;
        display: inline-block;
        border: black 1px solid;
        margin: 0 5px;
    }