$header-large: 16px;
$header-standard: 13px;
$header-small: 11px;

$text-large: 11px;
$text-standard: 10px;
$text-small: 8px;

$text-white: #FFFFFF;

$font-weight-bold: 600;

$space-x-large: 60px;
$space-small: 5px;

$border-groove: 1px groove;
$border-standard-black: 1px solid black;
$border-thick-black: 2px solid black;
$border-thick-red: 2px solid red;
$border-thick-orange: 2px solid orange;
$border-bluegrey: 5px solid #DAE3EA;

$bg-color-bluegrey: #DAE3EA;
$bg-color-grey: #D9D9D9;
$bg-color-black: black;
$bg-color-lightblue: #DDEBF7;

$signature-field: 150px;

$float-left: left;
$float-right: right;
$text-align-ctr: center;
$text-align-right: right;