{% extends 'employer-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block accounts_section %}
{% include 'sections/title-banner.html' with page_name='Forget Password' %}
{% include 'components/45-ws-section/start.html' with bg_color='bg-custom-ab' section_id='account-section' %}
{% include 'components/crispy-form-error.html' %}
<div class="row">
    <div class="col-24 col-md py-md-4">
        <div class="row">
            <div class="col mb-md-2 mb-lg-3 mb-xl-4">
                <h5 class="fs-16 mb-4">Forget Password</h5>
                <p>
                    Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder or click here to request a new link.
                </p>
            </div>
        </div>
    </div>
    <div class="col col-3 justify-content-center d-none d-md-flex">
        <span class="d-flex my-auto custom-vertical-divider"></span>
    </div>
    <div class="col-24 col-md pb-md-4 my-5 my-md-auto">
        <form method="post" enctype="multipart/form-data">
            {% crispy form %}
        </form>
    </div>
</div>
{% include 'components/form-footer.html' with page_name=page_name %}
{% include 'components/45-ws-section/end.html' %}
{% endblock accounts_section %}