{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}
{% block dashboard_section %}
<section>
    <div class="container-fluid" style="min-height: 75vh;">
        <form method="post" enctype="multipart/form-data">
            {% crispy form %}
        </form>
    </div>
</section>
<script>
    $(function(){
        $('#maidEmploymentHistoryAdditionButton').on('click', function(e){
            e.preventDefault();
            $(`#eh_entry_section_${$(this).data('rownumber') + 1}`).removeClass('d-none');
        });
        $('#maidLoanAdditionButton').on('click', function(e){
            e.preventDefault();
            $(`#ml_entry_section_${$(this).data('rownumber') + 1}`).removeClass('d-none');
        });
    })
</script>
{% endblock dashboard_section %}