{% extends 'maid-base.html' %}
{% load crispy_forms_tags %}
{% block maid_section %}
<section>
    <div class="jumbotron jumbotron-fluid bg-hero">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-lg-6 py-2 py-md-3 offset-md-1">
                    <h1 class="display-4 pl-3 pl-md-2">Maids</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Maids</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-3 mb-3 offset-lg-1 offset-xl-0">
                <form action="" method="get">
                    <div class="row">
                        <div class="col">
                            {{filter.form|crispy}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'maid_list' %}" class="btn btn-secondary w-100">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-9">
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
                    {% for maid in maids %}
                        <div class="col mb-4">
                            <div class="card maid-card" id='maid-{{maid.pk}}' data-maid='{{maid.pk}}'>
                                <div onclick="maidProfileRedirect({{maid.pk}})">
                                    <img src="{{maid.photo.url}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{maid.biodata.name}}</h5>
                                        <p class="card-text">{{maid.biodata.get_country_of_origin_display}}</p>
                                        <p class="card-text">{{maid.biodata.age}} years old</p>
                                        <p class="card-text">{{maid.family_details.get_marital_status_display}}</p>
                                        <p class="card-text">{{maid.get_maid_type_display}}</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'add_to_shortlist' maid.pk %}" class="btn btn-primary w-100">Add to Shortlist</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock maid_section %}
{% block js%}
<script>
    $(function(){
        maidProfileRedirect = (pk) => {
            location.replace(location.origin + location.pathname + pk)
        }
        contentGenerator = (salary, days_off, employment_history) => {
            contentString = '<div>'
            if(salary){
                contentString += `<p>Salary: $${salary}</p>`
            }
            if(days_off){
                contentString += `<p>Number of days off: ${days_off}</p>`
            }
            if(employment_history){
                contentString += '<h5>Employment History</h5><ul>'
                for(eh in employment_history){
                    contentString += `Start Date: ${eh.start_date} End Date:${eh.end_date} Country:${eh.country} Work_duration:${eh.work_duration}`
                }
                contentString += '</ul>'
            }
            return contentString
        }
        
        tippy('.maid-card', {
            content: 'Loading',
            placement: 'right',
            allowHTML: true,
            onCreate(instance) {
                // Setup our own custom state properties
                instance._isFetching = false;
                instance._data = null;
                instance._error = null;
            },
            onShow(instance) {
                let backend_uri = location.origin + location.pathname + (instance.reference.attributes.id.value).split('-')[1] + '/profile/';
                if (instance._isFetching || instance._data || instance._error) {
                    return;
                }
                instance._isFetching = true;

                fetch(backend_uri)
                .then((response) => response.json())
                .then((result) => {
                    instance._data = contentGenerator(result.salary,result.days_off,result.employment_history);
                    instance.setContent(instance._data);
                })
                .catch((error) => {
                    instance._error = error;
                    console.log(error)
                    instance.setContent(`Request failed. ${error}`);
                })
                .finally(() => {
                    instance._isFetching = false;
                });
            },
            onHidden(instance) {
                instance.setContent('Loading...');
                // Unset these properties so new network requests can be initiated
                instance._data = null;
                instance._error = null;
            }
        })
    })
</script>
{% endblock js %}