{% extends 'maid-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block maid_section %}
{% include 'sections/title-banner.html' with page_name='Maids' %}
{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-ab' section_id='maid-section' %}
<div class="row justify-content-center">
    <div class="col-md-11 col-lg-10 col-xl-2-5 mb-3">
        <form action="" method="get">
            <div class="row">
                <div class="col px-lg-3 mb-lg-2">
                    <div class="row">
                        <div class="col-12">
                            {{filter.form.name|as_crispy_field}}
                        </div>
                        <div class="col-6 col-xl-12">
                            {{filter.form.maid_type|as_crispy_field}}
                        </div>
                        <div class="col-6 col-xl-12">
                            {{filter.form.country_of_origin|as_crispy_field}}
                        </div>
                        <div class="col-12">
                            {{filter.form.age|as_crispy_field}}
                        </div>
                        <div class="col-6 col-xl-12" col-xl-12>
                            {{filter.form.languages|as_crispy_field}}
                        </div>
                        <div class="col-6 col-xl-12">
                            {{filter.form.responsibilities|as_crispy_field}}
                        </div>
                        <div class="col-6 col-lg-4 col-xl-12">
                            {{filter.form.marital_status|as_crispy_field}}
                        </div>
                        <div class="col-6 col-lg-4 col-xl-12">
                            {{filter.form.created_on|as_crispy_field}}
                        </div>
                        <div class="col-6 col-lg-4 col-xl-12">
                            {{filter.form.agency|as_crispy_field}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col px-lg-3">
                    <a href="{% url 'agency_list' %}" class="btn btn-secondary w-100">Reset</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-xl-9-5 mt-md-3">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
            {% for maid in maids %}
                <div class="col mb-4">
                    {% include 'components/maid-card.html' with maid=maid %}
                </div>
            {% empty %}
            <h5>No Maids. Try a different search criteria.</h5>
            {% endfor %}
        </div>
        {% include 'pagination.html' %}
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}
{% endblock maid_section %}