{% extends 'maid-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block maid_section %}
{% include 'sections/title-banner.html' with page_name='Maids' %}
{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-ab' section_id='maid-section' %}
<div class="row">
    <div class="col-lg-10 col-xl-2-5 mb-3 offset-lg-1 offset-xl-0">
        <form action="" method="get">
            <div class="row">
                <div class="col px-lg-3 mb-lg-2">
                    {{filter.form|crispy}}
                </div>
            </div>
            <div class="row">
                <div class="col px-lg-3">
                    <a href="{% url 'agency_list' %}" class="btn btn-secondary w-100">Reset</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
            {% for maid in maids %}
                <div class="col mb-4">
                    {% include 'components/maid-card.html' with maid=maid %}
                </div>
            {% empty %}
            <h5>No Maids. Try a different search criteria.</h5>
            {% endfor %}
        </div>
        {% include 'pagination.html' %}
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}
{% endblock maid_section %}