{% extends 'shortlist-base.html' %}
{% block shortlist_section %}
<section>
    <div class="jumbotron jumbotron-fluid bg-hero">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-lg-6 py-2 py-md-3 offset-md-1">
                    <h1 class="display-4 pl-3 pl-md-2">Shortlist</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shortlist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
            {% for maid in shortlist %}
                <div class="col mb-4">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{maid.biodata.name}}</h5>
                            <p class="card-text">{{maid.biodata.country_of_origin}}</p>
                            <p class="card-text">{{maaid.biodata.age}} | {{maid.family_details.marital_status}}</p>
                            <p class="card-text">{{maid.maid_type}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock shortlist_section %}