{% extends 'shortlist-base.html' %}
{% load crispy_forms_tags %}
{% block shortlist_section %}
{% if shortlist %}
{% include 'sections/title-banner.html' with page_name='Shortlist' %}
{% else %}
{% include 'sections/title-banner.html' with page_name='Shortlist' empty_page=True %}
{% endif %}
<section>
    <div class="container" style="min-height: 80vh;">
        <div class="row h-100">
            {% for maid in shortlist %}
                <div class="col col-md-4 col-lg-3 mb-4">
                    <div class="card">
                        <div class="maid-thumbnail" style="background-image:url({%if maid.photo%}{{maid.photo.url}}{%endif%});"></div>
                        <div class="card-body">
                            <h6 class="card-title mb-0">{{maid.name}}</h6>
                            <p class="card-text mb-1">{{maid.personal_details.get_country_of_origin_display}}</p>
                            <p class="card-text mb-1">{{maid.personal_details.age}} years old</p>
                            <p class="card-text mb-1">{{maid.family_details.get_marital_status_display}}</p>
                            <p class="card-text mb-1">{{maid.get_maid_type_display}}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
            <div class="col text-center my-auto">
                <h1>No Maids Shortlisted Yet</h1>
                <a href="{% url 'maid_list' %}" class="btn btn-primary">Search Maids</a>
            </div>
            {% endfor %}
        </div>
        {% if shortlist %}
            {% include 'components/crispy-form-error.html' %}
            <div class="row">
                <div class="col">
                    <form method="post" enctype="multipart/form-data">
                        {% crispy form %}
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock shortlist_section %}