<div class="row">
    <div class="col">
        <div class="row">
            <div class="col mb-md-2 mb-lg-3 mb-xl-4">
                <h5 class="fs-16">Or Login With</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-24 mb-3">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary w-100">
                    <span>Google</span>
                    {% comment %}<i class="fab fa-google fa-2x"></i>{% endcomment %}
                </a>
            </div>
            <div class="col-24">
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary w-100">
                    <span>Facebook</span>
                    {% comment %}<i class="fab fa-facebook-square fa-2x"></i>{% endcomment %}
                </a>
            </div>
        </div>
    </div>
</div>