<div class="row">
    <div class="col">
        <div class="row">
            <div class="col mb-md-2 mb-lg-3 mb-xl-4">
                <h5 class="fs-16">Or Login With</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-24 mb-3">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-xs-lg btn-primary w-100">
                    <span>Google</span>
                </a>
            </div>
            {% comment %} <div class="col-24">
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-xs-lg btn-primary w-100">
                    <span>Facebook</span>
                </a>
            </div> {% endcomment %}
        </div>
    </div>
</div>