{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col mb-3">
                        <h5 class="fs-20">Shopping Cart</h5>
                    </div>
                </div>
                <div class="row bg-primary text-light mx-half py-3 border">
                    <div class="col">
                        <h6 class="mb-0">S/N</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0">Description</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0"># Month</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0">Start Date</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0">End Date</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0">Nett Amount</h6>
                    </div>
                    <div class="col-2 text-center">
                        <h6 class="mb-0">Actions</h6>
                    </div>
                </div>
                {% for product_price in plans %}
                <div class="row {% cycle '' 'bg-light' %} text-dark mx-half py-3">
                    <div class="col">
                        <p class="mb-0">{{product_price.pk}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">{{product_price.subscription_type}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">{{product_price.get_interval_display}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">{% now "j M Y" %}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0"></p>
                    </div>
                    <div class="col">
                        <p class="mb-0">${{product_price.price}}</p>
                    </div>
                    <div class="col-1">
                        <div class="row justify-content-center">
                            <a class="mx-1" href="{% url 'remove_from_cart' product_price.pk %}"><i
                                    class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for ad in ads %}
                <div class="row {% cycle '' 'bg-light' %} text-dark mx-half py-3">
                    <div class="col">
                        <p class="mb-0">{{ad.pk}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">{{ad.location.get_name}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">3 Months</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">{{ad.get_quarter_start}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">{{ad.get_quarter_end}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">${{ad.get_formatted_price}}</p>
                    </div>
                    <div class="col-1">
                        <div class="row justify-content-center">
                            <a class="mx-1" href="{% url 'remove_from_cart' ad.pk %}"><i
                                    class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button id="checkout-btn btn-xs-lg" class="btn btn-xs-lg btn-primary">Checkout</button>
    </div>
</section>
{% endblock dashboard_section %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script>
    window.onload = () => {
        let stripe = Stripe(
            'pk_test_51I6Hj9KvEbGNaxrCUAuP3WLcbL1IhF7qDi3BP9vlfEAHClG55uWBnwsEFGaTjkk91AxKPIbSrbMJOJbJWAQ7aR4F00vitT5nV4'
            );
        const csrftoken = Cookies.get('csrftoken');
        var createCheckoutSession = function () {
            return fetch(`${location.origin}/payment/create-checkout-session/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                mode: 'same-origin'
            }).then(function (result) {
                return result.json();
            });
        };
        document
            .getElementById("checkout-btn btn-xs-lg")
            .addEventListener("click", function (evt) {
                createCheckoutSession().then(function (data) {
                    // Call Stripe.js method to redirect to the new Checkout page
                    stripe
                        .redirectToCheckout({
                            sessionId: data.sessionId
                        })
                        .then(handleResult);
                });
            });
    }
</script>
{% endblock js %}