{% load static %}
{% include 'components/27-ws-section/start.html' with bg_color='' section_id='cta-maids-section' narrow=True %}
<div class="row">
    <div class="col-md py-4">
        <div class="row">
            <div class="col py-md-3 py-lg-4 py-xl-5 text-center">
                <h5 class="mb-3">See more maids from {{agency.name}}</h5>
                <a href="{% url 'maid_list' %}?agency={{agency.pk}}" class="btn btn-xs-lg btn-primary cta-button w-xs-100"
                    data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="400" data-aos-offset="-500">
                    <h6 class="mb-0 py-1">View Maids</h6>
                </a>
            </div>
        </div>
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}