<section id='cta-banner-section'>
    <div class="container-fluid bg-primary1 text-light">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1 offset-xl-2 p-5">
                <div class="row">
                    <div class="col-xl-10 py-md-3 py-lg-4 py-xl-5">
                        <h2>Let us help you find the most suitable maid</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident necessitatibus quis atque quaerat officiis minus deleniti delectus quae? Culpa minus maxime, doloremque asperiores labore officia?</p>
                        <a href="#" class="btn btn-light text-primary cta-button">
                            <h6 class="mb-0 py-1">Get Started Now</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xl-4 d-none d-md-flex bg-enquiry-banner jumbotron jumbotron-fluid mb-0">
            </div>
        </div>
    </div>
</section>