{% load static %}
<section id='cta-banner-section'>
    <div class="container-fluid bg-primary text-light">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-3 offset-lg-1 offset-xl-2 offset-xxl-3 p-5">
                <div class="row">
                    <div class="col-xl-10 py-md-3 py-lg-4 py-xl-5">
                        <h2>Let us help you find the most suitable maid</h2>
                        <p>With over 200 employment agencies onboard. Send us your enquiry and let us assist you in your search for a foreign domestic worker (FDW).</p>
                        <a href="#" class="btn btn-light text-primary cta-button">
                            <h6 class="mb-0 py-1">Get Started Now</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xl-4 col-xxl-3 col-xxxl-2 d-none d-md-flex offset-xxl-1">
                <img src="{% static 'images/maid-collage.png' %}" alt="Maid Collage Photo" class="img-fluid bg-primary">
            </div>
        </div>
    </div>
</section>