<section id="easiest-way-banner-section">
    <div class="container">
        <div class="row">
            <div class="col mb-5">
                <div class="row">
                    <div class="col col-md-5 py-md-3">
                        <h2>The Easiest Way To Find Suitable Maids For Your Home</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus optio reprehenderit quas repellendus? Nam animi eaque reiciendis. Suscipit tenetur doloremque, voluptatum quasi natus reprehenderit, unde dicta debitis quo provident sequi adipisci accusantium est quidem voluptatem. Facilis in, sit similique reprehenderit vero harum aperiam iure fugit! Nemo cupiditate qui enim sit!</p>
                    </div>
                    <div class="col-12 col-md-6 offset-md-1 bg-hero">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>