{% load static %}
{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-ab' section_id='easiest-way-banner-section' %}
<div class="row">
    <div class="col-24 col-md-12 pb-5 pb-md-0">
        <div class="image-carousel">
            <img loading="lazy" src="{% static 'images/easiest-way-image.webp' %}" alt="Easiest Way Image"
                class="img-fluid bg-primary">
        </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col py-xl-4">
        <div class="row">
            <div class="col p-md-1 p-lg-2">
                <h5 class="fs-20 mb-3" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="100">The Easiest Way
                    To Find Suitable Maids for your Family</h5>
                <p class="text-dark" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="200">Online Maid is the
                    leading maid platform in Singapore with the largest maid biodata database. We have more than 200
                    Ministry of Manpower approved employment agencies onboard. With a wide range of maid biodata
                    available for viewing online, you are able to save time and effort in your search for a suitable
                    maid for your family.</p>
            </div>
        </div>
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}