{% load static %}
<section class="bg-easiest-way-banner-bg-color text-easiest-way-banner-text-color" id="easiest-way-banner-section">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-6 p-5 p-lg-4">
                <img src="{% static 'images/easiest-way-image.jpg' %}" alt="Easiest Way Image" class="img-fluid bg-primary">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col p-md-3 p-lg-4 p-xl-5">
                        <h2 class="mb-3">The Easiest Way To Find Suitable Maids For Your Home</h2>
                        <p>Online Maid is the leading platform in Singapore with the largest foreign domestic worker (FDW) biodata database. We have more than 200 Ministry of Manpower (MOM) approved agencies onboard. With a wide range of selection, you are able to save time and effort in your search for a suitable maid for your family.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>