{% load static %}
<section class="py-3 py-md-4" id="how-it-works-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="mb-3 mb-md-4">How It Works</h1>
            </div>
        </div>
        <div class="row">
            <div class="col mb-2 mb-md-3">
                <div class="card-deck">
                    <div class="card bg-secondary text-light" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="0">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 1</h4>
                            <p class="card-text mb-0">Sign up to view maids' biodata</p>
                            <i class="fas fa-7x fa-user-plus p-3 p-md-4 p-lg-5"></i>
                        </div>
                    </div>
                    <div class="card bg-secondary text-light" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="250">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 2</h4>
                            <p class="card-text mb-0">Browse maids based on your chosen criteria</p>
                            <i class="fas fa-7x fa-search p-3 p-md-4 p-lg-5"></i>
                        </div>
                    </div>
                    <div class="card bg-secondary text-light" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="650">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 3</h4>
                            <p class="card-text mb-0">Add to your shortlist and send enquiries to agencies</p>
                            <i class="fas fa-7x fa-envelope p-3 p-md-4 p-lg-5"></i>
                        </div>
                    </div>
                    <div class="card bg-secondary text-light" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="1050">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 4</h4>
                            <p class="card-text mb-0">Agencies will contact you to proceed</p>
                            <i class="fas fa-7x fa-phone-square-alt p-3 p-md-4 p-lg-5"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>