{% load static %}
{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-ab' section_id='how-it-works-section' start=start %}
{% include 'components/section-heading.html' with title='How It Works' %}
<div class="row">
    <div class="col mb-2 mb-md-3">
        <div class="card-deck">
            <div class="card how-it-works-card bg-info text-light mb-md-3 mb-lg-0" data-aos="flip-right"
                data-aos-duration="3000" data-aos-delay="1000" data-aos-offset="-200">
                <div class="card-body text-center">
                    <div class="row how-it-works-content">
                        <div class="col">
                            <h4 class="card-title">Step 1</h4>
                            <p class="card-text mb-0 fs-13">Browse maid profiles and shortlist candidates based on your
                                chosen criteria
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-7x fa-user-plus p-3 p-md-4 p-lg-4"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card how-it-works-card bg-info text-light mb-md-3 mb-lg-0" data-aos="flip-right"
                data-aos-duration="3000" data-aos-delay="1100" data-aos-offset="-200">
                <div class="card-body text-center">
                    <div class="row how-it-works-content">
                        <div class="col">
                            <h4 class="card-title">Step 2</h4>
                            <p class="card-text mb-0 fs-13">Interview shortlisted maids online at your preferred time and venue</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-7x fa-search p-3 p-md-4 p-lg-4"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 d-none d-md-block d-lg-none"></div>
            <div class="card how-it-works-card bg-info text-light mt-md-3 mt-lg-0" data-aos="flip-right"
                data-aos-duration="3000" data-aos-delay="1200" data-aos-offset="-200">
                <div class="card-body text-center">
                    <div class="row how-it-works-content">
                        <div class="col">
                            <h4 class="card-title">Step 3</h4>
                            <p class="card-text mb-0 fs-13">Complete the entire transaction online without leaving your
                                home</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-7x fa-envelope p-3 p-md-4 p-lg-4"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card how-it-works-card bg-info text-light mt-md-3 mt-lg-0" data-aos="flip-right"
                data-aos-duration="3000" data-aos-delay="1300" data-aos-offset="-200">
                <div class="card-body text-center">
                    <div class="row how-it-works-content">
                        <div class="col">
                            <h4 class="card-title">Step 4</h4>
                            <p class="card-text mb-0 fs-13">Log In to your OnlineMaid account and view all transactions and documents</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-7x fa-phone-square-alt p-3 p-md-4 p-lg-4"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}