{% load static %}
<section class="py-3 py-md-4" id="how-it-works-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="mb-3 mb-md-4">How It Works</h1>
            </div>
        </div>
        <div class="row">
            <div class="col mb-2 mb-md-3">
                <div class="card-deck">
                    <div class="card bg-1" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="0">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 1</h4>
                            <p class="card-text mb-0">Sign up to view maids' biodata</p>
                        </div>
                        <img src="{% static 'svgs/mobile-login.svg' %}" class="card-img-bottom px-3" alt="...">
                    </div>
                    <div class="card bg-1" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="250">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 2</h4>
                            <p class="card-text mb-0">Browse maids based on your chosen criteria</p>
                        </div>
                        <img src="{% static 'svgs/search-engine.svg' %}" class="card-img-bottom px-3" alt="...">
                    </div>
                    <div class="card bg-1" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="650">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 3</h4>
                            <p class="card-text mb-0">Add to your shortlist and send enquiries to agencies</p>
                        </div>
                        <img src="{% static 'svgs/mail-sent.svg' %}" class="card-img-bottom px-3" alt="...">
                    </div>
                    <div class="card bg-1" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="1050">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 4</h4>
                            <p class="card-text mb-0">Agencies will contact you to proceed</p>
                        </div>
                        <img src="{% static 'svgs/night-calls.svg' %}" class="card-img-bottom px-3" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>