{% load crispy_forms_tags %}
<section id="main-banner-section">
    <div class="jumbotron jumbotron-fluid bg-home-hero mb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-12 text-center py-2 py-md-3 text-light">
                    <h1 class="display-5 mb-3" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="0">The Leading Maid Platform in Singapore</h1>
                    <p class="lead mb-0" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="200">More than 8000 maids for you to choose from</p>
                    <p class="lead" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="400">Start your search now!</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-lg-20 col-xl-16">
                    <form action="{% url 'maid_list' %}" method="get">
                        <div class="form-row" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="600">
                            <div class="col-md px-half">
                                <label for="type-of-maid" class="text-light">
                                    <h6 class="mb-0 text-larger-slight">Type of Maid</h6>
                                </label>
                                {{filter.form.maid_type|as_crispy_field}}
                            </div>
                            <div class="col-md px-half">
                                <label for="type-of-maid" class="text-light">
                                    <h6 class="mb-0 text-larger-slight">Country</h6>
                                </label>
                                {{filter.form.country_of_origin|as_crispy_field}}
                            </div>
                            <div class="col-md px-half">
                                <label for="type-of-maid" class="text-light">
                                    <h6 class="mb-0 text-larger-slight">Responsibility</h6>
                                </label>
                                {{filter.form.responsibilities|as_crispy_field}}
                            </div>
                            <div class="col-md px-half">
                                <label for="" class="text-light">
                                    <h6 class="mb-0">&nbsp;</h6>
                                </label>
                                <button type="submit" class="btn btn-xs-lg btn-primary text-light w-100">
                                    <h5 class="mb-0">Search</h5>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>