{% load static %}
{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-lab' section_id='why-choose-us-section' %}
{% include 'components/section-heading.html' with title='Why Choose Us?' %}
<div class="row">
    <div class="col mb-2 mb-md-3">
        <div class="row">
            <div class="col-24 col-md-12 col-lg my-4 my-md-0 text-center" data-aos="zoom-in">
                <div class="hvr-grow">
                    <img src="{% static 'svgs/cv.svg' %}" alt="Why Us Icon" class="w-50 mb-3">
                    <h5 class="fs-12 px-4">We have the largest Maid database in Singapore</h5>
                </div>
            </div>
            <div class="col-24 col-md-12 col-lg my-4 my-md-0 text-center" data-aos="zoom-in">
                <div class="hvr-grow">
                    <img src="{% static 'svgs/employee.svg' %}" alt="Why Us Icon" class="w-50 mb-3">
                    <h5 class="fs-12 px-4">More than <span class="font-weight-bold">200</span> MOM approved agencies on board</h5>
                </div>
            </div>
            <div class="col-24 col-md-12 col-lg my-4 my-md-0 text-center" data-aos="zoom-in">
                <div class="hvr-grow">
                    <img src="{% static 'svgs/filter.svg' %}" alt="Why Us Icon" class="w-50 mb-3">
                    <h5 class="fs-12 px-4">Sorting and filtering saves time and hassle</h5>
                </div>
            </div>
            <div class="col-24 col-md-12 col-lg my-4 my-md-0 text-center" data-aos="zoom-in">
                <div class="hvr-grow">
                    <img src="{% static 'svgs/home.svg' %}" alt="Why Us Icon" class="w-50 mb-3">
                <h5 class="fs-12 px-4">Browse maid profiles at your convenient time and venue</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}