{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-ab' section_id='mini-faq-section' %}
{% include 'components/section-heading.html' with title='Frequently Asked Questions' %}
<div class="row justify-content-center">
    <div class="col-xl-9 mb-md-4">
        <div class="accordion" id="faqAccordion">
            <div class="row">
                <div class="col py-2 py-lg-3">
                    <p class="mb-0">
                        <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <p class="card-title faq-question mb-0">Can an Employment Pass or S Pass holder employ a Maid? <i class="fas fa-caret-right ml-1"></i></p>
                        </button>
                    </p>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 py-3">
                                    <p class="fs-11">Yes. The applicant needs to provide the following:</p>
                                    <ul>
                                        <li class="fs-11">Passport</li>
                                        <li class="fs-11">Work pass or spouse's Long-Term Pass</li>
                                        <li class="fs-11">Child's birth certificate or student pass(for Long Term Visit Pass holders)</li>
                                        <li class="fs-11">Income Tax Notice of Assessment for the current or previous assessment year</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col py-2 py-lg-3">
                    <p class="mb-0">
                        <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <p class="card-title faq-question mb-0">What is the minimum income needed to employ a Maid? <i class="fas fa-caret-right ml-1"></i></p>
                        </button>
                    </p>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 py-3">
                                    <p class="fs-11">There is no specified amount. It is assessed based on the type of application:</p>
                                    <ul>
                                        <li class="fs-11">For married couples, you can combine your income with your spouse's</li>
                                        <li class="fs-11">For the Joint Income Scheme, you can combine the income of family members who are living together</li>
                                        <li class="fs-11">For people aged 60 years or older, you can apply under the Sponsorship Scheme</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col py-2 py-lg-3">
                    <p class="mb-0">
                        <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <p class="card-title faq-question mb-0">Can I employ a Maid if I do not have any income? <i class="fas fa-caret-right ml-1"></i></p>
                        </button>
                    </p>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 col-lg-7 py-3">
                                    <p class="fs-11">If you are 60 years old or older, not earning an income and not staying with any working adults, you can apply under the Sponsorship Scheme.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col py-2 py-lg-3">
                    <p class="mb-0">
                        <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <p class="card-title faq-question mb-0">Can a single person employ a Maid? <i class="fas fa-caret-right ml-1"></i></p>
                        </button>
                    </p>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 col-lg-7 py-3">
                                    <p class="fs-11">The applicant will be assessed based on eligibility such as:</p>
                                    <ul>
                                        <li class="fs-11">You must be 21 years old and above.</li>
                                        <li class="fs-11">You cannot be an undischarged bankrupt.</li>
                                        <li class="fs-11">You must be earning a steady source of income.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col py-2 py-lg-3">
                    <p class="mb-0">
                        <button class="btn btn-link btn-block text-left text-reset mini-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <p class="card-title faq-question mb-0">What are the requirements to hire a second Maid?<i class="fas fa-caret-right ml-1"></i></p>
                        </button>
                    </p>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 col-lg-7 py-3 text-dark">
                                    <p class="fs-11">The applicant needs to have any of these family members living with him/her:</p>
                                    <ul>
                                        <li class="fs-11">At least 2 children below 18 years old</li>
                                        <li class="fs-11">A parent or parent-in-law over 60 years old</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col py-2 py-lg-3 text-center">
                    <a href="{% url 'faq' %}" class="btn btn-outline-primary text-primary1">
                        <p class="mb-0">View More<i class="fas fa-long-arrow-alt-right ml-2"></i></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}