{% load static %}
{% include 'components/27-ws-section/start.html' with bg_color='bg-custom-lab' section_id='preferences-section' %}
{% include 'components/section-heading.html' with title='Preferences' %}
<div class="row">
    <div class="col-md-8 mb-4 mb-md-5" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="0">
        <div class="card preferences-card hvr-grow">
            <img src="{% static 'images/homepage_preference/partTime1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-3">General Housework</h5>
                <a class="text-tertiary" href="{% url 'maid_list' %}?responsibilities=1">
                    <h6 class="card-subtitle stretched-link">Find Out More</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8 mb-4 mb-md-5" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="100">
        <div class="card preferences-card hvr-grow">
            <img src="{% static 'images/homepage_preference/cooking1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-3">Cooking</h5>
                <a class="text-tertiary" href="{% url 'maid_list' %}?responsibilities=2">
                    <h6 class="card-subtitle stretched-link">Find Out More</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8 mb-4 mb-md-5" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="200">
        <div class="card preferences-card hvr-grow">
            <img src="{% static 'images/homepage_preference/childrenCare1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-3">Care for Children</h5>
                <a class="text-tertiary" href="{% url 'maid_list' %}?responsibilities=3">
                    <h6 class="card-subtitle stretched-link">Find Out More</h6>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8 mb-4 mb-md-5" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="300">
        <div class="card preferences-card hvr-grow">
            <img src="{% static 'images/homepage_preference/elderly.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-3">Care for Elderly</h5>
                <a class="text-tertiary" href="{% url 'maid_list' %}?responsibilities=4">
                    <h6 class="card-subtitle stretched-link">Find Out More</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8 mb-4 mb-md-5" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="400">
        <div class="card preferences-card hvr-grow">
            <img src="{% static 'images/homepage_preference/elderlyCare1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-3">Care for Disabled</h5>
                <a class="text-tertiary" href="{% url 'maid_list' %}?responsibilities=5">
                    <h6 class="card-subtitle stretched-link">Find Out More</h6>
                </a>
            </div>
        </div>
    </div>
</div>
{% include 'components/27-ws-section/end.html' %}