<section>
    <div class="jumbotron jumbotron-small jumbotron-fluid bg-custom-pb {% if empty_page is not True %}title-banner{% endif %} mb-0">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col col-md-11 col-lg-10 col-xl-8-5 py-2 py-md-3">
                    <h5 class="fs-20 mb-0">{{ page_name }}</h5>
                    <nav aria-label="breadcrumb pl-0">
                        <ol class="breadcrumb pl-0 mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>