<div id="div_id_age" class="form-group">
    <label for="id_age">{{widget.attrs.label}}</label>
    <div id="slider-range" class="mx-1 mt-1 mb-3"></div>
    <div class="row slider-labels">
        <div class="col-12 caption">
            Min: <span id="slider-range-value1"></span>
        </div>
        <div class="col-12 text-right caption">
            Max: <span id="slider-range-value2"></span>
        </div>
    </div>
    <div>
        {% include "django/forms/widgets/multiwidget.html" %}
    </div>
</div>