{% extends 'maid-base.html' %}
{% load crispy_forms_tags %}
{% block maid_section %}
<section>
    <div class="container">
        <div class="row my-3">
            <div class="col-xl-3">
                <img src="{{maid.photo.url}}" class="rounded img-thumbnail" alt="...">
            </div>
            <div class="col my-3">
                <div class="row">
                    <div class="col">
                        <h3>{{maid.name}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2">
                        <small class="text-muted">Reference Number</small>
                        <p>{{maid.reference_number}}</p>
                    </div>
                    <div class="col-xl-2">
                        <small class="text-muted">Nationality</small>
                        <p>{{maid.personal_details.get_country_of_origin_display}}</p>
                    </div>
                    <div class="col-xl-2">
                        <small class="text-muted">Type of Maid</small>
                        <p>{{maid.get_maid_type_display}}</p>
                    </div>
                    <div class="col-xl-2">
                        <small class="text-muted">Agency</small>
                        <p>{{maid.agency.name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <a href="{% url 'add_to_shortlist' maid.pk %}" class="btn btn-primary">Add to Shortlist</a>
                        <a href="#" class="btn btn-outline-primary ml-3">Download Bio-data</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h5>Profile</h5>
                        <div class="row">
                            <div class="col"><p>Age</p></div>
                            <div class="col"><p>{{maid.personal_details.age}} yr old</p></div>
                        </div>
                        <div class="row">
                            <div class="col"><p>Place of Birth</p></div>
                            <div class="col"><p>{{maid.personal_details.place_of_birth}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col"><p>Marital Status</p></div>
                            <div class="col"><p>{{maid.family_details.get_marital_status_display}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col"><p>Number of Children</p></div>
                            <div class="col"><p>{{maid.family_details.number_of_children}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col"><p>Religion</p></div>
                            <div class="col"><p>{{maid.personal_details.get_religion_display}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col"><p>Education Level</p></div>
                            <div class="col"><p>We dont save this</p></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Experience</h5>
                        {% for responsibility in maid.responsibilities.all %}
                            <p>{{responsibility}}</p>
                        {% endfor%}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Language Spoken</h5>
                        {% for language in maid.personal_details.languages.all %}
                            <p>{{language}}</p>
                        {% endfor%}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Employment History</h5>
                    </div>
                </div>
            </div>
            <div class="col border rounded">
                <div class="row">
                    <div class="col my-2">
                        <div class="media">
                            <img src="{{maid.agency.logo.url}}" class="mr-3" alt="...">
                            <div class="media-body">
                              <h5 class="mt-0">{{maid.agency.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        <address>
                            {{maid.agency.get_main_office.address_1}}
                            {{maid.agency.get_main_office.address_2}}
                        </address>
                        <div class="row">
                            <div class="col">
                                <p>Tel</p>
                            </div>
                            <div class="col">
                                <p>{{maid.agency.get_main_office.office_number}} / {{maid.agency.get_main_office.mobile_number}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Email</p>
                            </div>
                            <div class="col">
                                <p>{{maid.agency.sales_email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Website</p>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>similar Profiles</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" id="similar-profiles">
                    {% for maid in similar_maids %}
                    <div class="col mb-4">
                        <div class="card maid-card" id='maid-{{maid.pk}}' data-maid='{{maid.pk}}'>
                            <div onclick="maidProfileRedirect({{maid.pk}})">
                                <img src="{{maid.photo.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{maid.name}}</h5>
                                    <p class="card-text">{{maid.personal_details.get_country_of_origin_display}}</p>
                                    <p class="card-text">{{maid.personal_details.age}} years old</p>
                                    <p class="card-text">{{maid.family_details.get_marital_status_display}}</p>
                                    <p class="card-text">{{maid.get_maid_type_display}}</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'add_to_shortlist' maid.pk %}" class="btn btn-primary w-100">Add to Shortlist</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'sections/cta-banner.html' %}
{% endblock maid_section %}
{% block js %}
<script>
    $(function(){
        $('#similar-profiles').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
                },
                {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
                },
                {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
            });
    })
</script>
{% endblock js %}