{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">

        <!-- Manifest -->
        <link rel="manifest" href="{% static 'site.webmanifest' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

        <!-- Hover CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap" rel="stylesheet">

        <!-- AOS CSS -->
        <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" href="{% static 'css/icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/argon/argon_table.css' %}">
        <link rel="stylesheet" href="{% static 'css/toast.css' %}">
        <script src="https://js.stripe.com/v3/"></script>
        
        {% block css %}{% endblock css %}

        <title>Online Maid</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt=""/>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav mr-auto">
                        {% with request.resolver_match.url_name as url_name %}
                        <li class="nav-item {% if url_name == 'maid_list' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'maid_list' %}">
                                Search Maid
                                {% if url_name == 'maid_list' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if url_name == 'agency_list' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'agency_list' %}">
                                Maid Agencies
                                {% if url_name == 'agency_list' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if url_name == 'faq' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'faq' %}">
                                FAQ
                                {% if url_name == 'faq' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if url_name == 'enquiry' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'enquiry' %}">
                                Enquire
                                {% if url_name == 'enquiry' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if url_name == 'about_us' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'about_us' %}">
                                About Us
                                {% if url_name == 'about_us' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        {% endwith %}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        {% if authority == 'Agency Owners' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_cart' %}">
                                <i class="fas fa-shopping-cart"></i> 
                                &#40;{{cart_count}}&#41;
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userActionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{user.email}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userActionDropdown">
                                {% if authority == 'Potential Employers' %}
                                <a class="dropdown-item" href="{% url 'employer_detail' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'view_shortlist' %}">Shortlist</a>
                                <a class="dropdown-item" href="{% url 'enquiry_list' %}">My Enquiries</a>
                                {% elif request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'admin_panel' %}">Admin Panel</a>
                                {% else %}
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="{% url 'dashboard_home' %}">Dashboard</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'sign_out' %}">Sign Out</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="signUpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sign Up
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="signUpDropdown">
                                <a class="dropdown-item" href="{% url 'employer_create' %}">Potential Employers</a>
                                <a class="dropdown-item" href="{% url 'agency_sign_up' %}">Agencies</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="signInDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sign In
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="signInDropdown">
                                <a class="dropdown-item" href="{% url 'sign_in' %}">Potential Employers</a>
                                <a class="dropdown-item" href="{% url 'agency_sign_in' %}">Agencies</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {% include 'messages.html' %}
            {% block main_content %}
            {% endblock main_content %}
        </main>
        <footer>
            <div class="container-fluid bg-dark1 text-light">
                <div class="row py-4 py-md-5 pl-2 pl-md-0">
                    <div class="col-6 col-md-2 offset-md-2 offset-lg-2 mb-4 mb-md-0">
                        <a href="{% url 'home' %}" class="text-reset"><p class="lead mb-1 mb-xl-2">Home</p></a>
                        <a href="{% url 'maid_list' %}" class="text-reset"><p class="lead mb-1 mb-xl-2">Maids</p></a>
                        <a href="{% url 'agency_list' %}" class="text-reset"><p class="lead mb-1 mb-xl-2">Agencies</p></a>
                        <a href="{% url 'faq' %}" class="text-reset"><p class="lead mb-1 mb-xl-2">FAQ</p></a>
                        <a href="" class="text-reset"><p class="lead mb-1 mb-xl-2">Enquire</p></a>
                    </div>
                    <div class="col-6 col-md-2 mb-4 mb-md-0">
                        <a href="{% url 'about_us' %}" class="text-reset"><p class="lead mb-1 mb-xl-2">About Us</p></a>
                        <a href="#" class="text-reset"><p class="lead mb-1 mb-xl-2">Terms &#38; Conditions</p></a>
                        <a href="#" class="text-reset"><p class="lead mb-1 mb-xl-2">Privacy</p></a>
                    </div>
                    <div class="col-10 col-md-4 col-lg-3 offset-md-1">
                        <h5 class="mb-3">About the company</h5>
                        <p class="mb-0">
                            Online Maid is the leading platform to find Maids from local maid agencies. Use our platform to shortlist potential maids and let the maid agencies follow up with further details. 
                        </p>
                        <p class="mb-4">
                            All maid agencies are approved by MOM.
                        </p>
                        <div class="row d-none">
                            <div class="col-3">
                                <a href="" class="text-reset"><i class="fab fa-lg fa-facebook"></i></a>
                            </div>
                            <div class="col-3">
                                <a href="" class="text-reset"><i class="fab fa-lg fa-linkedin"></i></a>
                            </div>
                            <div class="col-3">
                                <a href="" class="text-reset"><i class="fab fa-lg fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2 text-center">
                        <p class="mb-0">© 2020 Copyright OnlineMaid</p>
                        <p>All Rights Reserved</p>
                        <a href="https://storyset.com/web" class="text-reset small d-none">Illustration by Freepik Storyset</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <script>
            window.onload = () => {
                AOS.init({
                    disable: 'mobile'
                });
                $(".toast").toast('show');
            }
        </script>
        {% block js %}
        {% endblock js %}
    </body>
</html>