{% load static %}
<!doctype html>
<html lang="en">
    {% include 'components/head_section.html' %}
    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <a class="logo-image-wrapper" href="{% url 'home' %}">
                    <div>
                        &nbsp;
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav mr-auto">
                        {% with request.resolver_match.url_name as url_name %}
                        <li class="nav-item {% if url_name == 'maid_list' %}active{% endif %}">
                            <a class="nav-link custom-nav-link" href="{% url 'maid_list' %}">
                                <p class="mb-0">Search Maid</p>
                                {% if url_name == 'maid_list' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if url_name == 'agency_list' %}active{% endif %}">
                            <a class="nav-link custom-nav-link" href="{% url 'agency_list' %}">
                                <p class="mb-0">Maid Agencies</p>
                                {% if url_name == 'agency_list' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if url_name == 'faq' %}active{% endif %}">
                            <a class="nav-link custom-nav-link" href="{% url 'faq' %}">
                                <p class="mb-0">FAQ</p>
                                {% if url_name == 'faq' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if url_name == 'general_enquiry' %}active{% endif %}">
                            <a class="nav-link custom-nav-link" href="{% url 'general_enquiry' %}">
                                <p class="mb-0">Enquire</p>
                                {% if url_name == 'general_enquiry' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if url_name == 'about_us' %}active{% endif %}">
                            <a class="nav-link custom-nav-link" href="{% url 'about_us' %}">
                                <p class="mb-0">About Us</p>
                                {% if url_name == 'about_us' %} 
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        {% endwith %}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        {% if authority == 'Agency Owners' %}
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" href="{% url 'view_cart' %}">
                                <i class="fas fa-shopping-cart"></i> 
                                &#40;{{cart_count}}&#41;
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="userActionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{user.email}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userActionDropdown">
                                {% if authority == 'Potential Employers' %}
                                <a class="dropdown-item" href="{% url 'potential_employer_detail' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'view_shortlist' %}">Shortlist</a>
                                <a class="dropdown-item" href="{% url 'enquiry_list' %}">My Enquiries</a>
                                {% elif request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'admin_panel' %}">Admin Panel</a>
                                {% else %}
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="{% url 'dashboard_home' %}">Dashboard</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'sign_out' %}">Sign Out</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="signUpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sign Up
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="signUpDropdown">
                                <a class="dropdown-item" href="{% url 'potential_employer_create' %}">Users</a>
                                <a class="dropdown-item" href="{% url 'agency_sign_up' %}">Agencies</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="signInDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Log in
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="signInDropdown">
                                <a class="dropdown-item" href="{% url 'sign_in' %}">Users</a>
                                <a class="dropdown-item" href="{% url 'agency_sign_in' %}">Agencies</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {% include 'messages.html' %}
            {% block main_content %}
            {% endblock main_content %}
        </main>
        <footer>
            <div class="container-fluid bg-footer-color text-light">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="row pt-4 pb-3 pt-md-5 pb-md-2 pl-2 pl-md-0">
                            <div class="col">
                                <a href="{% url 'home' %}" class="footer-link text-reset"><p class="fs-1 mb-1 mb-xl-2">Home</p></a>
                                <a href="{% url 'maid_list' %}" class="footer-link text-reset"><p class="fs-1 mb-1 mb-xl-2">Search Maid</p></a>
                                <a href="{% url 'agency_list' %}" class="footer-link text-reset"><p class="fs-1 mb-1 mb-xl-2">Agencies</p></a>
                            </div>
                            <div class="col">
                                <a href="{% url 'faq' %}" class="footer-link text-reset"><p class="fs-1 mb-1 mb-xl-2">FAQ</p></a>
                                <a href="" class="footer-link text-reset"><p class="fs-1 mb-1 mb-xl-2">Enquiry</p></a>
                                <a href="{% url 'about_us' %}" class="footer-link text-reset"><p class="fs-1 mb-1 mb-xl-2">About Us</p></a>
                            </div>
                            <div class="col">
                                <a href="{% url 'terms_and_conditions' %}" class="footer-link text-reset"><p class="fs-1 mb-1 mb-xl-2">Terms &#38; Conditions</p></a>
                                <a href="{% url 'privacy_policy' %}" class="footer-link text-reset"><p class="fs-1 mb-1 mb-xl-2">Privacy Policy</p></a>
                            </div>
                            <!-- <div class="col-10 col-md-4 col-lg-3 offset-md-1">
                                <h5 class="mb-3">About Online Maid</h5>
                                <p class="mb-1">
                                    Online Maid is the leading platform in Singapore with the largest foreign domesitc worker (Maid) biodata database. Biodata are listed by employment agencies that are approved by Ministry of Manpower(MOM).
                                </p>
                                <div class="row d-none">
                                    <div class="col-3">
                                        <a href="" class="text-reset"><i class="fab fa-lg fa-facebook"></i></a>
                                    </div>
                                    <div class="col-3">
                                        <a href="" class="text-reset"><i class="fab fa-lg fa-linkedin"></i></a>
                                    </div>
                                    <div class="col-3">
                                        <a href="" class="text-reset"><i class="fab fa-lg fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr class="text-light">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-2 text-center">
                                <p class="mb-0 text-smaller">© 2020 Copyright OnlineMaid</p>
                                <p class="text-smaller">All Rights Reserved</p>
                                <a href="https://storyset.com/web" class="text-reset small d-none">Illustration by Freepik Storyset</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% include 'components/js_section.html' %}
        {% block js %}
        {% endblock js %}
    </body>
</html>