<section id="enquiry-form-section">
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row mb-3">
                <div class="col text-center">
                    <h2>Enquiry Form</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                    <form action="">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="nameInput">Name</label>
                                <input type="text" class="form-control" id="nameInput" placeholder="Name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phoneNumberInput">Phone Number</label>
                                <input type="text" class="form-control" id="phoneNumberInput" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-3">
                                <label for="emailInput">Email Address</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="maidNationalitySelect">Maid Nationality</label>
                                <select class="form-control" id="maidNationalitySelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="maidResponsibilitySelect">Maid Responsibility</label>
                                <select class="form-control" id="maidResponsibilitySelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="maidTypeSelect">Type of Maid</label>
                                <select class="form-control" id="maidTypeSelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="maidAgeSelect">Age</label>
                                <select class="form-control" id="maidAgeSelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-4">
                                <label for="messageTextarea">Message</label>
                                <textarea class="form-control" id="messageTextarea" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mt-1 text-center">
                                <button type="submit" class="btn btn-primary w-50">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>