{% extends 'dashboard-base.html' %}
{% block dashboard_section %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col mb-3">
                        <h5 class="fs-20">Advertisement</h5>
                    </div>
                </div>
                <div class="row bg-primary text-light mx-half py-3 border">
                    <div class="col">
                        <h6 class="mb-0">S/N</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0">Description</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0"># Month</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0">Start Date</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0">End Date</h6>
                    </div>
                    <div class="col">
                        <h6 class="mb-0">Nett Amount</h6>
                    </div>
                    <div class="col-2 text-center">
                        <h6 class="mb-0">Status</h6>
                    </div>
                </div>
                {% for ad in ads %}
                <div class="row {% cycle '' 'bg-light' %} text-dark mx-half py-3">
                    <div class="col">
                        <p class="mb-0">{{ad.pk}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">{{ad.location.get_name}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">3 Months</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">{{ad.get_quarter_start}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">{{ad.get_quarter_end}}</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">${{ad.price_paid}}</p>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_section %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% endblock js %}