<div class="row my-5">
    <div class="col text-center">
        <div class="row border-bottom">
            <div class="col border-right py-3 d-flex flex-column justify-content-center">&nbsp;</div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center d-flex flex-column justify-content-center">
                Agency Owners
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Agency Administrators
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Agency Managers
            </div>
            <div class="col py-3 d-flex flex-column justify-content-center">
                Agency Employees
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col border-right py-3 d-flex flex-column justify-content-center">Create Employee Account</div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can for their branch
            </div>
            <div class="col py-3 d-flex flex-column justify-content-center">
                Cannot
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col border-right py-3 d-flex flex-column justify-content-center">View Employee Account</div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can for their branch
            </div>
            <div class="col py-3 d-flex flex-column justify-content-center">
                Their own account information
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col border-right py-3 d-flex flex-column justify-content-center">Update Employee Account</div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can for their branch
            </div>
            <div class="col py-3 d-flex flex-column justify-content-center">
                Their own account information
            </div>
        </div>
        <div class="row">
            <div class="col border-right py-3 d-flex flex-column justify-content-center">Delete Employee Accounts</div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Can
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Cannot
            </div>
            <div class="col border-right py-3 d-flex flex-column justify-content-center">
                Cannot
            </div>
            <div class="col py-3 d-flex flex-column justify-content-center">
                Cannot
            </div>
        </div>
    </div>
</div>