{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}
{% block dashboard_section %}
    {% block title_banner_section %}
    {% endblock title_banner_section %}
    {% include 'components/crispy-form-error.html' %}
    <div class="container" style="min-height: 75vh;">
        <form method="post" enctype="multipart/form-data">
            {% crispy form %}
        </form>
        {% block post_form_section %}
        {% endblock post_form_section %}
    </div>
{% endblock dashboard_section %}