<div class="card bg-custom-lab text-dark">
    <div class="card-body text-center">
      <h5 class="card-title fs-16">{{plan_type}}</h5>
      <h5 class="card-title fs-12 mb-0">{{plan_name}}</h5>
      {% if banner %}
      <div class="row" style="margin-right: -1.25rem; margin-left: -1.25rem;">
          <div class="col bg-primary text-white my-1 py-2">
              <h5 class="fs-14 mb-0">Most Popular Plan</h5>
          </div>
      </div>
      {% else %}
      <div class="row justify-content-center">
          <div class="col-6">
            <hr>
          </div>
      </div>
      {% endif %}
      <p class="fs-20 {% if banner %}mt-1 mb-5{% else %}mt-3 mb-5{% endif %}">S${{price}}/ mth</p>
      <div class="row">
          <div class="col text-left mb-4">
            <p class="card-text">{{feature1}}</p>
            <p class="card-text">{{feature2}}</p>
            <p class="card-text">{{feature3}}</p>
          </div>
      </div>
      <a href="#" class="btn btn-primary w-50 my-4">Subscribe</a>
    </div>
</div>