{% extends 'base.html' %}
{% block main_content %}
<div class="container">
    <div class="row my-5 py-5">
        <div class="col text-center mt-4 mb-5 pt-4 pb-5">
            <i class="fas fa-search fa-10x my-3"></i>
            <h1 class="display-1">404</h1>
            <p class="lead">The page you are looking for cannot be found</p>
            <div class="row">
                <div class="col-md-8 offset-md-8">
                    <div class="row">
                        <div class="col-md-16 offset-md-4 ">
                            <a href="{% url 'home' %}" class="btn btn-xs-lg btn-primary w-100">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}