{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<section>
    <div class="jumbotron jumbotron-fluid bg-hero">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-lg-6 py-2 py-md-3 offset-md-1">
                    <h1 class="display-4 pl-3 pl-md-2">About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'sections/easiest-way-banner.html' %}
{% include 'sections/mini-why-us.html' %}
{% include 'sections/how-it-works.html' %}
{% include 'sections/mini-faq.html' %}
{% include 'sections/cta-banner.html' %}
{% endblock main_content %}