{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<section>
    <div class="jumbotron jumbotron-fluid bg-hero">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-lg-6 py-2 py-md-3 offset-md-1">
                    <h1 class="display-4 pl-3 pl-md-2">About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'sections/easiest-way-banner.html' %}
{% include 'sections/mini-why-us.html' %}
<section class="py-3 py-md-4">
    <div class="container">
        <div class="row">
            <div class="col col-md-10 col-lg-8 offset-md-1 offset-lg-2 text-center mb-3 mb-md-4">
                <h1 class="mb-3 mb-md-4">Our Beliefs</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis ullam reprehenderit adipisci amet delectus quis nesciunt aspernatur nostrum laboriosam possimus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Easy</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero nisi numquam optio. Commodi facilis quod vel esse dolor ratione est culpa quaerat tempora dignissimos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Reliable</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero nisi numquam optio. Commodi facilis quod vel esse dolor ratione est culpa quaerat tempora dignissimos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Transparent</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero nisi numquam optio. Commodi facilis quod vel esse dolor ratione est culpa quaerat tempora dignissimos.</p>
            </div>
        </div>
    </div>
</section>
{% include 'sections/cta-banner.html' %}
{% endblock main_content %}