{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-agency-tab" data-toggle="pill" href="#v-pills-agency" role="tab" aria-controls="v-pills-agency" aria-selected="true">Agencies</a>
                <a class="nav-link" id="v-pills-subscription-products-tab" data-toggle="pill" href="#v-pills-subscription-products" role="tab" aria-controls="v-pills-subscription-products" aria-selected="false">Subscription Products</a>
                <a class="nav-link" id="v-pills-enquiries-tab" data-toggle="pill" href="#v-pills-enquiries" role="tab" aria-controls="v-pills-enquiries" aria-selected="false">Enquiries</a>
                </div>
            </div>
            <div class="col-20">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-agency" role="tabpanel" aria-labelledby="v-pills-agency-tab">
                        <div class="row">
                            <div class="col">
                                <h1>Agency List</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col my-2">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">#</th>
                                            <th class="text-center" scope="col">Agency Name</th>
                                            <th class="text-center" scope="col">License Number</th>
                                            <th class="text-center" scope="col">Company Email</th>
                                            <th class="text-center" scope="col">Owner</th>
                                            <th class="text-center" scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for agency in agencies %}
                                        <tr>
                                            <th class="align-middle text-center" scope="row">{{agency.pk}}</th>
                                            <td class="align-middle text-center">{{agency.name}}</td>
                                            <td class="align-middle text-center">{{agency.license_number}}</td>
                                            <td class="align-middle text-center">{{agency.email}}</td>
                                            <td class="align-middle text-center">
                                                {% if agency.owners.count == 1 %}
                                                    <i class="far fa-check-circle"></i>
                                                {% else %}
                                                    <i class="far fa-times-circle"></i>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center">
                                                {% if agency.owners.count != 1%}
                                                    <a href="{% url 'agency_owner_create' agency.pk %}" class="btn btn-light"><i class="fas fa-user-plus"></i></a>
                                                {% endif %}
                                                <a href="" class="btn btn-light"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-24 d-flex justify-content-between">
                                <a href="{% url 'agency_create' %}" class="btn btn-primary">Add Agency</a>
                                <span class="">{% include 'pagination.html' %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-subscription-products" role="tabpanel" aria-labelledby="v-pills-subscription-products-tab">
                        <div class="row">
                            <div class="col">
                                <h1>Subscription Product List</h1>
                                <a href="{% url 'subscription_product_create' %}" class="btn btn-primary">Add Product</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col my-2">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">#</th>
                                            <th class="text-center" scope="col">Name</th>
                                            <th class="text-center" scope="col">Description</th>
                                            <th class="text-center" scope="col">Images</th>
                                            <th class="text-center" scope="col">Prices</th>
                                            <th class="text-center" scope="col">Number of Subscriptions</th>
                                            <th class="text-center" scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in subscription_products %}
                                        <tr>
                                            <th class="align-middle text-center" scope="row">{{product.pk}}</th>
                                            <td class="align-middle text-center">{{product.name}}</td>
                                            <td class="align-middle text-center">{{product.description}}</td>
                                            <td class="align-middle text-center">
                                                {{product.images_set.count}}
                                                <a href="#" class="btn btn-light"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="btn btn-light"><i class="fas fa-edit"></i></a>
                                            </td>
                                            <td class="align-middle text-center">
                                                {{product.prices_set.count}}
                                                <a href="#" class="btn btn-light"><i class="fas fa-eye"></i></a>
                                                <a href="#" class="btn btn-light"><i class="fas fa-edit"></i></a>
                                            </td>
                                            <td class="align-middle text-center"></td>
                                            <td class="align-middle text-center">
                                                {% if product.archived == False %}
                                                <a href="#" class="btn btn-light"><i class="fas fa-eye"></i></a>
                                                {% else %}
                                                <a href="#" class="btn btn-light"><i class="fas fa-eye-slash"></i></a>
                                                {% endif %}
                                                <a href="#" class="btn btn-light"><i class="fas fa-edit"></i></a>
                                                <a href="" class="btn btn-light"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-enquiries" role="tabpanel" aria-labelledby="v-pills-enquiries-tab">
                        <div class="row">
                            <div class="col">
                                <h1>Enquiries</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col my-2">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">#</th>
                                            <th class="text-center" scope="col">Remarks</th>
                                            <th class="text-center" scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for enquiry in enquiries %}
                                        <tr>
                                            <th class="align-middle text-center" scope="row">{{enquiry.pk}}</th>
                                            <td class="align-middle text-center">{{enquiry.remarks}}</td>
                                            <td class="align-middle text-center">
                                                {% if enquiry.maids %}
                                                <a href="{% url 'approve_shortlisted_enquiry' enquiry.pk %}" class="btn btn-light"><i class="fas fa-check-circle"></i></a>
                                                <a href="{% url 'reject_shortlisted_enquiry' enquiry.pk %}" class="btn btn-light"><i class="fas fa-trash-alt"></i></a>
                                                {% else %}
                                                <a href="{% url 'approve_general_enquiry' enquiry.pk %}" class="btn btn-light"><i class="fas fa-check-circle"></i></a>
                                                <a href="{% url 'reject_general_enquiry' enquiry.pk %}" class="btn btn-light"><i class="fas fa-trash-alt"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td class="align-middle text-center">No Enquiries</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}