{% extends 'base.html' %}
{% load static %}
{% block main_content %}
{% include 'sections/title-banner.html' with page_name='Frequently Asked Questions' %}
<section>
    <div class="container d-md-none">
        <div class="row">
            <div class="col mb-4">
                <nav class="nav flex-column d-md-none faq-navbar">
                    <a class="nav-link" href="#employerEligibilityFaq">Employer Eligibilty</a>
                    <a class="nav-link" href="#waitingTimeAndCostFaq">Waiting Time &amp; Cost</a>
                    <a class="nav-link" href="#duringEmploymentFaq">During Employment</a>
                    <a class="nav-link" href="#repatriationFaq">Repatriation</a>
                </nav>
            </div>
        </div>
        <div class="row" id="employerEligibilityFaq">
            <div class="col mb-4">
                <h3 class="ml-2">Employer Eligibilty</h3>
            </div>
        </div>
        <div class="row">
            <div class="col px-4 mb-4">
                <div class="row row-cols-1">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Can an Employment Pass or S Pass holder employ a Maid?</p>
                                <p class="card-text">Yes. The applicant needs to provide the following:</p>
                                <ul>
                                    <li>Passport</li>
                                    <li>Work pass or spouse's Long-Term Pass</li>
                                    <li>Child's birth certificate or student pass(for Long Term Visit Pass holders)</li>
                                    <li>Income Tax Notice of Assessment for the current or previous assessment year</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What is the minimum income needed to employ a Maid?</p>
                                <p class="card-text">There is no specified amount. It is assessed based on the type of application:</p>
                                <ul>
                                    <li>For married couples, you can combine your income with your spouse's</li>
                                    <li>For the Joint Income Scheme, you can combine the income of family members who are living together</li>
                                    <li>For people aged 60 years or older, you can apply under the Sponsorship Scheme</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Can I employ a Maid if I do not have any income?</p>
                                <p class="card-text">If you are 60 years old or older, not earning an income and not staying with any working adults, you can apply under the Sponsorship Scheme.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Can a single person employ a Maid?</p>
                                <p class="card-text">The applicant will be assessed based on eligibility such as:</p>
                                <ul>
                                    <li>You must be 21 years old and above.</li>
                                    <li>You cannot be an undischarged bankrupt.</li>
                                    <li>You must be earning a steady source of income.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What are the requirements to hire a second Maid?</p>
                                <p class="card-text">The applicant needs to have any of these family members living with him/her:</p>
                                <ul>
                                    <li>At least 2 children below 18 years old</li>
                                    <li>A parent or parent-in-law over 60 years old</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What is the Employers’ Orientation Programme?</p>
                                <p class="card-text">It is a 3-hour programme for employers to understand their role and responsibilities.</p>
                                <p class="card-text">First time employers and existing employers who have employed more than 3 different Maid within a 12-month period must complete the EOP before they can apply for a Maid.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="waitingTimeAndCostFaq">
            <div class="col mb-4">
                <h3 class="ml-2">Waiting Time &amp; Cost</h3>
            </div>
        </div>
        <div class="row">
            <div class="col px-4 mb-4">
                <div class="row row-cols-1">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What is the waiting time for a Maid to arrive from overseas?</p>
                                <p class="card-text">It is between 2 weeks to 8 weeks, depending on factors such as the nationality of the Maid, passport status, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What is a Transfer Maid?</p>
                                <p class="card-text">Transfer maid is a Maid who is already in Singapore under the employment of another employer and is seeking for a new employer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What are the costs involved in employing a Maid?</p>
                                <p class="card-text">The costs are as shown:</p>
                                <ul>
                                    <li>One-time placement fee charged by the agency for sourcing and bringing in the Maid.</li>
                                    <li>Maid’s IPA, security bond, medical, SIP, insurance, work permit application and covid-19 related cost.</li>
                                    <li>Maid’s monthly salary, levy and half yearly medical checkup.</li>
                                    <li>Maid's repatriation cost.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What is a security bond?</p>
                                <p class="card-text">Employers are required to place a S$5,000 security bond in the form of a banker's guarantee for the Maid he/she wants to employ.</p>
                                <p class="card-text">The bond is required by the Government of Singapore.</p>
                                <p class="card-text">It is used to ensure that both the employer and Maid comply with the conditions of the Work Permit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What is SIP?</p>
                                <p class="card-text">The Settling-In-Programme (SIP) is a 1-day orientation programme for first-time FDWs to educate them on safety precautions and living in Singapore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What is Maid levy and how much is it?</p>
                                <p class="card-text">The Maid levy is a pricing mechanism by the Ministry of Manpower (MOM) to regulate the number of foreign workers in Singapore.</p>
                                <p class="card-text">Employers of Maid must pay a monthly levy of S$265 or concessionary rate of S$60.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Who qualifies for a levy concession?</p>
                                <p class="card-text">Levy concession are available to:</p>
                                <ul>
                                    <li>Employers living with a citizen child, age 16 years old or below.</li>
                                    <li>Employers is a citizen or permanent resident, age 65 years and above. </li>
                                    <li>Employers living with a person who requires permanent assistance with ADL.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Are there any grant given to Singapore Citizen or PRs?</p>
                                <p class="card-text">Employers with a family member who requires permanent assistance with 3 or more ADLs, may qualify for a monthly grant of S$120.</p>
                                <p class="card-text">More information is available on the AIC’s Singapore Silver Pages website.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="duringEmploymentFaq">
            <div class="col mb-4">
                <h3 class="ml-2">During Employment</h3>
            </div>
        </div>
        <div class="row">
            <div class="col px-4 mb-4">
                <div class="row row-cols-1">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What is the number of rest days for Maid?</p>
                                <p class="card-text">The Maid is entitled to a weekly rest day as per MOM guideline.</p>
                                <p class="card-text">If Maid agrees to work on her rest day, the employer must compensate her with 1 day’s salary per off day.*</p>
                                <p class="card-texttext-muted small">*To avoid dispute, this agreement should be in writing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Can employers help to safekeep Maid’s money?</p>
                                <p class="card-text">From 1 January 2019, employers are not allowed to keep Maid’s salary, money, bank card and bank book belonging to her, even if she requests it.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Must employers pay for Maid's salary during training?</p>
                                <p class="card-text">Employers must pay for Maid’s salary as long as she is employed by the employer, even when she is sent back to the agency for training.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Who is responsible for Maid's medical expenses?</p>
                                <p class="card-text">The employer is liable to pay the full cost of medical expenses, including hospitalization.</p>
                                <p class="card-text">The employer is required by MOM to buy medical insurance for the Maid, with a minimum cover of S$15,000 for inpatient care and day surgery.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What if the Maid goes missing?</p>
                                <p class="card-text">The following steps should be taken:</p>
                                <ul>
                                    <li>The employer should try to look for the Maid and inform the employment agency.</li>
                                    <li>The employer must file a police report if he/she fails to locate the Maid within 24 hours.</li>
                                    <li>The employer will have one month to find and repatriate the Maid*.</li>
                                    <li class="list-group-item text-muted small">*Failing to do so will result in the S$5,000 security bond being forfeited.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What if the Maid is pregnant?</p>
                                <p class="card-text">Under MOM’s regulations, FDWs cannot be pregnant or give birth in Singapore.</p>
                                <p class="card-text">Employers should repatriate the Maid back to her country of origin as soon as possible*</p>
                                <p class="card-text text-muted small">* Falling to do so will result in the S$5,000 security bond being forfeited.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What if the Maid falls sick or injured herself on her rest day?</p>
                                <p class="card-text">Employers must pay for the costs of providing the necessary medical treatment even if the Maid’s illness or injury occurs on her rest day.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Will the Maid be paid when on overseas leave?</p>
                                <p class="card-text">No, the employer need not do so unless this is provided for in the employment contract.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What if the Maid’s medical expenses exceed the insurance benefit limit?</p>
                                <p class="card-text">Employers are not allowed to make the Maid pay for her medical expenses. This includes medical expenses that are above what the insurance pays.</p>
                                <p class="card-text">Employers are encouraged to buy insurance with a higher coverage to protect themselves from any excessive medical bills.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Can employers reinstate the Maid’s Work Permit after cancellation?</p>
                                <p class="card-text">Employers can submit requests to MOM and have to ensure that the Work Permit has not expired and the Maid is still in Singapore.</p>
                                <p class="card-text">If approved, employers need to pay a $35 transaction fee. The Maid levy will be charged from the date of cancellation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Do I have to pay for the Maid’s passport renewal?</p>
                                <p class="card-text">Employers and Maid should mutually agree on who should pay for the passport renewal.</p>
                                <p class="card-text">This should be decided preferably at the start of her employment and stated in the employment contract.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Can I extend the current Maid’s work permit until the new Maid arrives?</p>
                                <p class="card-text">Yes. Employers have to submit an application 30 days before the work permit expires*.</p>
                                <p class="card-text text-muted small">*The extension will be up to one month.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="repatriationFaq">
            <div class="col mb-4">
                <h3 class="ml-2">Repatriation</h3>
            </div>
        </div>
        <div class="row">
            <div class="col px-4 mb-4">
                <div class="row row-cols-1">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What is the process for sending a Maid home?</p>
                                <p class="card-text">When the Maid’s contract ends, employers need to buy a direct air ticket including check-in luggage to the international airport of the Maid’s hometown or nearest to her hometown.</p>
                                <p class="card-text">If transit is required, the employer should give sufficient allowance for Maid to sustain herself during her transit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Who pays for the air ticket if the Maid is sent home before her contract ends?</p>
                                <p class="card-text">Employers are responsible for the cost of sending their Maid home even if the contract has not ended.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">What if the Maid missed her flight home and her Work Permit has been cancelled?</p>
                                <p class="card-text">Employers should book the Maid on another flight home and log in to WPOL to extend her special pass and change her departure date.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-none d-md-block">
        <div class="row">
            <div class="col-3 pr-xl-5">
                <div class="list-group" id="faq-tab" role="tablist">
                    <a class="list-group-item faq-item mb-3 mb-lg-4 active" id="faq-employer-eligibility-list" data-toggle="list" href="#faq-employer-eligibility" role="tab" aria-controls="home">
                        Employer Eligibilty
                    </a>
                    <a class="list-group-item faq-item mb-3 mb-lg-4" id="faq-waiting-time-cost-list" data-toggle="list" href="#faq-waiting-time-cost" role="tab" aria-controls="profile">
                        Waiting time &amp; cost
                    </a>
                    <a class="list-group-item faq-item mb-3 mb-lg-4" id="faq-during-employment-list" data-toggle="list" href="#faq-during-employment" role="tab" aria-controls="messages">
                        During Employment
                    </a>
                    <a class="list-group-item faq-item mb-3 mb-lg-4" id="faq-repatriation-list" data-toggle="list" href="#faq-repatriation" role="tab" aria-controls="settings">
                        Repatriation
                    </a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="faq-employer-eligibility" role="tabpanel" aria-labelledby="faq-employer-eligibility-list">
                        <div class="container">
                            {% include 'sections/faq/employer-eligibility.html' %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="faq-waiting-time-cost" role="tabpanel" aria-labelledby="faq-waiting-time-cost-list">
                        <div class="container">
                            {% include 'sections/faq/waiting-time-and-cost.html' %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="faq-during-employment" role="tabpanel" aria-labelledby="faq-during-employment-list">
                        <div class="container">
                            {% include 'sections/faq/during-employment.html' %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="faq-repatriation" role="tabpanel" aria-labelledby="faq-repatriation-list">
                        <div class="container">
                            {% include 'sections/faq/repatriation.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'sections/cta-banner.html' %}
{% endblock main_content %}