{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<section>
    <div class="jumbotron jumbotron-fluid bg-hero">
        <div class="container">
            <div class="row">
                <div class="col col-md-7 col-lg-6 col-xl-7 text-center py-2 py-md-3">
                    <h1 class="display-5 mb-3">The Leading Maid Platform in Singapore</h1>
                    <p class="lead mb-0">More than 8000 maids for you to choose from</p>
                    <p class="lead">Start your search now!</p>
                    <button class="btn btn-primary w-50">Search</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3 py-md-4" id="how-it-works-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="mb-3 mb-md-4">How it works</h1>
            </div>
        </div>
        <div class="row">
            <div class="col mb-2 mb-md-3">
                <div class="card-deck">
                    <div class="card bg-1" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="0">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 1</h4>
                            <p class="card-text mb-0">Sign up to view maids' biodata</p>
                        </div>
                        <img src="static/svgs/mobile-login.svg" class="card-img-bottom px-3" alt="...">
                    </div>
                    <div class="card bg-1" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="250">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 2</h4>
                            <p class="card-text mb-0">Browse maids based on your chosen criteria</p>
                        </div>
                        <img src="static/svgs/search-engine.svg" class="card-img-bottom px-3" alt="...">
                    </div>
                    <div class="card bg-1" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="650">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 3</h4>
                            <p class="card-text mb-0">Add to your shortlist and send enquiries to agencies</p>
                        </div>
                        <img src="static/svgs/mail-sent.svg" class="card-img-bottom px-3" alt="...">
                    </div>
                    <div class="card bg-1" data-aos="zoom-in" data-aos-easing="ease-in-out-back" data-aos-delay="1050">
                        <div class="card-body text-center">
                            <h4 class="card-title">Step 4</h4>
                            <p class="card-text mb-0">Agencies will contact you to proceed</p>
                        </div>
                        <img src="static/svgs/night-calls.svg" class="card-img-bottom px-3" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3 py-md-4" id="preferences-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="mb-4">Preferences</h1>
            </div>
        </div>
        <div class="row">
            <div class="col mb-md-5">
                <div class="card-deck">
                    <div class="card mb-4">
                        <img src="{% static 'images/homepage_preference/partTime1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mb-0">General Housework</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary w-75">Learn More</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <img src="{% static 'images/homepage_preference/cooking1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cooking</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary w-75">Learn More</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <img src="{% static 'images/homepage_preference/childrenCare1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Care for Infants/Childrens</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary w-75">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-md-5">
                <div class="card-deck">
                    <div class="card mb-4">
                        <img src="{% static 'images/homepage_preference/elderly.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Care for Elderly</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary w-75">Learn More</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <img src="{% static 'images/homepage_preference/elderlyCare1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Care for Disabled</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary w-75">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3 py-md-4" id="featured-maids-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col text-center">
                <h1>Featured Maids</h1>
            </div>
        </div>
        <div class="row bg-featured-maids mb-3 mb-md-4">
            <div class="col-md-6 offset-md-6 py-5">
                <div class="row mb-3">
                    <div class="col-10 col-lg-8 col-xl-6 offset-1 offset-md-0 py-2 py-md-0">
                        <label for="nationalitySelect">Nationality</label>
                        <select class="form-control" id="nationalitySelect">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col offset-1 offset-md-0 ">
                        <h4>Browse our featured maids</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5">
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Maid Name</h5>
                        <p class="card-text">Nationality</p>
                        <p class="card-text">Age / Marital Status</p>
                        <p class="card-text">Type</p>
                        <p class="card-text">Main Responsibility</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary w-100">Add to Shortlist</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Maid Name</h5>
                        <p class="card-text">Nationality</p>
                        <p class="card-text">Age / Marital Status</p>
                        <p class="card-text">Type</p>
                        <p class="card-text">Main Responsibility</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary w-100">Add to Shortlist</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Maid Name</h5>
                        <p class="card-text">Nationality</p>
                        <p class="card-text">Age / Marital Status</p>
                        <p class="card-text">Type</p>
                        <p class="card-text">Main Responsibility</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary w-100">Add to Shortlist</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Maid Name</h5>
                        <p class="card-text">Nationality</p>
                        <p class="card-text">Age / Marital Status</p>
                        <p class="card-text">Type</p>
                        <p class="card-text">Main Responsibility</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary w-100">Add to Shortlist</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Maid Name</h5>
                        <p class="card-text">Nationality</p>
                        <p class="card-text">Age / Marital Status</p>
                        <p class="card-text">Type</p>
                        <p class="card-text">Main Responsibility</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary w-100">Add to Shortlist</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Maid Name</h5>
                        <p class="card-text">Nationality</p>
                        <p class="card-text">Age / Marital Status</p>
                        <p class="card-text">Type</p>
                        <p class="card-text">Main Responsibility</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary w-100">Add to Shortlist</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Maid Name</h5>
                        <p class="card-text">Nationality</p>
                        <p class="card-text">Age / Marital Status</p>
                        <p class="card-text">Type</p>
                        <p class="card-text">Main Responsibility</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary w-100">Add to Shortlist</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="enquiry-form-section">
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row mb-3">
                <div class="col text-center">
                    <h2>Enquiry Form</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                    <form action="">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="nameInput">Name</label>
                                <input type="text" class="form-control" id="nameInput" placeholder="Name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phoneNumberInput">Phone Number</label>
                                <input type="text" class="form-control" id="phoneNumberInput" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-3">
                                <label for="emailInput">Email Address</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="maidNationalitySelect">Maid Nationality</label>
                                <select class="form-control" id="maidNationalitySelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="maidResponsibilitySelect">Maid Responsibility</label>
                                <select class="form-control" id="maidResponsibilitySelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="maidTypeSelect">Type of Maid</label>
                                <select class="form-control" id="maidTypeSelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="maidAgeSelect">Age</label>
                                <select class="form-control" id="maidAgeSelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-4">
                                <label for="messageTextarea">Message</label>
                                <textarea class="form-control" id="messageTextarea" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mt-1 text-center">
                                <button type="submit" class="btn btn-primary w-50">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}