{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<section>
    <div class="container">
        <div class="row hero-image">
            <div class="col-sm-12 my-auto text-center">
                <h1 class="pb-3 text-white" style="font-size:3rem !important;">
                    The Leading Maid Platform in Singapore
                </h1>
                <h2 class="text-white" style="font-size:1.5rem !important;">
                    More than 8000 maids for you to choose from
                </h2>
                <h2 class="pb-3 text-white" style="font-size:1.5rem !important;">
                    Start your search now!
                </h2>
                <form method='GET' action="{% url 'searchmaid' %}">
                    <div class="row justify-content-center m-4">
                    <div class="nationality col-sm-2 px-0 rounded">
                        <select class="inputState" name="nationality" class="form-control">
                        <option selected value="none">Nationality</option>
                        <option>Bangladeshi</option>
                        <option>Cambodian</option>
                        <option>Filipino</option>
                        <option>Indian</option>
                        <option>Indonesian</option>
                        <option>Myanmarese</option>
                        <option>Sri Lankan</option>
                        <option>Others</option>
                        <option value="none">No Preference</option>
                        </select>
                    </div>
                    <div class="type-of-maid col-sm-2 px-0 rounded">
                        <select class="inputState" name="type_of_maid" class="form-control">
                        <option selected value="none">Type of Maid</option>
                        <option>New</option>
                        <option>Transfer</option>
                        <option>Singapore Experience</option>
                        <option>Overseas Experience</option>
                        <option value="none">No Preference</option>
                        </select>
                    </div>
                    <div class="main-responsibility col-sm-2 px-0 rounded">
                        <select class="inputState" name="main_responsibility" class="form-control">
                        <option selected value="none">Main Responsibility</option>
                        <option>General Housework</option>
                        <option>Cooking</option>
                        <option>Care for Infants/Children</option>
                        <option>Care for Elderly</option>
                        <option>Care for Disabled</option>
                        <option>Care for Pets</option>
                        <option value="none">No Preference</option>
                        </select>
                    </div>
                    <button type="submit" class="btn blue-btn shadow">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="section-header pt-5 pb-4">HOW IT WORKS</h2>
        <div class="row text-white pb-4">
            <div class="col-12 card-deck m-auto">
                <div class="card steps-box">
                    <div class="card-body rounded shadow">
                        <h5 class="card-title text-white">STEP 1</h5>
                        <p class="card-text mb-3 text-center text-white">
                            Sign up to view maids' biodata (as per MOM's requirement)
                        </p>
                        <i class="fa fa-user-plus fa-5x icons"></i>
                    </div>
                </div>
                <div class="card steps-box text-center">
                    <div class="card-body rounded shadow text-center">
                        <h5 class="card-title text-white">STEP 2</h5>
                        <p class="card-text mb-3 text-center text-white">
                            Browse maids based on your chosen criteria
                        </p>
                        <i class="fa fa-search fa-5x icons"></i>
                    </div>
                </div>
                <div class="card steps-box">
                    <div class="card-body rounded shadow">
                        <h5 class="card-title text-white">STEP 3</h5>
                        <p class="card-text mb-3 text-center text-white">
                            Add them to shortlist and send enquiry to respective agencies
                        </p>
                        <i class="fa fa-envelope fa-5x icons"></i>
                    </div>
                </div>
                <div class="card steps-box">
                    <div class="card-body rounded shadow">
                        <h5 class="card-title text-white">STEP 4</h5>
                        <p class="card-text mb-3 text-center text-white">
                            Respective agencies will contact you
                        </p>
                        <i class="fa fa-phone-square fa-5x icons"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="section-header pb-3 mt-5">PREFERENCES</h2>
        <div class="row">
            <div class="col">
                <div class="card-deck">
                    <div class="card maid-experience mt-2 ml-4 mr-1 shadow-dark">
                        <a href="{% url 'searchmaid' %}?main_responsibility=General%20Housework">
                            <img class="card-img-top" src="{% static 'images/homepage_preference/partTime1.jpg' %}" alt="Card image cap">
                            <div class="card-body maid-experience">
                                <h4 class="card-title" style="color:#0571bb"><b>General Housework</b></h4>
                                <p class="find-out-more">Find out more ➔</p>
                            </div>
                        </a>
                    </div>
                    <div class="card maid-experience mt-2 ml-4 mr-1 shadow-dark">
                        <a href="{% url 'searchmaid' %}?main_responsibility=Cooking">
                            <img class="card-img-top" src="{% static 'images/homepage_preference/cooking1.jpg' %}" alt="Card image cap">
                            <div class="card-body maid-experience">
                                <h4 class="card-title" style="color:#0571bb"><b>Cooking</b></h4>
                                <p class="find-out-more">Find out more ➔</p>
                            </div>
                        </a>
                    </div>
                    <div class="card maid-experience mt-2 ml-4 shadow-dark">
                        <a href="{% url 'searchmaid' %}?main_responsibility=Care%20for%20Infants%2FChildren">
                            <img class="card-img-top" src="{% static 'images/homepage_preference/confinement.jpg' %}" alt="Card image cap">
                            <div class="card-body maid-experience">
                                <h4 class="card-title" style="color:#0571bb"><b>Care for Infants/Children</b></h4>
                                <p class="find-out-more">Find out more ➔</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-deck mt-3">
                    <div class="card maid-experience mt-2 ml-4 mr-1 shadow-dark">
                        <a href="{% url 'searchmaid' %}?main_responsibility=Care%20for%20Elderly">
                            <img class="card-img-top" src="{% static 'images/homepage_preference/elderly.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title" style="color:#0571bb"><b>Care for Elderly</b></h4>
                                <p class="find-out-more">Find out more ➔</p>
                            </div>
                        </a>
                    </div>
                    <div class="card maid-experience mt-2 ml-4 mr-1 shadow-dark">
                        <a href="{% url 'searchmaid' %}?main_responsibility=Care%20for%20Disabled">
                            <img class="card-img-top" src="{% static 'images/homepage_preference/elderlyCare1.jpg' %}" alt="Card image cap">
                            <div class="card-body maid-experience">
                                <h4 class="card-title" style="color:#0571bb"><b>Care for Disabled</b></h4>
                                <p class="find-out-more">Find out more ➔</p>
                            </div>
                        </a>
                    </div>
                    <div class="card maid-experience mt-2 ml-4 shadow-dark">
                        <a href="{% url 'searchmaid' %}?main_responsibility=Care%20for%20Pets">
                            <img class="card-img-top" src="{% static 'images/homepage_preference/pets.jpg' %}" alt="Card image cap">
                            <div class="card-body maid-experience">
                                <h4 class="card-title" style="color:#0571bb"><b>Care for Pets</b></h4>
                                <p class="find-out-more">Find out more ➔</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="section-header">FEATURED MAIDS</h2>
        <div class="pt-4 row">
            <div class="col-lg-12 m-auto">
                <div class="featured-mbanner mb-5" style="background-image: url('{% static 'images/featured-banner.png' %}');">
                    <div class="row pt-5">
                        <div class="col-6 offset-6 featured-nationality">
                            <p class="mb-2">Choose Nationality</p>
                            <div class="nationality col-sm-4 px-0 rounded mb-5">
                                <select class="inputState" name="nationality" class="form-control">
                                    <option selected value="none">Nationality</option>
                                    <option>Bangladeshi</option>
                                    <option>Cambodian</option>
                                    <option>Filipino</option>
                                    <option>Indian</option>
                                    <option>Indonesian</option>
                                    <option>Myanmarese</option>
                                    <option>Sri Lankan</option>
                                    <option>Others</option>
                                    <option value="none">No Preference</option>
                                </select>
                            </div>
                            <h2 class="mb-5">Browse our featured maids here</h2>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-lg-5 row-cols-md-4 featured-maids">
                    <!--Insert featured maids here-->
                    <div class="col mb-4 profiles-card display">
                        <div class="card h-100">
                        <a class="text-decoration-none" href="">
                                            <img src="{% static 'images/b10.jpg' %}" class="card-img-top">
                                                <ul class="list-group list-group-flush card-deck-margin" style="font-weight:500;">
                                                    <li class="list-group-item sm-padding">
                                                        <h4 class="card-title maid-name text-left" style="color:#234c7a">Maid Name</h4>
                                                        <p class="card-text">Maid Nationality</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left"> Yrs Old / Marital Status</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text">Type of Maid</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left">Main Responsibility</p>
                                                    </li>
                                                </ul>
                                        </a>
                        <a type="button" class="btn lightblue-btn btn-block shadow" href="/shortlisted_cart/add_to_shortlisted_cart/">Add to Shortlist</a>
                        </div>
                    </div>
                    <div class="popup shadow-dark">
                        <h3 class="popup-agency-name">Agency Name</h3>
                        <h6 class="popup-employment">Employment History</h6>

                        <p>01/01/2018 to 01/01/2019</p>
                        <p>Country: Singapore | Employer: Chinese</p>
                        <p class="text-left">Work duties here</p>
                        <p class="text-left">Remarks here</p>
                        <hr>

                        <p><small>Updated on</small></p>
                    </div>

                    <div class="col mb-4 profiles-card display">
                        <div class="card h-100">
                        <a class="text-decoration-none" href="">
                                            <img src="{% static 'images/b10.jpg' %}" class="card-img-top">
                                                <ul class="list-group list-group-flush card-deck-margin" style="font-weight:500;">
                                                    <li class="list-group-item sm-padding">
                                                        <h4 class="card-title maid-name text-left" style="color:#234c7a">Maid Name</h4>
                                                        <p class="card-text">Maid Nationality</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left"> Yrs Old / Marital Status</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text">Type of Maid</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left">Main Responsibility</p>
                                                    </li>
                                                </ul>
                                        </a>
                        <a type="button" class="btn lightblue-btn btn-block shadow" href="/shortlisted_cart/add_to_shortlisted_cart/">Add to Shortlist</a>
                        </div>
                    </div>
                    <div class="popup shadow-dark">
                        <h3 class="popup-agency-name">Agency Name</h3>
                        <h6 class="popup-employment">Employment History</h6>

                        <p>01/01/2018 to 01/01/2019</p>
                        <p>Country: Singapore | Employer: Chinese</p>
                        <p class="text-left">Work duties here</p>
                        <p class="text-left">Remarks here</p>
                        <hr>

                        <p><small>Updated on</small></p>
                    </div>

                    <div class="col mb-4 profiles-card display">
                        <div class="card h-100">
                        <a class="text-decoration-none" href="">
                                            <img src="{% static 'images/b10.jpg' %}" class="card-img-top">
                                                <ul class="list-group list-group-flush card-deck-margin" style="font-weight:500;">
                                                    <li class="list-group-item sm-padding">
                                                        <h4 class="card-title maid-name text-left" style="color:#234c7a">Maid Name</h4>
                                                        <p class="card-text">Maid Nationality</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left"> Yrs Old / Marital Status</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text">Type of Maid</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left">Main Responsibility</p>
                                                    </li>
                                                </ul>
                                        </a>
                        <a type="button" class="btn lightblue-btn btn-block shadow" href="/shortlisted_cart/add_to_shortlisted_cart/">Add to Shortlist</a>
                        </div>
                    </div>
                    <div class="popup shadow-dark">
                        <h3 class="popup-agency-name">Agency Name</h3>
                        <h6 class="popup-employment">Employment History</h6>

                        <p>01/01/2018 to 01/01/2019</p>
                        <p>Country: Singapore | Employer: Chinese</p>
                        <p class="text-left">Work duties here</p>
                        <p class="text-left">Remarks here</p>
                        <hr>

                        <p><small>Updated on</small></p>
                    </div>

                    <div class="col mb-4 profiles-card display">
                        <div class="card h-100">
                        <a class="text-decoration-none" href="">
                                            <img src="{% static 'images/b10.jpg' %}" class="card-img-top">
                                                <ul class="list-group list-group-flush card-deck-margin" style="font-weight:500;">
                                                    <li class="list-group-item sm-padding">
                                                        <h4 class="card-title maid-name text-left" style="color:#234c7a">Maid Name</h4>
                                                        <p class="card-text">Maid Nationality</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left"> Yrs Old / Marital Status</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text">Type of Maid</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left">Main Responsibility</p>
                                                    </li>
                                                </ul>
                                        </a>
                        <a type="button" class="btn lightblue-btn btn-block shadow" href="/shortlisted_cart/add_to_shortlisted_cart/">Add to Shortlist</a>
                        </div>
                    </div>
                    <div class="popup shadow-dark">
                        <h3 class="popup-agency-name">Agency Name</h3>
                        <h6 class="popup-employment">Employment History</h6>

                        <p>01/01/2018 to 01/01/2019</p>
                        <p>Country: Singapore | Employer: Chinese</p>
                        <p class="text-left">Work duties here</p>
                        <p class="text-left">Remarks here</p>
                        <hr>

                        <p><small>Updated on</small></p>
                    </div>

                    <div class="col mb-4 profiles-card display">
                        <div class="card h-100">
                        <a class="text-decoration-none" href="">
                                            <img src="{% static 'images/b10.jpg' %}" class="card-img-top">
                                                <ul class="list-group list-group-flush card-deck-margin" style="font-weight:500;">
                                                    <li class="list-group-item sm-padding">
                                                        <h4 class="card-title maid-name text-left" style="color:#234c7a">Maid Name</h4>
                                                        <p class="card-text">Maid Nationality</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left"> Yrs Old / Marital Status</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text">Type of Maid</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left">Main Responsibility</p>
                                                    </li>
                                                </ul>
                                        </a>
                        <a type="button" class="btn lightblue-btn btn-block shadow" href="/shortlisted_cart/add_to_shortlisted_cart/">Add to Shortlist</a>
                        </div>
                    </div>
                    <div class="popup shadow-dark">
                        <h3 class="popup-agency-name">Agency Name</h3>
                        <h6 class="popup-employment">Employment History</h6>

                        <p>01/01/2018 to 01/01/2019</p>
                        <p>Country: Singapore | Employer: Chinese</p>
                        <p class="text-left">Work duties here</p>
                        <p class="text-left">Remarks here</p>
                        <hr>

                        <p><small>Updated on</small></p>
                    </div>

                    <div class="col mb-4 profiles-card display">
                        <div class="card h-100">
                        <a class="text-decoration-none" href="">
                                            <img src="{% static 'images/b10.jpg' %}" class="card-img-top">
                                                <ul class="list-group list-group-flush card-deck-margin" style="font-weight:500;">
                                                    <li class="list-group-item sm-padding">
                                                        <h4 class="card-title maid-name text-left" style="color:#234c7a">Maid Name</h4>
                                                        <p class="card-text">Maid Nationality</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left"> Yrs Old / Marital Status</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text">Type of Maid</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left">Main Responsibility</p>
                                                    </li>
                                                </ul>
                                        </a>
                        <a type="button" class="btn lightblue-btn btn-block shadow" href="/shortlisted_cart/add_to_shortlisted_cart/">Add to Shortlist</a>
                        </div>
                    </div>
                    <div class="popup shadow-dark">
                        <h3 class="popup-agency-name">Agency Name</h3>
                        <h6 class="popup-employment">Employment History</h6>

                        <p>01/01/2018 to 01/01/2019</p>
                        <p>Country: Singapore | Employer: Chinese</p>
                        <p class="text-left">Work duties here</p>
                        <p class="text-left">Remarks here</p>
                        <hr>

                        <p><small>Updated on</small></p>
                    </div>

                    <div class="col mb-4 profiles-card display">
                        <div class="card h-100">
                        <a class="text-decoration-none" href="">
                                            <img src="{% static 'images/b10.jpg' %}" class="card-img-top">
                                                <ul class="list-group list-group-flush card-deck-margin" style="font-weight:500;">
                                                    <li class="list-group-item sm-padding">
                                                        <h4 class="card-title maid-name text-left" style="color:#234c7a">Maid Name</h4>
                                                        <p class="card-text">Maid Nationality</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left"> Yrs Old / Marital Status</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text">Type of Maid</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left">Main Responsibility</p>
                                                    </li>
                                                </ul>
                                        </a>
                        <a type="button" class="btn lightblue-btn btn-block shadow" href="/shortlisted_cart/add_to_shortlisted_cart/">Add to Shortlist</a>
                        </div>
                    </div>
                    <div class="popup shadow-dark">
                        <h3 class="popup-agency-name">Agency Name</h3>
                        <h6 class="popup-employment">Employment History</h6>

                        <p>01/01/2018 to 01/01/2019</p>
                        <p>Country: Singapore | Employer: Chinese</p>
                        <p class="text-left">Work duties here</p>
                        <p class="text-left">Remarks here</p>
                        <hr>

                        <p><small>Updated on</small></p>
                    </div>

                    <div class="col mb-4 profiles-card display">
                        <div class="card h-100">
                        <a class="text-decoration-none" href="">
                                            <img src="{% static 'images/b10.jpg' %}" class="card-img-top">
                                                <ul class="list-group list-group-flush card-deck-margin" style="font-weight:500;">
                                                    <li class="list-group-item sm-padding">
                                                        <h4 class="card-title maid-name text-left" style="color:#234c7a">Maid Name</h4>
                                                        <p class="card-text">Maid Nationality</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left"> Yrs Old / Marital Status</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text">Type of Maid</p>
                                                    </li>
                                                    <li class="list-group-item sm-padding">
                                                        <p class="card-text text-left">Main Responsibility</p>
                                                    </li>
                                                </ul>
                                        </a>
                        <a type="button" class="btn lightblue-btn btn-block shadow" href="/shortlisted_cart/add_to_shortlisted_cart/">Add to Shortlist</a>
                        </div>
                    </div>
                    <div class="popup shadow-dark">
                        <h3 class="popup-agency-name">Agency Name</h3>
                        <h6 class="popup-employment">Employment History</h6>

                        <p>01/01/2018 to 01/01/2019</p>
                        <p>Country: Singapore | Employer: Chinese</p>
                        <p class="text-left">Work duties here</p>
                        <p class="text-left">Remarks here</p>
                        <hr>

                        <p><small>Updated on</small></p>
                    </div>
                    <!--End of featured maids-->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}