{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main_content %}
<section id="main-banner-section">
    <div class="jumbotron jumbotron-fluid bg-info bg-home-hero">
        <div class="container">
            <div class="row">
                <div class="col col-lg-6 offset-lg-3 text-center py-2 py-md-3 text-light">
                    <h1 class="display-5 mb-3">The Leading Maid Platform in Singapore</h1>
                    <p class="lead mb-0">More than 8000 maids for you to choose from</p>
                    <p class="lead">Start your search now!</p>
                </div>
            </div>
            <div class="row d-none d-md-flex">
                <div class="col col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <form action="{% url 'maid_list' %}" method="get">
                        <div class="form-row">
                            <div class="col">
                                <label for="type-of-maid" class="text-light">
                                    <h5 class="mb-0">Type of Maid</h5>
                                </label>
                                {{filter.form.maid_type|as_crispy_field}}
                            </div>
                            <div class="col">
                                <label for="type-of-maid" class="text-light">
                                    <h5 class="mb-0">Country</h5>
                                </label>
                                {{filter.form.personal_details__country_of_origin|as_crispy_field}}
                            </div>
                            <div class="col">
                                <label for="type-of-maid" class="text-light">
                                    <h5 class="mb-0">Responsibility</h5>
                                </label>
                                {{filter.form.responsibilities|as_crispy_field}}
                            </div>
                            <div class="col">
                                <label for="" class="text-light">
                                    <h5 class="mb-0">&nbsp;</h5>
                                </label>
                                <button type="submit" class="btn bg-secondary text-light w-100">
                                    <h5 class="mb-0">Search</h5>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row d-md-none">
                <div class="col text-center">
                    <a href="{% url 'maid_list' %}" class="btn btn-lg bg-secondary text-light w-50">
                        <h5 class="mb-0">Search</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'sections/how-it-works.html' %}
<section class="py-3 py-md-4" id="preferences-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="mb-4">Preferences</h2>
            </div>
        </div>
        <div class="row">
            <div class="col mb-md-4">
                <div class="card-deck">
                    <div class="card preferences-card">
                        <img src="{% static 'images/homepage_preference/partTime1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mb-3">General Housework</h5>
                            <a href="{% url 'maid_list' %}?responsibilities=1">
                                <h6 class="card-subtitle text-secondary">Find Out More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="card preferences-card">
                        <img src="{% static 'images/homepage_preference/cooking1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Cooking</h5>
                            <a href="{% url 'maid_list' %}?responsibilities=2">
                                <h6 class="card-subtitle text-secondary">Find Out More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="card preferences-card">
                        <img src="{% static 'images/homepage_preference/childrenCare1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Care for Children</h5>
                            <a href="{% url 'maid_list' %}?responsibilities=3">
                                <h6 class="card-subtitle text-secondary">Find Out More</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-md-5">
                <div class="card-deck">
                    <div class="card preferences-card">
                        <img src="{% static 'images/homepage_preference/elderly.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Care for Elderly</h5>
                            <a href="{% url 'maid_list' %}?responsibilities=4">
                                <h6 class="card-subtitle text-secondary">Find Out More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="card preferences-card">
                        <img src="{% static 'images/homepage_preference/elderlyCare1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Care for Disabled</h5>
                            <a href="{% url 'maid_list' %}?responsibilities=5">
                                <h6 class="card-subtitle text-secondary">Find Out More</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3 py-md-4" id="featured-maids-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col text-center">
                <h2>Featured Maids</h>
            </div>
        </div>
        <div class="row bg-featured-maids mb-3 mb-md-4">
            <div class="col-md-6 offset-md-6 py-5">
                <div class="row mb-3">
                    <div class="col-10 col-lg-8 col-xl-6 offset-1 offset-md-0 py-2 py-md-0">
                        <label for="nationalitySelect" class="ml-1">Nationality</label>
                        <select class="form-control" id="nationalitySelect">
                            <option value="ANY">No Preference</option>
                            <option value="BGD">Bangladesh</option>
                            <option value="KHM">Cambodia</option>
                            <option value="IND">India</option>
                            <option value="IDN">Indonesia</option>
                            <option value="MMR">Myanmar</option>
                            <option value="PHL">Philippines</option>
                            <option value="LKA">Sri Lanka</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col offset-1 offset-md-0 ">
                        <h5 class="ml-1">Browse our featured maids</h5>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div id="featured-maids-wrapper">
            <div class="row">
                <div class="col my-5 text-center">
                    <div class="jumbotron jumbotron-fluid my-5">
                        <div class="container my-5">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="maid-carousel">
            {% for maid in featured_maids %}
                {% include 'components/maid-card.html' with maid=maid %}
            {% endfor %}
        </div>
        {% else %}
        <div class="row">
            <div class="col text-center">
                <img src="{% static 'images/featured-maids.png' %}" alt="" class="img-fluid blurred-image">
                <div class="featured-maids-overlay">
                    <div class="jumbotron jumbotron-fluid bg-transparent">
                        <div class="container text-center">
                          <h3 class="display-4">Log in to view biodata</h3>
                          <a href="{% url 'sign_in' %}" class="btn btn-primary"><h5 class="mb-0">Log in</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% include 'sections/cta-banner.html' %}
{% endblock main_content %}
{% block js %}
<script>
    function populateFeaturedMaids(nationality='ANY') {
        let csrftoken = Cookies.get('csrftoken');
        axios({
            method: 'post',
            mode: 'same-origin',
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            url: '/maids/view/featured/',
            data: {
                'nationality': nationality
            }
        }).then(function (res) {
            if (res.data.count == 0) {
                displayEmptyContent();
            } else {
                displayContent(res);
            }
        })
    }
</script>
{% endblock js %}