{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<section>
    <div class="jumbotron jumbotron-fluid bg-hero">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-lg-6 py-2 py-md-3 offset-md-1">
                    <h1 class="display-4 pl-3 pl-md-2">How It Works</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">How It Works</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'sections/easiest-way-banner.html' %}
{% include 'sections/how-it-works.html' %}
<section>
    <div class="container">
        <div class="row mb-3">
            <div class="col py-md-3 text-center">
                <h1 class="mb-3 mb-md-4">Why Us?</h1>
                <p class="lead mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, voluptates?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-1 py-md-3 mb-md-5">
                <img src="{% static 'images/aboutus-1.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4 offset-md-1 py-md-3 mb-md-5" data-aos="fade-left" data-aos-easing="ease-in-out-back" data-aos-duration="750">
                <h4 class="mt-2 mt-lg-3 mt-xl-4">Access to a ready pool of maids in Singapore</h4>
                <p class="mb-1">We have a large number of Maids from Phillipines, Indonesia, Myanmar, India, etc</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-4 offset-md-1 py-md-3 mb-md-5" data-aos="fade-right" data-aos-easing="ease-in-out-back" data-aos-duration="750">
                <h4 class="mt-2 mt-lg-3 mt-xl-4">More than 200 Maid Agencies</h4>
                <p>The convenience of browsing maids on one platform rather than various maid agency websites</p>
            </div>
            <div class="col-md-4 offset-md-1 py-md-3 mb-md-5">
                <img src="{% static 'images/aboutus-2.png' %}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-1 py-md-3 mb-md-5">
                <img src="{% static 'images/aboutus-3.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-md-5 col-lg-4 offset-md-1 py-md-3 mb-md-5" data-aos="fade-left" data-aos-easing="ease-in-out-back" data-aos-duration="750">
                <h4 class="mt-2 mt-lg-3 mt-xl-4">Sorting and Filtering</h4>
                <p>Custom your selections based on nationality, experience, language ability, marital status and many more</p>
            </div>
        </div>
    </div>
</section>
{% include 'sections/mini-faq.html' %}
{% include 'sections/cta-banner.html' %}
<section id="enquiry-form-section">
    <div class="jumbotron jumbotron-fluid mb-0 d-none">
        <div class="container">
            <div class="row mb-3">
                <div class="col text-center">
                    <h2>Enquiry Form</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                    <form action="">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="nameInput">Name</label>
                                <input type="text" class="form-control" id="nameInput" placeholder="Name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phoneNumberInput">Phone Number</label>
                                <input type="text" class="form-control" id="phoneNumberInput" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-3">
                                <label for="emailInput">Email Address</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="maidNationalitySelect">Maid Nationality</label>
                                <select class="form-control" id="maidNationalitySelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="maidResponsibilitySelect">Maid Responsibility</label>
                                <select class="form-control" id="maidResponsibilitySelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="maidTypeSelect">Type of Maid</label>
                                <select class="form-control" id="maidTypeSelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="maidAgeSelect">Age</label>
                                <select class="form-control" id="maidAgeSelect">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-4">
                                <label for="messageTextarea">Message</label>
                                <textarea class="form-control" id="messageTextarea" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mt-1 text-center">
                                <button type="submit" class="btn btn-primary w-50">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}