{% extends 'base.html' %}
{% block main_content %}
<section>
    <div class="container text-dark my-5 py-5">
        <div class="row">
            <div class="col offset-2">
                <h5 class="fs-22 ml-1">Terms &#38; Conditions for Employment Agency</h5>
                <p class="ml-2">Updated on 26 May 2021</p>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">1.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">General Conditions</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.1.</p>
                    </div>
                    <div class="col">
                        <p>The Terms and Conditions for Employment Agency (“Terms”) govern your (“Employment agency”,
                            “Agency”, “Agencies” or “you”) use of our (“Online Maid”, “Online Maid Pte Ltd”, “we”, or
                            “us”) Services.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.2.</p>
                    </div>
                    <div class="col">
                        <p>You have read, accepted and agreed to be bound by the Terms by accessing, or using our apps,
                            services, features, software, and/or website (together, “Services”).</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.3.</p>
                    </div>
                    <div class="col">
                        <p>Online Maid Pte Ltd provides an online platform for employment agencies to list foreign
                            domestic workers (“Maid” of “FDWs”) available for hire and the backend support to handle the
                            Maid hiring process paperwork.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.4.</p>
                    </div>
                    <div class="col">
                        <p>Agencies need an agency user account (“User Account”) in order to use these services. You are
                            responsible for what you do with your User Account, including taking reasonable steps to
                            keep your User Account secure.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.5.</p>
                    </div>
                    <div class="col">
                        <p>To use our Services on behalf of an employment agency, an authorised representative of that
                            organisation must agree to these Terms.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.6.</p>
                    </div>
                    <div class="col">
                        <p>Your organisation’s administrator may assign a User Account to you. That administrator might
                            require you to follow additional rules and may be able to access or disable your User
                            Account.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.7.</p>
                    </div>
                    <div class="col">
                        <p>We reserve the right to update and amend the Terms from time to time by posting the latest
                            version on the website. Any new features or tools which are added to the current Services
                            shall be also subject to the Terms. You are advised to check the Terms regularly for any
                            updates or changes that may impact you.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.8.</p>
                    </div>
                    <div class="col">
                        <p>Your continued use of the Services after the amended Terms are posted on the website
                            constitutes your agreement to, and acceptance of, the amended Terms. If you do not agree to
                            any changes to the Terms, do not continue to use the Services. Kindly email to inform us
                            your intention to terminate these Services.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.9.</p>
                    </div>
                    <div class="col">
                        <p>You may not use our Services for any illegal or unauthorised purpose nor may you, in the use
                            of the Services, violate any laws in Singapore (including but not limited to copyright
                            laws).</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.10.</p>
                    </div>
                    <div class="col">
                        <p>You agree to comply with all applicable laws, rules and regulations in your use of the
                            Services and your performance of obligations under the Terms.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.11.</p>
                    </div>
                    <div class="col">
                        <p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the
                            Services, use of the Services, or access to the Services without the express written
                            permission by Online Maid.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.12.</p>
                    </div>
                    <div class="col">
                        <p>You shall not purchase search engine keywords or any other advertising keywords (such as
                            Google AdWords), or domain names that carry the words “Online Maid”.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.13.</p>
                    </div>
                    <div class="col">
                        <p>“Materials” refer to images, graphics, written content, information and data. You understand
                            that your Materials may be transferred unencrypted and involve (a) transmissions over
                            various networks; and (b) changes to conform and adapt to technical requirements of
                            connecting networks or devices.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.14.</p>
                    </div>
                    <div class="col">
                        <p>All the terms and provisions of the Terms shall be binding upon and inure to the benefit of
                            the respective parties to and their successors. Online Maid shall be permitted to assign
                            these Terms without notice to you or consent from you. You shall have no right to assign or
                            otherwise transfer the Terms, or any of your rights or obligations hereunder, to any
                            third-party without Online Maid’s prior written consent, to be given or withheld at Online
                            Maid’s sole discretion.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.15.</p>
                    </div>
                    <div class="col">
                        <p>If any provision, or portion of the provision, in these Terms is, for any reason, held to be
                            invalid, illegal or unenforceable in any respect, then such invalidity, illegality or
                            unenforceability will not affect any other provision (or the unaffected portion of the
                            provision) of the Terms, and the Terms will be construed as if such invalid, illegal or
                            unenforceable provision, or portion of the provision, had never been contained within the
                            Terms.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>1.16.</p>
                    </div>
                    <div class="col">
                        <p>Our failure to exercise or enforce any right or provision of the Terms shall not constitute a
                            waiver of such right or provision.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">2.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Account Terms</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.1.</p>
                    </div>
                    <div class="col">
                        <p>To access and use the Services, you must register for a User Account by providing your Agency
                            name, valid employment agency licence number, person in charge, phone number, a valid email
                            address, a scanned copy of your employment agency licence and any other information
                            indicated as required. We may reject your application for a User Account, or cancel an
                            existing User Account, for any reason, in our sole discretion. We reserve the right to
                            refuse service to anyone for any reason at any time.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.2.</p>
                    </div>
                    <div class="col">
                        <p>The person authorised by your Agency to be in charge of the User Account must be above 21
                            years of age.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.3.</p>
                    </div>
                    <div class="col">
                        <p>By using a User Account, you agree that the data provided by you is accurate, complete and
                            current; and you will maintain the data to ensure it is accurate, complete and up to date.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.4.</p>
                    </div>
                    <div class="col">
                        <p>Online Maid will use the email address you provide on opening a User Account or as updated by
                            you from time to time as the primary method for communication with you.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.5.</p>
                    </div>
                    <div class="col">
                        <p>You are responsible for keeping your password secure. We cannot and will not be liable for
                            any loss or damage from your failure to maintain the security of your User Account and
                            password.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.6.</p>
                    </div>
                    <div class="col">
                        <p>You are responsible for all Materials that are uploaded, stored, displayed, distributed,
                            transmitted that are in connection with your User Account.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.7.</p>
                    </div>
                    <div class="col">
                        <p>Should the Materials uploaded by you contain viruses and/or are corrupted, and subsequently
                            cause damages to us and/or third-party that access your Materials, we reserve the right to
                            claim damages from you.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.8.</p>
                    </div>
                    <div class="col">
                        <p>We may, but have no obligation to, remove Materials and suspend or terminate User Accounts if
                            we determine in our sole discretion that the Materials uploaded or posted by you, violate
                            the Terms.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.9.</p>
                    </div>
                    <div class="col">
                        <p>We do not allow any advertisements to be added to the Materials except for those purchased
                            from us by your Agency.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.10.</p>
                    </div>
                    <div class="col">
                        <p>Verbal or written abuse of any kind (including threats of abuse or retribution) to any Online
                            Maid customer, employee and member may result in immediate User Account termination.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.11.</p>
                    </div>
                    <div class="col">
                        <p>We reserve the right to provide our services to your competitors and make no promise of
                            exclusivity in any particular market segment.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>2.12.</p>
                    </div>
                    <div class="col">
                        <p>A breach or violation of any term in the Terms may result in an immediate termination of your
                            Services.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">3.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Account Activation</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>3.1.</p>
                    </div>
                    <div class="col">
                        <p>If an employee signed up for the Services on behalf of the Agency, the Agency shall be deemed
                            as the contracting party and the employee shall be deemed to have the necessary
                            authorisations.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>3.2.</p>
                    </div>
                    <div class="col">
                        <p>If you are the employee who is signing up for the Services on behalf of your employer, then
                            you must use your employer-issued email address and you represent and warrant that you have
                            the authority to bind your employer to our Terms.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>3.3.</p>
                    </div>
                    <div class="col">
                        <p>The person signing up for the Services by opening a User Account will be the person who is
                            authorised to use any corresponding User Account we may provide to the Agency in connection
                            with the Services.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">4.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Limitation of Liability</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>4.1.</p>
                    </div>
                    <div class="col">
                        <p>You use the Services at your sole risk. We disclaim all warranties or conditions, whether
                            express, implied or statutory. We shall not be liable for any direct, indirect, incidental,
                            special, consequential or exemplary damages, including but not limited to, damages or costs
                            of any kind suffered or incurred by you arising from or in connection with the use/access or
                            the inability to use/access the Platform due to technical failure or third-party activity
                            (such as transmission of viruses and other malicious acts) that is beyond our control.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>4.2.</p>
                    </div>
                    <div class="col">
                        <p>We may have to suspend the Services from time to time, in order to make changes to it or
                            correct technical problems that have arisen.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>4.3.</p>
                    </div>
                    <div class="col">
                        <p>We are not responsible for unauthorised access or alteration of your Materials.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>4.4.</p>
                    </div>
                    <div class="col">
                        <p>We do not warrant that the Services will meet your expectations, or that any errors in the
                            Services will be corrected.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>4.5.</p>
                    </div>
                    <div class="col">
                        <p>We work hard to provide the best Services we can and to specify clear guidelines for everyone
                            who uses them. Our Services, however, are provided "as is," and we make no guarantees that
                            they always will be safe, secure, or error-free, or that they will function without
                            disruptions, delays, or imperfections. To the extent permitted by law, we also DISCLAIM ALL
                            WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY,
                            FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. We do not control or direct
                            what people and others do or say, and we are not responsible for their actions or conduct
                            (whether online or offline) or any content they share (including offensive, inappropriate,
                            obscene, unlawful, and other objectionable content).</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>4.6.</p>
                    </div>
                    <div class="col">
                        <p>We cannot predict when issues might arise with our Services. Accordingly, our liability shall
                            be limited to the fullest extent permitted by applicable law, and under no circumstance will
                            we be liable to you for any lost profits, revenues, information, or data, or consequential,
                            special, indirect, exemplary, punitive, or incidental damages arising out of or related to
                            these Terms or the Online Maid Services, even if we have been advised of the possibility of
                            such damages.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">5.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Indemnities</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>5.1.</p>
                    </div>
                    <div class="col">
                        <p>You and the Agency you represent agree to indemnify us fully and hold us and our directors,
                            partners, and employees harmless from any claim or demand, including attorney’s fees, made
                            by any third-party due to:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>5.2.</p>
                    </div>
                    <div class="col">
                        <p>the leak, theft, misappropriation and/or unauthorised access of any Materials and/or any
                            personal data that resulted from your misuse or negligent use of our Services; and/or</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>5.3.</p>
                    </div>
                    <div class="col">
                        <p>your violation of any law or the rights of any third-party.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">6.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Modifications to the Services and Subscription Fees</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>6.1.</p>
                    </div>
                    <div class="col">
                        <p>Subscription fees for using the Services (“Subscription Fees”) are subject to change upon 30
                            days’ notice from Online Maid. Such notice may be provided at any time by posting the
                            changes on the platform price list. We reserve the right at any time, to modify or
                            discontinue, the Services (or any part thereof) with or without notice. Online Maid shall
                            not be liable to you or to any third-party for any modification, price change, suspension or
                            discontinuance of the Services.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">7.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Payment of Subscription Fees</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>7.1.</p>
                    </div>
                    <div class="col">
                        <p>You are required to pay Subscription Fees to Online Maid for the Services. Subscription Fees
                            are paid in advance.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>7.2.</p>
                    </div>
                    <div class="col">
                        <p>We may suspend or revoke access to your User Account if you fail to pay timely and no
                            retrieval of Materials are allowed during this period.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>7.3.</p>
                    </div>
                    <div class="col">
                        <p>Your User Account will be reactivated upon your payment of any outstanding Subscription Fees,
                            plus the Subscription Fees applicable for future Services.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>7.4.</p>
                    </div>
                    <div class="col">
                        <p>If the outstanding Subscription Fees remain unpaid for 7 days following the date of
                            suspension, we reserve the right to terminate your User Account.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">8.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Intellectual Property Rights</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>8.1.</p>
                    </div>
                    <div class="col">
                        <p>We do not claim any intellectual property rights over the Materials you provide to Online
                            Maid. All Materials you upload remain yours. You are responsible for compliance of the
                            Materials with any applicable laws or regulations. By uploading the Materials, you agree to
                            allow us to store, display and disclosure the Materials so that other internet users can
                            view them. We shall have the non-exclusive right and licence to use the Materials.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">9.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Privacy of Information</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>9.1.</p>
                    </div>
                    <div class="col">
                        <p>Online Maid is committed to protecting the privacy of Agency information. As these Terms are
                            between Online Maid Pte Ltd and the Agency, we shall not be held responsible for any
                            employers’ and FDWs’ data that are stored by the Agency on this platform.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>9.2.</p>
                    </div>
                    <div class="col">
                        <p>Agencies are responsible for full compliance with the statutory requirements of the Personal
                            Data Protection Act 2012 (“PDPA”) when handling any information that relates to an
                            identified or identifiable individual.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>9.3.</p>
                    </div>
                    <div class="col">
                        <p>All enquiries received on the platform from prospective employers will be sent to all
                            employment agencies, who are subscribers of our Services, to respond.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>9.4.</p>
                    </div>
                    <div class="col">
                        <p>By using our Services, you and the Agency that you represent agree to adhere to our Private
                            Policy.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>9.5.</p>
                    </div>
                    <div class="col">
                        <p>By using our Services, you agree that Online Maid can use your personal data that we collect
                            in accordance with our Privacy Policy.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">10.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Third-Party Services</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>10.1.</p>
                    </div>
                    <div class="col">
                        <p>Online Maid may from time to time recommend, provide you with access to, or enable
                            third-party software, applications, products, services or website links (collectively,
                            “Third-Party Services”) for your consideration or use.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>10.2.</p>
                    </div>
                    <div class="col">
                        <p>Such Third-Party Services are made available only as a convenience, and your purchase, access
                            or use of any such Third-Party Services is solely between you and the applicable third-party
                            services provider (“Third-Party Provider”). In addition to these Terms, you also agree to be
                            bound by the additional terms applicable to services you purchase from, or that are provided
                            by, Third-Party Providers. It is your responsibility to read the terms and conditions and/or
                            privacy policies applicable to such Third-Party Services before using them.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>10.3.</p>
                    </div>
                    <div class="col">
                        <p>We do not provide any warranties or make representations to you with respect to Third-Party
                            Services. You acknowledge that Online Maid has no control over Third-Party Services and
                            shall not be responsible or liable to you or anyone else for such Third-Party Services.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>10.4.</p>
                    </div>
                    <div class="col">
                        <p>Online Maid may disable access to any Third-Party Services at any time in its sole discretion
                            and without notice to you. Online Maid is not responsible or liable to anyone for
                            discontinuation or suspension of access to, or disablement of, any Third-Party Services.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>10.5.</p>
                    </div>
                    <div class="col">
                        <p>The relationship between you and any Third-Party Provider is strictly between you and such
                            Third-Party Provider, and Online Maid is not obligated to intervene in any dispute arising
                            between you and a Third-Party Provider.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>10.6.</p>
                    </div>
                    <div class="col">
                        <p>You agree to indemnify and hold us harmless from any claim or demand, including reasonable
                            attorneys’ fees, arising out of your use of Third-Party Services or your relationship with a
                            Third-Party Provider.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">11.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Termination</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>11.1.</p>
                    </div>
                    <div class="col">
                        <p>You may cancel your User Account and terminate the Terms at any time by sending us an email
                            and by no longer accessing our Services. Termination of the Services can be performed by
                            either party for any reason. However, if you continue to access our Services, then you agree
                            to adhere to these Terms.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>11.2.</p>
                    </div>
                    <div class="col">
                        <p>Online Maid may terminate your User Account if you have breached these Terms, and you may no
                            longer be able to access your User Account. You will not be entitled to any refunds of any
                            Fees, pro rata or otherwise. Any outstanding balance owed to Online Maid for your use of the
                            Services through the effective date of such termination will immediately become due and
                            payable in full.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>11.3.</p>
                    </div>
                    <div class="col">
                        <p>Online Maid may suspend or terminate your User Account if we suspect that you (by conviction,
                            settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent
                            activity in connection with the use of the Services.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>11.4.</p>
                    </div>
                    <div class="col">
                        <p>Termination of your User Account shall be without prejudge to any other rights or remedies we
                            may be entitled to under the Terms.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <h5 class="fs-14">12.</h5>
                    </div>
                    <div class="col">
                        <h5 class="fs-14">Jurisdiction</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-2 text-right">
                        <p>12.1.</p>
                    </div>
                    <div class="col">
                        <p>These Terms shall be governed by and constructed in accordance with the laws of Singapore,
                            and any claims or disputes of whatever nature shall be subjected to the jurisdiction of the
                            courts of Singapore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}