<div class="row">
    <div class="col text-center my-2 my-md-4 my-lg-5">
        <div class="row">
            <div class="col-24">
                <p class="fs-11 text-dark">
                    {% if page_name == 'Agency Login' %}
                        For employment agency without an account, kindly sign up via the link below
                    {% elif page_name == 'Agency Sign Up' %}
                        The above form is for employment agencies. For user please sign up via the link below.
                    {% elif page_name == 'User Login' %}
                        For user without an account, kindly sign up via the link below
                    {% elif page_name == 'User Sign Up' %}
                        For employment agency without an account, kindly sign up via the link below
                    {% endif %} 
                </p>
            </div>
            <div class="col-24 my-2 mx-auto">
                {% if page_name == 'Agency Login' %}
                    <a href="{% url 'agency_sign_up' %}" class="btn btn-outline-primary w-50 w-md-30">Create an agency account</a>
                {% elif page_name == 'Agency Sign Up' %}
                    <a href="{% url 'sign_in' %}" class="btn btn-outline-primary w-50 w-md-30">Create a free account</a>
                {% elif page_name == 'User Login' %}
                    <a href="{% url 'potential_employer_create' %}" class="btn btn-outline-primary w-50 w-md-30">Create a free account</a>
                {% elif page_name == 'User Sign Up' %}
                    <a href="{% url 'agency_sign_up' %}" class="btn btn-outline-primary w-50 w-md-30">Create an agency account</a>
                {% endif %} 

            </div>
        </div>
    </div>
</div>