{% comment %}
<a class="text-decoration-none" href="{% url 'maid_detail' maid.pk %}">
    <div class="card maid-card" id='maid-{{maid.pk}}' data-maid='{{maid.pk}}' data-container="body" data-toggle="popover" data-placement="right" data-content="{{maid.get_popover_data}}">
        <div onclick="maidProfileRedirect({{maid.pk}})">
            <div class="maid-thumbnail" style="background-image:url({%if maid.photo%}{{maid.photo.url}}{%endif%});"></div>
            <div class="card-body">
                <h6 class="card-title mb-0">{{maid.name}}</h6>
                <p class="card-text mb-1">{{maid.get_country_of_origin_display}}</p>
                <p class="card-text mb-1">{{maid.get_age}} years old</p>
                <p class="card-text mb-1">{{maid.get_marital_status_display}}</p>
                <p class="card-text mb-1">{{maid.get_maid_type_display}}</p>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'add_to_shortlist' maid.pk %}" class="btn btn-xs-lg btn-primary w-100">Add to Shortlist</a>
        </div>
    </div>
</a>
{% endcomment %}
    <div class="card maid-card" id='maid-{{maid.pk}}' data-maid='{{maid.pk}}' data-container="body" data-toggle="popover" data-placement="right" data-content="{{maid.get_popover_data}}">
        <div class="maid-thumbnail" style="background-image:url({%if maid.photo%}{{maid.photo.url}}{%endif%});"></div>
        <div class="card-body">
            <h6 class="card-title mb-0">{{maid.name}}</h6>
            <p class="card-text mb-1">{{maid.get_country_of_origin_display}}</p>
            <p class="card-text mb-1">{{maid.get_age}} years old</p>
            <p class="card-text mb-1">{{maid.get_marital_status_display}}</p>
            <p class="card-text mb-1">{{maid.get_maid_type_display}}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'add_to_shortlist' maid.pk %}" class="btn btn-xs-lg btn-primary w-100">Add to Shortlist</a>
        </div>
    </div>