<div class="container">
    <div class="row border">
        <div class="col">
            <div class="row bg-dashboard-primary">
                <div class="col">
                    <h6>name</h6>
                    <p class="fs 11">Basic Salary: </p>
                    <p class="fs 11">Rest Day Per Mth: </p>
                    <p class="fs 11">Languages: </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Employment History</h6>
                    <div class="row">
                        <div class="col-24">
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>