<footer>
    <div class="container-fluid bg-custom-bb text-light">
        <div class="row justify-content-center">
            <div class="col col-md-11 col-lg-10 col-xl-9">
                <div class="row pt-4 pb-3 pl-2 d-md-none">
                    <div class="col-6 mb-3">
                        <a href="{% url 'home' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Home</p></a>
                        <a href="{% url 'about_us' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">About Us</p></a>
                        <a href="{% url 'maid_list' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Search Maids</p></a>
                        <a href="{% url 'agency_list' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Maid Agencies</p></a>
                        <a href="{% url 'faq' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">FAQ</p></a>
                    </div>
                    <div class="col-6 mb-3">
                        <a href="{% url 'general_enquiry' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Send Enquiry</p></a>
                        <a href="{% url 'view_shortlist' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">View Shortlist</p></a>
                        <a href="{% url 'terms_and_conditions_user' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Terms &#38; Conditions</p></a>
                        <a href="{% url 'privacy_policy' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Privacy Policy</p></a>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'agency_sign_up' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Agency Sign Up</p></a>
                                <a href="{% url 'agency_sign_in' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Agency Log In</p></a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'potential_employer_create' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">User Sign Up</p></a>
                                <a href="{% url 'sign_in' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">User Login In</p></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-11"><i class="far fa-envelope"></i> support@onlinemaid.sg</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 pb-2 pl-0 d-none d-md-flex">
                    <div class="col">
                        <a href="{% url 'home' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Home</p></a>
                        <a href="{% url 'about_us' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">About Us</p></a>
                        <a href="{% url 'maid_list' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Search Maids</p></a>
                    </div>
                    <div class="col">
                        <a href="{% url 'agency_list' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Maid Agencies</p></a>
                        <a href="{% url 'faq' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">FAQ</p></a>
                        <a href="{% url 'general_enquiry' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Send Enquiry</p></a>
                    </div>
                    <div class="col">
                        <a href="{% url 'view_shortlist' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">View Shortlist</p></a>
                        <a href="{% url 'terms_and_conditions_user' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Terms &#38; Conditions</p></a>
                        <a href="{% url 'privacy_policy' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Privacy Policy</p></a>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'agency_sign_up' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Agency Sign Up</p></a>
                                <a href="{% url 'agency_sign_in' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">Agency Log In</p></a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'potential_employer_create' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">User Sign Up</p></a>
                                <a href="{% url 'sign_in' %}" class="footer-link text-reset"><p class="fs-11 mb-1 mb-xl-2">User Login In</p></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-11"><i class="far fa-envelope"></i> support@onlinemaid.sg</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr class="text-light">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2 text-center">
                        <p class="mb-1 fs-10">© 2021 Copyright OnlineMaid Pte Ltd. All Rights Reserve.</p>
                        <a href="https://storyset.com/web" class="d-none">Illustration by Freepik Storyset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>