<nav class="row sticky-top">
    {% with request.resolver_match.url_name as url_name %}
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="row new-side-nav-link {% if url_name == 'dashboard_home' %}active{% endif %}">
                    <div class="col-22">
                        <a class="nav-link new-side-nav-link {% if url_name == 'dashboard_home' %}active{% endif %}" href="{% url 'dashboard_home' %}">
                            <p class="m-1 pl-2">Dashboard</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if authority == 'Agency Owners' %}
        <div class="row">
            <div class="col">
                <div class="row new-side-nav-link {% if url_name == 'dashboard_agency_detail' %}active{% endif %}">
                    <div class="col-20">
                        <a class="nav-link new-side-nav-link {% if url_name == 'dashboard_agency_detail' %}active{% endif %}" href="{% url 'dashboard_agency_detail' %}">
                            <p class="m-1 pl-2">Agency Profile</p>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-center px-0">
                        <a class="navToggler" data-toggle="collapse" href="#agencyProfileManagementDropdownNav" role="button" aria-expanded="true" aria-controls="agencyProfileManagementDropdownNav">
                            <i class="fas nav-fa fa-chevron-{% if url_name == 'dashboard_agency_information_update' or url_name == 'dashboard_agency_outlet_details_update' or url_name == 'dashboard_agency_opening_hours_update' %}down{% else %}right{% endif %}"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse row {% if url_name == 'dashboard_agency_information_update' or url_name == 'dashboard_agency_outlet_details_update' or url_name == 'dashboard_agency_opening_hours_update' %}show{% endif %}" id="agencyProfileManagementDropdownNav">
                    <div class="col-24 new-side-nav-link {% if url_name == 'dashboard_agency_information_update' or url_name == 'dashboard_agency_outlet_details_update' or url_name == 'dashboard_agency_opening_hours_update' %}active{% endif %}">
                        <a href="{% url 'dashboard_agency_information_update' %}" class="nav-link new-side-nav-link text-smaller-slight">
                            <p class="m-1 pl-4">Update Agency Profile</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row new-side-nav-link {% if url_name == 'dashboard_account_list' %}active{% endif %}">
                    <div class="col-20">
                        <a class="nav-link new-side-nav-link {% if url_name == 'dashboard_account_list' %}active{% endif %}" href="{% url 'dashboard_account_list' %}">
                            <p class="m-1 pl-2">Employee Accounts</p>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-center px-0">
                        <a class="navToggler" data-toggle="collapse" href="#accountManagementDropdownNav" role="button" aria-expanded="true" aria-controls="accountManagementDropdownNav">
                            <i class="fas nav-fa fa-chevron-right"></i>
                        </a>
                    </div>  
                </div>
                <div class="collapse row {% if url_name == 'dashboard_agency_employee_create' or url_name == 'dashboard_agency_employee_update' %}show{% endif %}" id="accountManagementDropdownNav">
                    <div class="col-24 new-side-nav-link {% if url_name == 'dashboard_agency_employee_create' %}active{% endif %}">
                        <a href="{% url 'dashboard_agency_employee_create' %}" class="nav-link new-side-nav-link text-smaller-slight {% if url_name == 'dashboard_agency_employee_create' %}active{% endif %}">
                            <p class="m-1 pl-4">Add Employee</p>
                        </a>
                    </div>
                    <div class="col-24 new-side-nav-link {% if url_name == 'dashboard_agency_employee_update' %}active{% endif %}">
                        <a href="#" class="nav-link new-side-nav-link text-smaller-slight {% if url_name == 'dashboard_agency_employee_update' %}active{% else %}d-none{% endif %}">
                            <p class="m-1 pl-4">Update Employees</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <div class="row new-side-nav-link {% if url_name == 'dashboard_maid_list' %}active{% endif %}">
                    <div class="col-20">
                        <a class="nav-link new-side-nav-link {% if url_name == 'dashboard_maid_list' %}active{% endif %}" href="{% url 'dashboard_maid_list' %}">
                            <p class="m-1 pl-2">FDW Biodata</p>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-center px-0">
                        <a class="navToggler" data-toggle="collapse" href="#fdwManagementDropdownNav" role="button" aria-expanded="true" aria-controls="fdwManagementDropdownNav">
                            <i class="fas nav-fa fa-chevron-{% if url_name == 'dashboard_maid_information_create' or url_name == 'dashboard_maid_detail' or url_name == 'dashboard_maid_information_update' or url_name == 'dashboard_maid_language_spoken_update' or url_name == 'dashboard_maid_languages_and_fhpdr_update' or url_name == 'dashboard_maid_experience_update' or url_name == 'dashboard_maid_about_fdw_update' or url_name == 'dashboard_maid_loan_update'%}down{% else %}right{% endif %}"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse row {% if url_name == 'dashboard_maid_information_create' or url_name == 'dashboard_maid_detail' or url_name == 'dashboard_maid_information_update' or url_name == 'dashboard_maid_language_spoken_update' or url_name == 'dashboard_maid_languages_and_fhpdr_update' or url_name == 'dashboard_maid_experience_update' or url_name == 'dashboard_maid_about_fdw_update' or url_name == 'dashboard_maid_loan_update' %}show{% endif %}" id="fdwManagementDropdownNav">
                    <div class="col-24 new-side-nav-link {% if url_name == 'dashboard_maid_information_create' %}active{% endif %}">
                        <a href="{% url 'dashboard_maid_information_create' %}" class="nav-link new-side-nav-link text-smaller-slight">
                            <p class="m-1 pl-4">Add FDW</p>
                        </a>
                    </div>
                    <div class="col-24 new-side-nav-link {% if url_name == 'dashboard_maid_detail' %}active{% else %}d-none{% endif %}">
                        <a class="nav-link new-side-nav-link text-smaller-slight">
                            <p class="m-1 pl-4">FDW Profile</p>
                        </a>
                    </div>
                    <div class="col-24 new-side-nav-link {% if url_name == 'dashboard_maid_information_update' or url_name == 'dashboard_maid_language_spoken_update' or url_name == 'dashboard_maid_languages_and_fhpdr_update' or url_name == 'dashboard_maid_experience_update' or url_name == 'dashboard_maid_about_fdw_update' or url_name == 'dashboard_maid_loan_update' %}active{% else %}d-none{% endif %}">
                        <a class="nav-link new-side-nav-link text-smaller-slight">
                            <p class="m-1 pl-4">Update FDW</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row new-side-nav-link {% if url_name == 'dashboard_employers_list' %}active{% endif %}">
                    <div class="col-20">
                        <a class="nav-link new-side-nav-link {% if url_name == 'dashboard_employers_list' %}active{% endif %}" href="{% url 'dashboard_employers_list' %}">
                            <p class="m-1 pl-2">Employers</p>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-center px-0">
                        <a class="navToggler" data-toggle="collapse" href="#employersManagementDropdownNav" role="button" aria-expanded="true" aria-controls="employersManagementDropdownNav">
                            <i class="fas nav-fa fa-chevron-right"></i>
                        </a>
                    </div>  
                </div>
                <div class="collapse row {% if url_name == 'employer_create_route' or url_name == 'employer_update_route' %}show{% endif %}" id="employersManagementDropdownNav">
                    <div class="col-24 new-side-nav-link {% if url_name == 'employer_create_route' %}active{% endif %}">
                        <a href="{% url 'employer_create_route' %}" class="nav-link new-side-nav-link text-smaller-slight {% if url_name == 'employer_create_route' %}active{% endif %}">
                            <p class="m-1 pl-4">Add Employer</p>
                        </a>
                    </div>
                    <div class="col-24 new-side-nav-link">
                        <a href="#" class="nav-link new-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_list' %}active{% else %}d-none{% endif %}">
                            <p class="m-1 pl-4">Employer Profile</p>
                        </a>
                    </div>
                    <div class="col-24 new-side-nav-link">
                        <a href="#" class="nav-link new-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_list' %}active{% else %}d-none{% endif %}">
                            <p class="m-1 pl-4">Update Employer</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row new-side-nav-link {% if url_name == 'dashboard_case_list' %}active{% endif %}">
                    <div class="col-20">
                        <a class="nav-link new-side-nav-link {% if url_name == 'dashboard_case_list' %}active{% endif %}" href="{% url 'dashboard_case_list' %}">
                            <p class="m-1 pl-2">Cases</p>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-center px-0">
                        <a class="navToggler" data-toggle="collapse" href="#caseManagementDropdownNav" role="button" aria-expanded="true" aria-controls="caseManagementDropdownNav">
                            <i class="fas nav-fa fa-chevron-right"></i>
                        </a>
                    </div>  
                </div>
                <div class="collapse row" id="caseManagementDropdownNav">
                    <div class="col-24 new-side-nav-link">
                        <a href="{% url 'case_create_route' %}" class="nav-link new-side-nav-link text-smaller-slight">
                            <p class="m-1 pl-4">Add Case</p>
                        </a>
                    </div>
                    <div class="col-24 new-side-nav-link">
                        <a href="#" class="nav-link new-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_list' %}active{% else %}d-none{% endif %}">
                            <p class="m-1 pl-4">Case Profile</p>
                        </a>
                    </div>
                    <div class="col-24 new-side-nav-link">
                        <a href="#" class="nav-link new-side-nav-link text-smaller-slight {% if url_name == 'dashboard_maid_list' %}active{% else %}d-none{% endif %}">
                            <p class="m-1 pl-4">Update Case</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row new-side-nav-link {% if url_name == 'dashboard_sales_list' %}active{% endif %}">
            <div class="col">
                <a class="nav-link new-side-nav-link" href="{% url 'dashboard_sales_list' %}" class="">
                    <p class="m-1 pl-2">Sales Summary</p>
                </a>
            </div>
        </div>
        <div class="row new-side-nav-link {% if url_name == 'dashboard_status_list' %}active{% endif %}">
            <div class="col">
                <a class="nav-link new-side-nav-link" href="{% url 'dashboard_status_list' %}" class="">
                    <p class="m-1 pl-2">Status Summary</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row new-side-nav-link">
                    <div class="col-20">
                        <a class="nav-link new-side-nav-link" href="{% url 'dashboard_general_enquiries_list' %}">
                            <p class="m-1 pl-2">Enquiries</p>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-center px-0">
                        <a class="navToggler" data-toggle="collapse" href="#enquiriesDropdownNav" role="button" aria-expanded="true" aria-controls="enquiriesDropdownNav">
                            <i class="fas nav-fa fa-chevron-{% if url_name == 'dashboard_general_enquiries_list' or url_name == 'dashboard_shortlisted_enquiries_list' %}down{% else %}right{% endif %}"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse row {% if url_name == 'dashboard_general_enquiries_list' or url_name == 'dashboard_shortlisted_enquiries_list' %}show{% endif %}" id="enquiriesDropdownNav">
                    <div class="col-24 new-side-nav-link {% if url_name == 'dashboard_general_enquiries_list' %}active{% endif %}">
                        <a href="{% url 'dashboard_general_enquiries_list' %}" class="nav-link new-side-nav-link text-smaller-slight">
                            <p class="m-1 pl-4">General Enquiries</p>
                        </a>
                    </div>
                    <div class="col-24 new-side-nav-link {% if url_name == 'dashboard_shortlisted_enquiries_list' %}active{% endif %}">
                        <a href="{% url 'dashboard_shortlisted_enquiries_list' %}" class="nav-link new-side-nav-link text-smaller-slight">
                            <p class="m-1 pl-4">Shortlisted Enquiries</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row new-side-nav-link {% if url_name == 'dashboard_agency_plan_list' %}active{% endif %}">
                    <div class="col-20">
                        <a class="nav-link new-side-nav-link" href="{% url 'dashboard_agency_plan_list' %}">
                            <p class="m-1 pl-2">Subscriptions</p>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-center px-0">
                        <a class="navToggler" data-toggle="collapse" href="#subscriptionDropdownNav" role="button" aria-expanded="true" aria-controls="subscriptionDropdownNav">
                            <i class="fas nav-fa fa-chevron-{% if url_name == 'dashboard_agency_plan_list' or url_name == 'view_cart' %}down{% else %}right{% endif %}"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse row {% if url_name == 'dashboard_agency_plan_list' or url_name == 'view_cart' %}show{% endif %}" id="subscriptionDropdownNav">
                    <div class="col-24 new-side-nav-link {% if url_name == 'view_cart' %}active{% endif %}">
                        <a href="{% url 'view_cart' %}" class="nav-link new-side-nav-link text-smaller-slight">
                            <p class="m-1 pl-4">Shopping Cart</p>
                        </a>
                    </div>
                    <div class="col-24 new-side-nav-link">
                        <a href="{% url 'stripe_customer_portal' %}" class="nav-link new-side-nav-link text-smaller-slight">
                            <p class="m-1 pl-4">Billing History</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
</nav>