/*------------------------------------*\
  #BASE
\*------------------------------------*/
html {
  scroll-behavior: smooth;
  position: relative;
  font-size: clamp(1rem, 1vw, 2rem);
  font-family: 'Roboto';
}

body {
  background-color: white;
  color: #4D4D4D;
  font-size: 0.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: 'header' 'main' 'footer';
  height: 100vh;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 0.8rem;
}

th {
  font-size: 0.85rem;
  font-weight: 400;
}

td {
  font-size: 0.8rem;
}

li a {
  display: block;
}

.form-control {
  font-size: 0.8rem;
}

a:hover {
  color: #4d4d4d;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.menu-icon {
  position: fixed;
  /* Needs to stay visible for all mobile scrolling */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 7px;
  left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4082BF;
  color: white;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 10px;
}

/* Give every child element its grid name */
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #4082BF;
  font-size: 1.1rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: #4d4d4d;
}

/* Make room for the menu icon on mobile */
.header__agency-name {
  margin-left: 42px;
  font-weight: 500;
}

.navbar__link {
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  background-color: #4082BF;
  color: white;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 10px;
}

/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/
.sidebar {
  font-size: 0.85rem;
  grid-area: sidebar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  -webkit-transform: translateX(-245px);
          transform: translateX(-245px);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  z-index: 2;
  /* Needs to sit above the hamburger menu icon */
  background-color: #E6F3FF;
}

.sidebar.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidebar__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #4d4d4d;
}

.sidebar__list {
  padding: 0;
  list-style-type: none;
}

.sidebar__list-item a {
  padding: 5% 10%;
  text-decoration: none;
  color: #4d4d4d;
}

.sidebar__list-item--active {
  background-color: white;
  font-weight: 500;
}

.sidebar__list-item:hover {
  background-color: white;
  cursor: pointer;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer {
  font-size: 0.85rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0.5rem;
  background-color: #4082BF;
  color: white;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #4d4d4d;
}

/*------------------------------------*\
  #GENERAL CONTENT
\*------------------------------------*/
.table {
  margin-bottom: 1.5rem;
}

.table__header th {
  background: #E6F3FF;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  font-size: 0.85rem;
}

.table thead th {
  border-bottom: 0;
}

.table__entry td {
  font-size: 0.8rem;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

tbody tr:nth-child(even) {
  background: #F9F9F9;
}

tbody tr:nth-child(odd) {
  background: white;
}

.table__entry tr:hover {
  background: #F4F4F4;
}

.fine-print {
  color: #6c757d;
  font-size: 0.65rem;
}

.form__header {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: #3872a8;
  padding: 0.75rem;
}

.form__header-option {
  background: #e0ecff;
  margin-top: 1.5rem;
  padding: 1rem;
}

.form__subheader {
  font-weight: 500;
  background: #ddebf7;
  padding: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.form__section {
  padding: 1.5rem 0.75rem 4rem 0.75rem;
}

.form__sub-section {
  padding: 0.75rem;
}

.disabled {
  background-color: #e9ecef;
}

.btn {
  padding: 0.7rem 1.25rem;
}

.filter-section {
  margin-top: 2rem;
}

.filter-section__input {
  margin-bottom: 1.5rem;
}

/*------------------------------------*\
  #CONTENT LAYOUT
\*------------------------------------*/
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: white;
  color: #4d4d4d;
  padding: 5%;
}

/*------------------------------------*\
  #MAIN DASHBOARD PAGE
\*------------------------------------*/
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: white;
  color: #4d4d4d;
  padding: 5%;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 2vw;
}

.dashboard-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  color: white;
  background-color: #669BCC;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.85rem;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-alt {
  background-color: #66CCCA;
}

.dashboard-card__body {
  padding: 1.25rem;
}

.dashboard-card__icon {
  position: absolute;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.dashboard-card__footer {
  margin-top: auto;
  padding: .75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 80%;
  z-index: 1;
  color: white;
}

.dashboard-card__footer::after {
  display: block;
  content: "";
  clear: both;
}

/*------------------------------------*\
  #ACCOUNT MANAGEMENT PAGE
\*------------------------------------*/
/*------------------------------------*\
  #AGENCY PROFILE PAGE
\*------------------------------------*/
/*------------------------------------*\
  #EDIT AGENCY PROFILE PAGE
\*------------------------------------*/
/*------------------------------------*\
  #SUBSCRIPTIONS PAGE
\*------------------------------------*/
.bg-basic {
  background-color: #fff2e6;
}

.basic-btn {
  background-color: #ffcc99;
}

.bg-standard {
  background-color: #e6f7ff;
}

.bg-standard-2 {
  background-color: #77deee;
}

.standard-btn {
  background-color: #b3e6ff;
}

.bg-premium {
  background-color: #e6fff9;
}

.premium-btn {
  background-color: #b3ffec;
}

.cart-total {
  border-bottom: 2px solid #dee2e6;
  border-top: 2px solid #dee2e6;
}

/*------------------------------------*\
  #SHOPPING CART PAGE
\*------------------------------------*/
/*------------------------------------*\
  #ORDER CONFIRMATION PAGE
\*------------------------------------*/
/*------------------------------------*\
  #BILLING HISTORY PAGE
\*------------------------------------*/
/*------------------------------------*\
  #FDW BIODATA PAGE
\*------------------------------------*/
.biodata {
  display: -webkit-inline-box;
  padding: 0 0.4rem 0 0;
}

.biodata-header {
  padding: 0.5rem 1.25rem;
}

/*------------------------------------*\
  #ADD/EDIT BIODATA PAGE
\*------------------------------------*/
table#employment_history {
  width: 100%;
  margin-bottom: 1.3rem;
}

table#employment_history tr:first-child td {
  border-top: gainsboro solid 1px;
}

table#employment_history td {
  border-bottom: gainsboro solid 1px;
  padding: 0.3rem;
}

/*------------------------------------*\
  #EMPLOYERS PAGE
\*------------------------------------*/
/*------------------------------------*\
  #ADD/EDIT EMPLOYERS PAGE
\*------------------------------------*/
#scrollBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #4d4d4d;
  color: white;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

#scrollBtn:hover {
  background-color: gray;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

/*------------------------------------*\
  #SALES SUMMARY PAGE
\*------------------------------------*/
/*------------------------------------*\
  #STATUS SUMMARY PAGE
\*------------------------------------*/
/*------------------------------------*\
  #SHORTLISTED ENQUIRIES PAGE
\*------------------------------------*/
/*------------------------------------*\
  #GENERAL ENQUIRIES PAGE
\*------------------------------------*/
/*------------------------------------*\
  #CHANGE PASSWORD PAGE
\*------------------------------------*/
/*------------------------------------*\
  #TERM OF SERVICE PAGE
\*------------------------------------*/
/*------------------------------------*\
  #MOBILE RESPONSIVENESS
\*------------------------------------*/
/*#wrapper {*/
/*  display: -webkit-box;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*}*/
/*#wrapper #content-wrapper {*/
/*  overflow-x: hidden;*/
/*  width: 100%;*/
/*  padding-top: 1rem;*/
/*  padding-bottom: 80px;*/
/*}*/
.white-link {
  color: #F8F8FF;
}

.white-link:hover {
  color: #DCDCDC;
}

.terms td {
  vertical-align: text-top;
}

.terms tr td:nth-child(1) {
  width: 5%;
}

/*End of General*/
.btn-success, .btn--submit {
  font-size: 0.85rem;
  color: white;
  background-color: #28a745;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-danger, .btn--cancel {
  font-size: 0.85rem;
  color: white;
  background-color: #dc3545;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-info {
  background-color: #FF942A;
  border-color: lightgray;
}

.btn-blue {
  font-size: 0.85rem;
  background-color: #669BCC;
  border-color: lightgray;
}

.btn-green, .btn--add {
  font-size: 0.85rem;
  background-color: #66CCCA;
  border-color: lightgray;
}

.text-muted {
  background-color: #ffffff;
}

/*End of dashboard*/
/* Responsive table for mobile view*/
@media screen and (max-width: 991.98px) {
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border: 1px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd !important;
    display: block;
    text-align: right;
  }
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: 500;
  }
  table td:last-child {
    border-bottom: 0 !important;
  }
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 750px) {
  /* Show the sidebar */
  body {
    -ms-grid-columns: 20% 1fr;
        grid-template-columns: 20% 1fr;
        grid-template-areas: "header header" "sidebar main" "footer footer";
  }
  .header__agency-name {
    margin-left: 0;
  }
  .sidebar {
    width: 100%;
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .sidebar__close-icon {
    visibility: hidden;
  }
  .header {
    z-index: 2;
  }
  .dashboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 2vw;
  }
}
/*# sourceMappingURL=dashboard.css.map */