{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">

        <!-- Manifest -->
        <link rel="manifest" href="{% static 'site.webmanifest' %}">

        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

        <!-- Hover CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik:wght@300;500;700&display=swap" rel="stylesheet">

        <!-- AOS CSS -->
        <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
        
        <!-- Flatpickr CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <!-- Slick Carousel CSS -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

        <!-- Tippy CSS -->
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css" />

        <!-- No Ui Slider CSS -->
        <link rel="stylesheet" href="{% static 'css/vendor/nouislider/nouislider.min.css' %}">

        <!-- Slick Carouel CSS -->
        <link rel="stylesheet" href="{% static 'css/vendor/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/slick/slick-theme.css' %}">

        <!-- Apex Charts CSS -->
        <link rel="stylesheet" href="{% static 'css/vendor/apexcharts/apexcharts.css' %}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" href="{% static 'css/icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/forms.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/argon/argon_table.css' %}">
        <link rel="stylesheet" href="{% static 'css/toast.css' %}">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
        {% block css %}{% endblock css %}
        {% block head %}{% endblock head %}

        <title>Online Maid</title>
    </head>
    <body class="dashboard-body">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{% url 'dashboard_home' %}">Times Recruitment Agency</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ml-auto">
                        <!-- <li class="nav-item">
                          <a class="nav-link text-light" href="{% url 'home' %}">Website</a>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="userActionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{user.email}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userActionDropdown">
                                <a class="dropdown-item" href="{% url 'home' %}">Website</a>
                                <a class="dropdown-item" href="{% url 'sign_out' %}">Sign Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {% include 'messages.html' %}
            <section>
                <div class="container-fluid">
                    <div class="row">
                        {% with request.resolver_match.url_name as url_name %}
                            {% if url_name in dashboard_side_nav_list%}
                            <div id="dashboardSideNavWrapper" class="col-md-3 col-lg-3 bg-light text-dark">
                                {% include 'components/nav/new-dashboard-side-nav.html' with authority=authority %}
                            </div>
                            {% else %}
                            <div id="dashboardSideNavWrapper" class="col-md-3 col-lg-2 bg-light text-dark">
                                {% include 'components/nav/new-dashboard-side-nav.html' with authority=authority %}
                            </div>
                            {% endif %}
                            <div id="dashboardMainContentWrapper" class="col p-6">
                                {% block dashboard_section %}
                                {% endblock dashboard_section %}
                            </div>
                        {% endwith %}
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container-fluid bg-primary text-light">
                <div class="row">
                    <div class="col mt-4 mb-3 text-center">
                        <p class="mb-0">© 2020 Copyright OnlineMaid</p>
                        <p>All Rights Reserved</p>
                        <a href="https://storyset.com/web" class="text-reset small d-none">Illustration by Freepik Storyset</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script>
            window.onload = () => {
                AOS.init({
                    disable: 'mobile'
                });
                $(".toast").toast('show');
            }
        </script>
        <script src="{% static 'js/vendor/nouislider/nouislider.min.js' %}"></script>
        <script src="{% static 'js/vendor/nouislider/nouislider.js' %}"></script>
        <script src="{% static 'js/vendor/slick/slick.min.js' %}"></script>
        <script src="{% static 'js/vendor/apexcharts/apexcharts.min.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
        <script>
            $(function(){
                MO(
                    {
                        "nodeName": document.getElementById('dashboardMainSideNavbar'),
                        "settings": {
                            attributes: true,
                            attributeFilter : ['style', 'className']
                        }
                    },
                    (mutations)=>{
                        if(mutations[0].target.id == "dashboardMainSideNavbar") {
                            if($("#dashboardMainSideNavbar").hasClass("show")){
                                if(!$("#dashboardSideNavWrapper").hasClass("col-lg-3")){
                                    $("#dashboardSideNavWrapper").addClass("col-lg-3");
                                    $("#dashboardSideNavWrapper").removeClass("col-lg-2");
                                }
                            } else {
                                if(!$("#dashboardSideNavWrapper").hasClass("col-lg-2")){
                                    $("#dashboardSideNavWrapper").addClass("col-lg-2");
                                    $("#dashboardSideNavWrapper").removeClass("col-lg-3");
                                }
                            }
                        }
                    },
                    true
                );
            });
            $(function(){
                $(".navToggler").on('click', function(){
                    $(this).find('i').toggleClass('fa-angle-double-right fa-angle-double-down');
                });
            });
        </script>
        {% block js %}
        {% endblock js %}
    </body>
</html>