{% load static %}
<!doctype html>
<html lang="en">
    {% include 'components/head_section.html' %}
    <body class="dashboard-body">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dashboard-primary">
                <a class="navbar-brand fs-16" href="{% url 'dashboard_home' %}">Times Recruitment Agency</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="userActionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{user.email}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userActionDropdown">
                                <a class="dropdown-item" href="{% url 'home' %}">Website</a>
                                <a class="dropdown-item" href="{% url 'sign_out' %}">Sign Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {% include 'messages.html' %}
            <section>
                <div class="container-fluid">
                    <div class="row" style="min-height: 90vh;">
                        {% with request.resolver_match.url_name as url_name %}
                            {% if url_name in dashboard_side_nav_list %}
                            <div id="dashboardSideNavWrapper" class="col col-md-3 col-lg-2-5 col-xl-1-5 bg-dashboard-navbar-color text-dashboard-text-color collapse show">
                                {% include 'components/nav/dashboard-side-nav.html' with authority=authority %}
                            </div>
                            <div id="dashboardPageNavWrapper" class="col col-md-2-5 col-lg-2-5 col-xl-1-5 bg-dashboard-pagebar-color text-dashboard-text-color">
                                {% if url_name == 'dashboard_maid_information_create' or url_name == 'dashboard_maid_language_spoken_update' or url_name == 'dashboard_maid_languages_and_fhpdr_update' or url_name == 'dashboard_maid_experience_update' or url_name == 'dashboard_maid_about_fdw_update' or url_name == 'dashboard_maid_information_update' or url_name == 'dashboard_maid_loan_update' or url_name == 'dashboard_maid_employment_history_update' %}
                                    <div class="col">   
                                    {% include 'components/nav/mini-navs/maid-create-mini-nav.html' %}
                                    </div>
                                {% endif %}
                                {% if url_name == 'dashboard_agency_detail' %}
                                    <div class="col">   
                                    {% include 'components/nav/mini-navs/agency-profile-mini-nav.html' %}
                                    </div>
                                {% endif %}
                                {% if url_name == 'dashboard_agency_update' %}
                                    <div class="col">   
                                    {% include 'components/nav/mini-navs/agency-profile-mini-nav.html' %}
                                    </div>
                                {% endif %}
                                {% if url_name == 'dashboard_agency_information_update' or url_name == 'dashboard_agency_opening_hours_update' or url_name == 'dashboard_agency_outlet_details_update' %}
                                    <div class="col">   
                                    {% include 'components/nav/mini-navs/agency-update-mini-nav.html' %}
                                    </div>
                                {% endif %}
                                {% if url_name == 'dashboard_agency_employee_create' or url_name == 'dashboard_agency_employee_update' %}
                                    <div class="col">   
                                    {% include 'components/nav/mini-navs/agency-employee-mini-nav.html' %}
                                    </div>
                                {% endif %}
                                {% if url_name in employer_crud_pagebar_urls %}
                                    <div class="col">   
                                    {% include 'components/nav/mini-navs/employer-mini-nav.html' %}
                                    </div>
                                {% endif %}
                                {% if url_name in case_crud_pagebar_urls %}
                                    <div class="col">   
                                    {% include 'components/nav/mini-navs/case-mini-nav.html' %}
                                    </div>
                                {% endif %}
                            </div>
                            {% else %}
                            <div id="dashboardSideNavWrapper" class="col col-md-3 col-lg-2 bg-dashboard-navbar-color text-dark">
                                {% include 'components/nav/dashboard-side-nav.html' with authority=authority %}
                            </div>
                            {% endif %}
                            <div id="dashboardMainContentWrapper" class="col p-3 p-md-4 p-lg-5 p-xl-6">
                                {% block dashboard_section %}
                                {% endblock dashboard_section %}
                            </div>
                        {% endwith %}
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container-fluid bg-primary text-light">
                <div class="row">
                    <div class="col mt-4 mb-3 text-center">
                        <p class="mb-0">© 2020 Copyright OnlineMaid</p>
                        <p>All Rights Reserved</p>
                        <a href="https://storyset.com/web" class="text-reset small d-none">Illustration by Freepik Storyset</a>
                    </div>
                </div>
            </div>
        </footer>
        {% include 'components/js_section.html' %}
        <script>
            $(function(){
                MO(
                    {
                        "nodeName": document.getElementById('dashboardMainSideNavbar'),
                        "settings": {
                            attributes: true,
                            attributeFilter : ['style', 'className']
                        }
                    },
                    (mutations)=>{
                        if(mutations[0].target.id == "dashboardSideNavWrapper") {
                            if($("#dashboardSideNavWrapper").hasClass("show")){
                                $("#dashboardSideNavWrapper").removeClass("show");
                            } else {
                                $("#dashboardSideNavWrapper").addClass("show");
                            }
                        }
                    },
                    true
                );
            });
            $(function(){
                $(".navToggler").on('click', function(){
                    $(this).find('i').toggleClass('fa-angle-double-right fa-angle-double-down');
                });
            });
        </script>
        {% block js %}
        {% endblock js %}
    </body>
</html>